<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mika.credit.facade.front.cn.dao.impl.BgtDaoImpl" >
  <cache eviction="LRU" type="com.mika.credit.common.core.mybatis.cache.redis.sharded.MybatiesRedisCache" />
  <resultMap id="BaseResultMap" type="com.mika.credit.common.entity.report.cn.Bgt" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="crefo_no" property="crefoNo" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="LONGVARCHAR" />
    <result column="bg_date" property="bgDate" jdbcType="LONGVARCHAR" />
    <result column="bgt_id" property="bgtId" jdbcType="LONGVARCHAR" />
    <result column="body" property="body" jdbcType="LONGVARCHAR" />
    <result column="case_cause" property="caseCause" jdbcType="LONGVARCHAR" />
    <result column="case_no" property="caseNo" jdbcType="LONGVARCHAR" />
    <result column="court" property="court" jdbcType="LONGVARCHAR" />
    <result column="unexec_money" property="unexecMoney" jdbcType="LONGVARCHAR" />
    <result column="idcard_no" property="idcardNo" jdbcType="LONGVARCHAR" />
    <result column="party_type" property="partyType" jdbcType="LONGVARCHAR" />
    <result column="pname" property="pname" jdbcType="LONGVARCHAR" />
    <result column="proposer" property="proposer" jdbcType="LONGVARCHAR" />
    <result column="sort_time" property="sortTime" jdbcType="LONGVARCHAR" />
    <result column="exec_money" property="execMoney" jdbcType="LONGVARCHAR" />
    <result column="yiju" property="yiju" jdbcType="LONGVARCHAR" />
    <result column="full_report_id" property="fullReportId" jdbcType="INTEGER" />
  </resultMap>

  <sql id="table"> bgt </sql>

  <sql id="Base_Column_List" >
    id, crefo_no, update_time,
    address, bg_date, bgt_id, body, case_cause, case_no, court, unexec_money, idcard_no,
    party_type, pname, proposer, sort_time, exec_money, yiju,full_report_id
  </sql>

  <sql id="condition_sql">
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="crefoNo != null" >
      and crefo_no = #{crefoNo,jdbcType=VARCHAR}
    </if>
    <if test="updateTime != null" >
      and update_time = #{updateTime,jdbcType=VARCHAR}
    </if>
    <if test="address != null" >
      and address = #{address,jdbcType=LONGVARCHAR}
    </if>
    <if test="bgDate != null" >
      and bg_date = #{bgDate,jdbcType=LONGVARCHAR}
    </if>
    <if test="bgtId != null" >
      and bgt_id = #{bgtId,jdbcType=LONGVARCHAR}
    </if>
    <if test="body != null" >
      and body = #{body,jdbcType=LONGVARCHAR}
    </if>
    <if test="caseCause != null" >
      and case_cause = #{caseCause,jdbcType=LONGVARCHAR}
    </if>
    <if test="caseNo != null" >
      and case_no = #{caseNo,jdbcType=LONGVARCHAR}
    </if>
    <if test="court != null" >
      and court = #{court,jdbcType=LONGVARCHAR}
    </if>
    <if test="unexecMoney != null" >
      and unexec_money = #{unexecMoney,jdbcType=LONGVARCHAR}
    </if>
    <if test="idcardNo != null" >
      and idcard_no = #{idcardNo,jdbcType=LONGVARCHAR}
    </if>
    <if test="partyType != null" >
      and party_type = #{partyType,jdbcType=LONGVARCHAR}
    </if>
    <if test="pname != null" >
      and pname = #{pname,jdbcType=LONGVARCHAR}
    </if>
    <if test="proposer != null" >
      and proposer = #{proposer,jdbcType=LONGVARCHAR}
    </if>
    <if test="sortTime != null" >
      and sort_time = #{sortTime,jdbcType=LONGVARCHAR}
    </if>
    <if test="execMoney != null" >
      and exec_money = #{execMoney,jdbcType=LONGVARCHAR}
    </if>
    <if test="yiju != null" >
      and yiju = #{yiju,jdbcType=LONGVARCHAR}
    </if>
    <if test="fullReportId != null" >
      and full_report_id = #{fullReportId,jdbcType=INTEGER}
    </if>
  </sql>

  <select id="getById" parameterType="Integer" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    where ID = #{id}
  </select>

  <select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
  </select>

  <select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
    <![CDATA[ order by ID desc]]>
  </select>

  <select id="listPageCount" parameterType="java.util.Map" resultType="Integer">
    select count(1) from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
  </select>

  <insert id="insert" parameterType="com.mika.credit.common.entity.report.cn.Bgt" keyProperty="id" useGeneratedKeys="true">
    insert into
    <include refid="table" />
    (id, crefo_no, update_time,
    address, bg_date, bgt_id,
    body, case_cause, case_no,
    court, unexec_money, idcard_no,
    party_type, pname, proposer,
    sort_time, exec_money, yiju,full_report_id
    )
    values (#{id,jdbcType=INTEGER}, #{crefoNo,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR},
    #{address,jdbcType=LONGVARCHAR}, #{bgDate,jdbcType=LONGVARCHAR}, #{bgtId,jdbcType=LONGVARCHAR},
    #{body,jdbcType=LONGVARCHAR}, #{caseCause,jdbcType=LONGVARCHAR}, #{caseNo,jdbcType=LONGVARCHAR},
    #{court,jdbcType=LONGVARCHAR}, #{unexecMoney,jdbcType=LONGVARCHAR}, #{idcardNo,jdbcType=LONGVARCHAR},
    #{partyType,jdbcType=LONGVARCHAR}, #{pname,jdbcType=LONGVARCHAR}, #{proposer,jdbcType=LONGVARCHAR},
    #{sortTime,jdbcType=LONGVARCHAR}, #{execMoney,jdbcType=LONGVARCHAR}, #{yiju,jdbcType=LONGVARCHAR},
    #{fullReportId,jdbcType=INTEGER}
    )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from
    <include refid="table" />
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <update id="update" parameterType="com.mika.credit.common.entity.report.cn.Bgt" >
    update bgt
    set crefo_no = #{crefoNo,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      address = #{address,jdbcType=LONGVARCHAR},
      bg_date = #{bgDate,jdbcType=LONGVARCHAR},
      bgt_id = #{bgtId,jdbcType=LONGVARCHAR},
      body = #{body,jdbcType=LONGVARCHAR},
      case_cause = #{caseCause,jdbcType=LONGVARCHAR},
      case_no = #{caseNo,jdbcType=LONGVARCHAR},
      court = #{court,jdbcType=LONGVARCHAR},
      unexec_money = #{unexecMoney,jdbcType=LONGVARCHAR},
      idcard_no = #{idcardNo,jdbcType=LONGVARCHAR},
      party_type = #{partyType,jdbcType=LONGVARCHAR},
      pname = #{pname,jdbcType=LONGVARCHAR},
      proposer = #{proposer,jdbcType=LONGVARCHAR},
      sort_time = #{sortTime,jdbcType=LONGVARCHAR},
      exec_money = #{execMoney,jdbcType=LONGVARCHAR},
      yiju = #{yiju,jdbcType=LONGVARCHAR},
      full_report_id = #{fullReportId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertSelective" parameterType="com.mika.credit.common.entity.report.cn.Bgt" >
    insert into bgt
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="crefoNo != null" >
        crefo_no,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="bgDate != null" >
        bg_date,
      </if>
      <if test="bgtId != null" >
        bgt_id,
      </if>
      <if test="body != null" >
        body,
      </if>
      <if test="caseCause != null" >
        case_cause,
      </if>
      <if test="caseNo != null" >
        case_no,
      </if>
      <if test="court != null" >
        court,
      </if>
      <if test="unexecMoney != null" >
        unexec_money,
      </if>
      <if test="idcardNo != null" >
        idcard_no,
      </if>
      <if test="partyType != null" >
        party_type,
      </if>
      <if test="pname != null" >
        pname,
      </if>
      <if test="proposer != null" >
        proposer,
      </if>
      <if test="sortTime != null" >
        sort_time,
      </if>
      <if test="execMoney != null" >
        exec_money,
      </if>
      <if test="yiju != null" >
        yiju,
      </if>
      <if test="fullReportId != null" >
        full_report_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="crefoNo != null" >
        #{crefoNo,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=LONGVARCHAR},
      </if>
      <if test="bgDate != null" >
        #{bgDate,jdbcType=LONGVARCHAR},
      </if>
      <if test="bgtId != null" >
        #{bgtId,jdbcType=LONGVARCHAR},
      </if>
      <if test="body != null" >
        #{body,jdbcType=LONGVARCHAR},
      </if>
      <if test="caseCause != null" >
        #{caseCause,jdbcType=LONGVARCHAR},
      </if>
      <if test="caseNo != null" >
        #{caseNo,jdbcType=LONGVARCHAR},
      </if>
      <if test="court != null" >
        #{court,jdbcType=LONGVARCHAR},
      </if>
      <if test="unexecMoney != null" >
        #{unexecMoney,jdbcType=LONGVARCHAR},
      </if>
      <if test="idcardNo != null" >
        #{idcardNo,jdbcType=LONGVARCHAR},
      </if>
      <if test="partyType != null" >
        #{partyType,jdbcType=LONGVARCHAR},
      </if>
      <if test="pname != null" >
        #{pname,jdbcType=LONGVARCHAR},
      </if>
      <if test="proposer != null" >
        #{proposer,jdbcType=LONGVARCHAR},
      </if>
      <if test="sortTime != null" >
        #{sortTime,jdbcType=LONGVARCHAR},
      </if>
      <if test="execMoney != null" >
        #{execMoney,jdbcType=LONGVARCHAR},
      </if>
      <if test="yiju != null" >
        #{yiju,jdbcType=LONGVARCHAR},
      </if>
      <if test="fullReportId != null" >
        #{fullReportId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateSelective" parameterType="com.mika.credit.common.entity.report.cn.Bgt" >
    update bgt
    <set >
      <if test="crefoNo != null" >
        crefo_no = #{crefoNo,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=LONGVARCHAR},
      </if>
      <if test="bgDate != null" >
        bg_date = #{bgDate,jdbcType=LONGVARCHAR},
      </if>
      <if test="bgtId != null" >
        bgt_id = #{bgtId,jdbcType=LONGVARCHAR},
      </if>
      <if test="body != null" >
        body = #{body,jdbcType=LONGVARCHAR},
      </if>
      <if test="caseCause != null" >
        case_cause = #{caseCause,jdbcType=LONGVARCHAR},
      </if>
      <if test="caseNo != null" >
        case_no = #{caseNo,jdbcType=LONGVARCHAR},
      </if>
      <if test="court != null" >
        court = #{court,jdbcType=LONGVARCHAR},
      </if>
      <if test="unexecMoney != null" >
        unexec_money = #{unexecMoney,jdbcType=LONGVARCHAR},
      </if>
      <if test="idcardNo != null" >
        idcard_no = #{idcardNo,jdbcType=LONGVARCHAR},
      </if>
      <if test="partyType != null" >
        party_type = #{partyType,jdbcType=LONGVARCHAR},
      </if>
      <if test="pname != null" >
        pname = #{pname,jdbcType=LONGVARCHAR},
      </if>
      <if test="proposer != null" >
        proposer = #{proposer,jdbcType=LONGVARCHAR},
      </if>
      <if test="sortTime != null" >
        sort_time = #{sortTime,jdbcType=LONGVARCHAR},
      </if>
      <if test="execMoney != null" >
        exec_money = #{execMoney,jdbcType=LONGVARCHAR},
      </if>
      <if test="yiju != null" >
        yiju = #{yiju,jdbcType=LONGVARCHAR},
      </if>
      <if test="fullReportId != null" >
        full_report_id = #{fullReportId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>