<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mika.credit.facade.front.cn.dao.impl.ChattelMortgageDaoImpl" >
  <cache eviction="LRU" type="com.mika.credit.common.core.mybatis.cache.redis.sharded.MybatiesRedisCache" />

  <resultMap id="BaseResultMap" type="com.mika.credit.common.entity.report.cn.ChattelMortgage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="VARCHAR" />
    <result column="crefo_no" property="crefoNo" jdbcType="VARCHAR" />
    <result column="details" property="details" jdbcType="VARCHAR" />
    <result column="registration_date" property="registrationDate" jdbcType="VARCHAR" />
    <result column="registration_no" property="registrationNo" jdbcType="VARCHAR" />
    <result column="registration_offices" property="registrationOffices" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="full_report_id" property="fullReportId" jdbcType="INTEGER" />
  </resultMap>

  <sql id="table"> chattel_mortgage </sql>

  <sql id="Base_Column_List" >
    id, amount, crefo_no, details, registration_date, registration_no, registration_offices, 
    status, update_time,full_report_id
  </sql>

  <sql id="condition_sql">
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="amount != null" >
      and amount = #{amount,jdbcType=VARCHAR}
    </if>
    <if test="crefoNo != null" >
      and crefo_no = #{crefoNo,jdbcType=VARCHAR}
    </if>
    <if test="details != null" >
      and details = #{details,jdbcType=VARCHAR}
    </if>
    <if test="registrationDate != null" >
      and registration_date = #{registrationDate,jdbcType=VARCHAR}
    </if>
    <if test="registrationNo != null" >
      and registration_no = #{registrationNo,jdbcType=VARCHAR}
    </if>
    <if test="registrationOffices != null" >
      and registration_offices = #{registrationOffices,jdbcType=VARCHAR}
    </if>
    <if test="status != null" >
      and status = #{status,jdbcType=VARCHAR}
    </if>
    <if test="updateTime != null" >
      and update_time = #{updateTime,jdbcType=VARCHAR}
    </if>
    <if test="fullReportId != null" >
      and full_report_id = #{fullReportId,jdbcType=INTEGER}
    </if>
  </sql>

  <select id="getById" parameterType="Integer" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    where ID = #{id}
  </select>

  <select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
  </select>

  <select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
    <![CDATA[ order by ID desc]]>
  </select>

  <select id="listPageCount" parameterType="java.util.Map" resultType="Integer">
    select count(1) from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
  </select>

  <insert id="insert" parameterType="com.mika.credit.common.entity.report.cn.ChattelMortgage" keyProperty="id" useGeneratedKeys="true">
    insert into
    <include refid="table" />
    (id, amount, crefo_no,
    details, registration_date, registration_no,
    registration_offices, status, update_time,full_report_id
    )
    values (#{id,jdbcType=INTEGER}, #{amount,jdbcType=VARCHAR}, #{crefoNo,jdbcType=VARCHAR},
    #{details,jdbcType=VARCHAR}, #{registrationDate,jdbcType=VARCHAR}, #{registrationNo,jdbcType=VARCHAR},
    #{registrationOffices,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR},
    #{fullReportId,jdbcType=INTEGER})
  </insert>

  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from
    <include refid="table" />
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <update id="update" parameterType="com.mika.credit.common.entity.report.cn.ChattelMortgage" >
    update chattel_mortgage
    set amount = #{amount,jdbcType=VARCHAR},
      crefo_no = #{crefoNo,jdbcType=VARCHAR},
      details = #{details,jdbcType=VARCHAR},
      registration_date = #{registrationDate,jdbcType=VARCHAR},
      registration_no = #{registrationNo,jdbcType=VARCHAR},
      registration_offices = #{registrationOffices,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      full_report_id = #{fullReportId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertSelective" parameterType="com.mika.credit.common.entity.report.cn.ChattelMortgage" >
    insert into chattel_mortgage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="crefoNo != null" >
        crefo_no,
      </if>
      <if test="details != null" >
        details,
      </if>
      <if test="registrationDate != null" >
        registration_date,
      </if>
      <if test="registrationNo != null" >
        registration_no,
      </if>
      <if test="registrationOffices != null" >
        registration_offices,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="fullReportId != null" >
        full_report_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=VARCHAR},
      </if>
      <if test="crefoNo != null" >
        #{crefoNo,jdbcType=VARCHAR},
      </if>
      <if test="details != null" >
        #{details,jdbcType=VARCHAR},
      </if>
      <if test="registrationDate != null" >
        #{registrationDate,jdbcType=VARCHAR},
      </if>
      <if test="registrationNo != null" >
        #{registrationNo,jdbcType=VARCHAR},
      </if>
      <if test="registrationOffices != null" >
        #{registrationOffices,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="fullReportId != null" >
        #{fullReportId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateSelective" parameterType="com.mika.credit.common.entity.report.cn.ChattelMortgage" >
    update chattel_mortgage
    <set >
      <if test="amount != null" >
        amount = #{amount,jdbcType=VARCHAR},
      </if>
      <if test="crefoNo != null" >
        crefo_no = #{crefoNo,jdbcType=VARCHAR},
      </if>
      <if test="details != null" >
        details = #{details,jdbcType=VARCHAR},
      </if>
      <if test="registrationDate != null" >
        registration_date = #{registrationDate,jdbcType=VARCHAR},
      </if>
      <if test="registrationNo != null" >
        registration_no = #{registrationNo,jdbcType=VARCHAR},
      </if>
      <if test="registrationOffices != null" >
        registration_offices = #{registrationOffices,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR}
      </if>
      <if test="fullReportId != null" >
        full_report_id = #{fullReportId,jdbcType=INTEGER}
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>



</mapper>