<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mika.credit.facade.front.cn.dao.impl.CreditAssessmentsDaoImpl">
    <cache eviction="LRU" type="com.mika.credit.common.core.mybatis.cache.redis.sharded.MybatiesRedisCache"/>
    <resultMap id="BaseResultMap" type="com.mika.credit.common.entity.report.cn.CreditAssessments">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="credit_analysis_cn" property="creditAnalysisCN" jdbcType="LONGVARCHAR"/>
        <result column="credit_analysis_en" property="creditAnalysisEN" jdbcType="LONGVARCHAR"/>
        <result column="credit_opinion_cn" property="creditOpinionCN" jdbcType="VARCHAR"/>
        <result column="credit_opinion_en" property="creditOpinionEN" jdbcType="VARCHAR"/>
        <result column="crefo_no" property="crefoNo" jdbcType="VARCHAR"/>
        <result column="del_flag" property="delFlag" jdbcType="VARCHAR"/>
        <result column="recommended" property="recommended" jdbcType="VARCHAR"/>
        <result column="recommended_offset" property="recommendedOffset" jdbcType="VARCHAR"/>
        <result column="result_recommended" property="resultRecommended" jdbcType="VARCHAR"/>
        <result column="global_solvency" property="globalSolvency" jdbcType="VARCHAR"/>
        <result column="result_solvency" property="resultSolvency" jdbcType="VARCHAR"/>
        <result column="rrid" property="rrid" jdbcType="INTEGER"/>
        <result column="solvency_index" property="solvencyIndex" jdbcType="VARCHAR"/>
        <result column="solvency_index_offset" property="solvencyIndexOffset" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="VARCHAR"/>
        <result column="credit_rating" property="creditRating" jdbcType="VARCHAR"/>
        <result column="credit_rating_en" property="creditRatingEN" jdbcType="VARCHAR"/>
        <result column="full_report_id" property="fullReportId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="table"> credit_assessments </sql>

    <sql id="Base_Column_List">
    id, credit_analysis_cn, credit_analysis_en, credit_opinion_cn, credit_opinion_en, crefo_no, 
    del_flag, recommended, recommended_offset, result_recommended, result_solvency,global_solvency, rrid,
    solvency_index, solvency_index_offset, update_time,credit_rating,credit_rating_en,full_report_id
  </sql>

    <sql id="condition_sql">
        <if test="id != null">
            and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="creditAnalysisCN != null">
            and credit_analysis_cn = #{creditAnalysisCN,jdbcType=LONGVARCHAR}
        </if>
        <if test="creditAnalysisEN != null">
            and credit_analysis_en = #{creditAnalysisEN,jdbcType=LONGVARCHAR}
        </if>
        <if test="creditOpinionCN != null">
            and credit_opinion_cn = #{creditOpinionCN,jdbcType=VARCHAR}
        </if>
        <if test="creditOpinionEN != null">
            and credit_opinion_en = #{creditOpinionEN,jdbcType=VARCHAR}
        </if>
        <if test="crefoNo != null">
            and crefo_no = #{crefoNo,jdbcType=VARCHAR}
        </if>
        <if test="delFlag != null">
            and del_flag = #{delFlag,jdbcType=VARCHAR}
        </if>
        <if test="recommended != null">
            and recommended = #{recommended,jdbcType=VARCHAR}
        </if>
        <if test="recommendedOffset != null">
            and recommended_offset = #{recommendedOffset,jdbcType=VARCHAR}
        </if>
        <if test="resultRecommended != null">
            and result_recommended = #{resultRecommended,jdbcType=VARCHAR}
        </if>
        <if test="resultSolvency != null">
            and result_solvency = #{resultSolvency,jdbcType=VARCHAR}
        </if>
        <if test="globalSolvency != null">
            and global_solvency = #{globalSolvency,jdbcType=VARCHAR}
        </if>
        <if test="rrid != null">
            and rrid = #{rrid,jdbcType=INTEGER}
        </if>
        <if test="solvencyIndex != null">
            and solvency_index = #{solvencyIndex,jdbcType=VARCHAR}
        </if>
        <if test="solvencyIndexOffset != null">
            and solvency_index_offset = #{solvencyIndexOffset,jdbcType=VARCHAR}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime,jdbcType=VARCHAR}
        </if>
        <if test="creditRating != null">
            and credit_rating = #{creditRating,jdbcType=VARCHAR}
        </if>
        <if test="creditRatingEN != null">
            and credit_rating_en = #{creditRatingEN,jdbcType=VARCHAR}
        </if>
        <if test="fullReportId != null">
            and full_report_id = #{fullReportId,jdbcType=INTEGER}
        </if>
    </sql>

    <select id="getById" parameterType="Integer" resultMap="BaseResultMap">
        select * from
        <include refid="table"/>
        where ID = #{id}
    </select>

    <select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from
        <include refid="table"/>
        <where>
            <include refid="condition_sql"/>
        </where>
    </select>

    <select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from
        <include refid="table"/>
        <where>
            <include refid="condition_sql"/>
        </where>
        <![CDATA[ order by ID desc]]>
    </select>

    <select id="listPageCount" parameterType="java.util.Map" resultType="Integer">
        select count(1) from
        <include refid="table"/>
        <where>
            <include refid="condition_sql"/>
        </where>
    </select>

    <insert id="insert" parameterType="com.mika.credit.common.entity.report.cn.CreditAssessments" keyProperty="id"
            useGeneratedKeys="true">
        insert into
        <include refid="table"/>
        (id, credit_analysis_cn, credit_analysis_en,
        credit_opinion_cn, credit_opinion_en, crefo_no,
        del_flag, recommended, recommended_offset,
        result_recommended, result_solvency,global_solvency, rrid,
        solvency_index, solvency_index_offset, update_time,credit_rating,credit_rating_en,
        full_report_id
        )
        values (#{id,jdbcType=INTEGER}, #{creditAnalysisCN,jdbcType=LONGVARCHAR},
        #{creditAnalysisEN,jdbcType=LONGVARCHAR},
        #{creditOpinionCN,jdbcType=VARCHAR}, #{creditOpinionEN,jdbcType=VARCHAR}, #{crefoNo,jdbcType=VARCHAR},
        #{delFlag,jdbcType=VARCHAR}, #{recommended,jdbcType=VARCHAR}, #{recommendedOffset,jdbcType=VARCHAR},
        #{resultRecommended,jdbcType=VARCHAR}, #{resultSolvency,jdbcType=VARCHAR}, #{globalSolvency,jdbcType=VARCHAR}, #{rrid,jdbcType=INTEGER},
        #{solvencyIndex,jdbcType=VARCHAR}, #{solvencyIndexOffset,jdbcType=VARCHAR},
        #{updateTime,jdbcType=VARCHAR},#{creditRating,jdbcType=VARCHAR},#{creditRatingEN,jdbcType=VARCHAR},
        #{fullReportId,jdbcType=INTEGER}
        )
    </insert>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from
        <include refid="table"/>
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <update id="update" parameterType="com.mika.credit.common.entity.report.cn.CreditAssessments">
    update credit_assessments
    set credit_analysis_cn = #{creditAnalysisCN,jdbcType=LONGVARCHAR},
      credit_analysis_en = #{creditAnalysisEN,jdbcType=LONGVARCHAR},
      credit_opinion_cn = #{creditOpinionCN,jdbcType=VARCHAR},
      credit_opinion_en = #{creditOpinionEN,jdbcType=VARCHAR},
      crefo_no = #{crefoNo,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      recommended = #{recommended,jdbcType=VARCHAR},
      recommended_offset = #{recommendedOffset,jdbcType=VARCHAR},
      result_recommended = #{resultRecommended,jdbcType=VARCHAR},
      result_solvency = #{resultSolvency,jdbcType=VARCHAR},
      global_solvency = #{globalSolvency,jdbcType=VARCHAR},
      rrid = #{rrid,jdbcType=INTEGER},
      solvency_index = #{solvencyIndex,jdbcType=VARCHAR},
      solvency_index_offset = #{solvencyIndexOffset,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      credit_rating = #{creditRating,jdbcType=VARCHAR},
      credit_rating_en = #{creditRatingEN,jdbcType=VARCHAR},
      full_report_id = #{fullReportId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <insert id="insertSelective" parameterType="com.mika.credit.common.entity.report.cn.CreditAssessments">
        insert into credit_assessments
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="creditAnalysisCN != null">
                credit_analysis_cn,
            </if>
            <if test="creditAnalysisEN != null">
                credit_analysis_en,
            </if>
            <if test="creditOpinionCN != null">
                credit_opinion_cn,
            </if>
            <if test="creditOpinionEN != null">
                credit_opinion_en,
            </if>
            <if test="crefoNo != null">
                crefo_no,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="recommended != null">
                recommended,
            </if>
            <if test="recommendedOffset != null">
                recommended_offset,
            </if>
            <if test="resultRecommended != null">
                result_recommended,
            </if>
            <if test="resultSolvency != null">
                result_solvency,
            </if>
            <if test="globalSolvency != null">
                global_solvency,
            </if>
            <if test="rrid != null">
                rrid,
            </if>
            <if test="solvencyIndex != null">
                solvency_index,
            </if>
            <if test="solvencyIndexOffset != null">
                solvency_index_offset,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="creditRating != null">
                credit_rating,
            </if>
            <if test="creditRatingEN != null">
                credit_rating_en,
            </if>
            <if test="fullReportId != null">
                full_report_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="creditAnalysisCN != null">
                #{creditAnalysisCN,jdbcType=LONGVARCHAR},
            </if>
            <if test="creditAnalysisEN != null">
                #{creditAnalysisEN,jdbcType=LONGVARCHAR},
            </if>
            <if test="creditOpinionCN != null">
                #{creditOpinionCN,jdbcType=VARCHAR},
            </if>
            <if test="creditOpinionEN != null">
                #{creditOpinionEN,jdbcType=VARCHAR},
            </if>
            <if test="crefoNo != null">
                #{crefoNo,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="recommended != null">
                #{recommended,jdbcType=VARCHAR},
            </if>
            <if test="recommendedOffset != null">
                #{recommendedOffset,jdbcType=VARCHAR},
            </if>
            <if test="resultRecommended != null">
                #{resultRecommended,jdbcType=VARCHAR},
            </if>
            <if test="resultSolvency != null">
                #{resultSolvency,jdbcType=VARCHAR},
            </if>
            <if test="globalSolvency != null">
                #{globalSolvency,jdbcType=VARCHAR},
            </if>
            <if test="rrid != null">
                #{rrid,jdbcType=INTEGER},
            </if>
            <if test="solvencyIndex != null">
                #{solvencyIndex,jdbcType=VARCHAR},
            </if>
            <if test="solvencyIndexOffset != null">
                #{solvencyIndexOffset,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="creditRating != null">
                #{creditRating,jdbcType=VARCHAR},
            </if>
            <if test="creditRatingEN != null">
                #{creditRatingEN,jdbcType=VARCHAR},
            </if>
            <if test="fullReportId != null">
                #{fullReportId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateSelective" parameterType="com.mika.credit.common.entity.report.cn.CreditAssessments">
        update credit_assessments
        <set>
            <if test="creditAnalysisCN != null">
                credit_analysis_cn = #{creditAnalysisCN,jdbcType=LONGVARCHAR},
            </if>
            <if test="creditAnalysisEN != null">
                credit_analysis_en = #{creditAnalysisEN,jdbcType=LONGVARCHAR},
            </if>
            <if test="creditOpinionCN != null">
                credit_opinion_cn = #{creditOpinionCN,jdbcType=VARCHAR},
            </if>
            <if test="creditOpinionEN != null">
                credit_opinion_en = #{creditOpinionEN,jdbcType=VARCHAR},
            </if>
            <if test="crefoNo != null">
                crefo_no = #{crefoNo,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="recommended != null">
                recommended = #{recommended,jdbcType=VARCHAR},
            </if>
            <if test="recommendedOffset != null">
                recommended_offset = #{recommendedOffset,jdbcType=VARCHAR},
            </if>
            <if test="resultRecommended != null">
                result_recommended = #{resultRecommended,jdbcType=VARCHAR},
            </if>
            <if test="resultSolvency != null">
                result_solvency = #{resultSolvency,jdbcType=VARCHAR},
            </if>
            <if test="globalSolvency != null">
                global_solvency = #{globalSolvency,jdbcType=VARCHAR},
            </if>
            <if test="rrid != null">
                rrid = #{rrid,jdbcType=INTEGER},
            </if>
            <if test="solvencyIndex != null">
                solvency_index = #{solvencyIndex,jdbcType=VARCHAR},
            </if>
            <if test="solvencyIndexOffset != null">
                solvency_index_offset = #{solvencyIndexOffset,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="creditRating != null">
                credit_rating = #{creditRating,jdbcType=VARCHAR},
            </if>
            <if test="creditRatingEN != null">
                credit_rating_en = #{creditRatingEN,jdbcType=VARCHAR},
            </if>
            <if test="fullReportId != null">
                full_report_id = #{fullReportId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


</mapper>