<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mika.credit.facade.front.cn.dao.impl.FrpositioninfosDaoImpl" >
  <cache eviction="LRU" type="com.mika.credit.common.core.mybatis.cache.redis.sharded.MybatiesRedisCache" />
  <resultMap id="BaseResultMap" type="com.mika.credit.common.entity.report.cn.Frpositioninfos" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="address_cn" property="addressCN" jdbcType="VARCHAR" />
    <result column="address_en" property="addressEN" jdbcType="VARCHAR" />
    <result column="cancel_date" property="cancelDate" jdbcType="VARCHAR" />
    <result column="com_crefo_no" property="comCrefoNo" jdbcType="VARCHAR" />
    <result column="crefo_no" property="crefoNo" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    <result column="enterprise_name_cn" property="enterpriseNameCN" jdbcType="VARCHAR" />
    <result column="enterprise_name_en" property="enterpriseNameEN" jdbcType="VARCHAR" />
    <result column="enterprise_status" property="enterpriseStatus" jdbcType="VARCHAR" />
    <result column="enterprise_status_cn" property="enterpriseStatusCN" jdbcType="VARCHAR" />
    <result column="enterprise_status_en" property="enterpriseStatusEN" jdbcType="VARCHAR" />
    <result column="enterprise_type" property="enterpriseType" jdbcType="VARCHAR" />
    <result column="enterprise_type_cn" property="enterpriseTypeCN" jdbcType="VARCHAR" />
    <result column="enterprise_type_en" property="enterpriseTypeEN" jdbcType="VARCHAR" />
    <result column="es_date" property="esDate" jdbcType="VARCHAR" />
    <result column="lerepslgn" property="lerepslgn" jdbcType="VARCHAR" />
    <result column="name_cn" property="nameCN" jdbcType="VARCHAR" />
    <result column="name_en" property="nameEN" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="position_cn" property="positionCN" jdbcType="VARCHAR" />
    <result column="position_en" property="positionEN" jdbcType="VARCHAR" />
    <result column="reg_capital" property="regCapital" jdbcType="VARCHAR" />
    <result column="reg_capital_currency" property="regCapitalCurrency" jdbcType="VARCHAR" />
    <result column="reg_capital_currency_cn" property="regCapitalCurrencyCN" jdbcType="VARCHAR" />
    <result column="reg_capital_currency_en" property="regCapitalCurrencyEN" jdbcType="VARCHAR" />
    <result column="reg_no" property="regNo" jdbcType="VARCHAR" />
    <result column="reg_org_cn" property="regOrgCN" jdbcType="VARCHAR" />
    <result column="reg_org_en" property="regOrgEN" jdbcType="VARCHAR" />
    <result column="rev_date" property="revDate" jdbcType="VARCHAR" />
    <result column="full_report_id" property="fullReportId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="funded_ratio_cn" property="fundedRatioCN" jdbcType="VARCHAR" />
    <result column="funded_ratio_en" property="fundedRatioEN" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="table"> frpositioninfos </sql>

  <sql id="Base_Column_List" >
    id, address_cn, address_en, cancel_date, com_crefo_no, crefo_no, del_flag, enterprise_name_cn,
    enterprise_name_en, enterprise_status, enterprise_type,enterprise_type_en, es_date, lerepslgn, name_cn, name_en, position, position_cn,
    position_en, reg_capital, reg_capital_currency,reg_capital_currency_cn,reg_capital_currency_en,
    reg_no, reg_org_cn, reg_org_en, rev_date,full_report_id,update_time,funded_ratio_cn,funded_ratio_en,
    enterprise_type_cn,enterprise_status_cn,enterprise_status_en
  </sql>

  <sql id="condition_sql">
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="addressCN != null" >
      and address_cn = #{addressCN,jdbcType=VARCHAR}
    </if>
    <if test="addressEN != null" >
      and address_en = #{addressEN,jdbcType=VARCHAR}
    </if>
    <if test="cancelDate != null" >
      and cancel_date = #{cancelDate,jdbcType=VARCHAR}
    </if>
    <if test="comCrefoNo != null" >
      and com_crefo_no = #{comCrefoNo,jdbcType=VARCHAR}
    </if>
    <if test="crefoNo != null" >
      and crefo_no = #{crefoNo,jdbcType=VARCHAR}
    </if>
    <if test="delFlag != null" >
      and del_flag = #{delFlag,jdbcType=VARCHAR}
    </if>
    <if test="enterpriseNameCN != null" >
      and enterprise_name_cn = #{enterpriseNameCN,jdbcType=VARCHAR}
    </if>
    <if test="enterpriseNameEN != null" >
      and enterprise_name_en = #{enterpriseNameEN,jdbcType=VARCHAR}
    </if>
    <if test="enterpriseStatus != null" >
      and enterprise_status = #{enterpriseStatus,jdbcType=VARCHAR}
    </if>
    <if test="enterpriseType != null" >
      and enterprise_type = #{enterpriseType,jdbcType=VARCHAR}
    </if>
    <if test="enterpriseTypeEN != null" >
      and enterprise_type_en = #{enterpriseTypeEN,jdbcType=VARCHAR}
    </if>
    <if test="esDate != null" >
      and es_date = #{esDate,jdbcType=VARCHAR}
    </if>
    <if test="lerepslgn != null" >
      and lerepslgn = #{lerepslgn,jdbcType=VARCHAR}
    </if>
    <if test="nameCN != null" >
      and name_cn = #{nameCN,jdbcType=VARCHAR}
    </if>
    <if test="nameEN != null" >
      and name_en = #{nameEN,jdbcType=VARCHAR}
    </if>
    <if test="position != null" >
      and position = #{position,jdbcType=VARCHAR}
    </if>
    <if test="positionCN != null" >
      and position_cn = #{positionCN,jdbcType=VARCHAR}
    </if>
    <if test="positionEN != null" >
      and position_en = #{positionEN,jdbcType=VARCHAR}
    </if>
    <if test="regCapital != null" >
      and reg_capital = #{regCapital,jdbcType=VARCHAR}
    </if>
    <if test="regCapitalCurrency != null" >
      and reg_capital_currency = #{regCapitalCurrency,jdbcType=VARCHAR}
    </if>
    <if test="regCapitalCurrencyCN != null" >
      and reg_capital_currency_cn = #{regCapitalCurrencyCN,jdbcType=VARCHAR}
    </if>
    <if test="regCapitalCurrencyEN != null" >
      and reg_capital_currency_en = #{regCapitalCurrencyEN,jdbcType=VARCHAR}
    </if>
    <if test="regNo != null" >
      and reg_no = #{regNo,jdbcType=VARCHAR}
    </if>
    <if test="regOrgCN != null" >
      and reg_org_cn = #{regOrgCN,jdbcType=VARCHAR}
    </if>
    <if test="regOrgEN != null" >
      and reg_org_en = #{regOrgEN,jdbcType=VARCHAR}
    </if>
    <if test="revDate != null" >
      and rev_date = #{revDate,jdbcType=VARCHAR}
    </if>
    <if test="fullReportId != null" >
      and full_report_id = #{fullReportId,jdbcType=INTEGER}
    </if>
    <if test="updateTime != null" >
      and update_time = #{updateTime,jdbcType=VARCHAR}
    </if>
    <if test="fundedRatioCN != null" >
      and funded_ratio_cn = #{fundedRatioCN,jdbcType=VARCHAR}
    </if>
    <if test="fundedRatioEN != null" >
      and funded_ratio_en = #{fundedRatioEN,jdbcType=VARCHAR}
    </if>
    <if test="enterpriseTypeCN != null" >
      and enterprise_type_cn = #{enterpriseTypeCN,jdbcType=VARCHAR}
    </if>
    <if test="enterpriseStatusCN != null" >
      and enterprise_status_cn = #{enterpriseStatusCN,jdbcType=VARCHAR}
    </if>
    <if test="enterpriseStatusEN != null" >
      and enterprise_status_en = #{enterpriseStatusEN,jdbcType=VARCHAR}
    </if>
  </sql>

  <select id="getById" parameterType="Integer" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    where ID = #{id}
  </select>

  <select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
  </select>

  <select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
    <![CDATA[ order by ID desc]]>
  </select>

  <select id="listPageCount" parameterType="java.util.Map" resultType="Integer">
    select count(1) from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
  </select>

  <insert id="insert" parameterType="com.mika.credit.common.entity.report.cn.Frpositioninfos" keyProperty="id" useGeneratedKeys="true">
    insert into
    <include refid="table" />
    (id, address_cn, address_en,
    cancel_date, com_crefo_no, crefo_no,
    del_flag, enterprise_name_cn, enterprise_name_en,
    enterprise_status, enterprise_type, enterprise_type_en,es_date,
    lerepslgn, name_cn, name_en,
    `position`, position_cn, position_en,
    reg_capital, reg_capital_currency,reg_capital_currency_cn,reg_capital_currency_en, reg_no,
    reg_org_cn, reg_org_en, rev_date,full_report_id,update_time,funded_ratio_cn,funded_ratio_en,
    enterprise_type_cn,enterprise_status_cn,enterprise_status_en
    )
    values (#{id,jdbcType=INTEGER}, #{addressCN,jdbcType=VARCHAR}, #{addressEN,jdbcType=VARCHAR},
    #{cancelDate,jdbcType=VARCHAR}, #{comCrefoNo,jdbcType=VARCHAR}, #{crefoNo,jdbcType=VARCHAR},
    #{delFlag,jdbcType=VARCHAR}, #{enterpriseNameCN,jdbcType=VARCHAR}, #{enterpriseNameEN,jdbcType=VARCHAR},
    #{enterpriseStatus,jdbcType=VARCHAR}, #{enterpriseType,jdbcType=VARCHAR},
    #{enterpriseTypeEN,jdbcType=VARCHAR},#{esDate,jdbcType=VARCHAR},
    #{lerepslgn,jdbcType=VARCHAR}, #{nameCN,jdbcType=VARCHAR}, #{nameEN,jdbcType=VARCHAR},
    #{position,jdbcType=VARCHAR}, #{positionCN,jdbcType=VARCHAR}, #{positionEN,jdbcType=VARCHAR},
    #{regCapital,jdbcType=VARCHAR}, #{regCapitalCurrency,jdbcType=VARCHAR},
    #{regCapitalCurrencyCN,jdbcType=VARCHAR},#{regCapitalCurrencyEN,jdbcType=VARCHAR},#{regNo,jdbcType=VARCHAR},
    #{regOrgCN,jdbcType=VARCHAR}, #{regOrgEN,jdbcType=VARCHAR}, #{revDate,jdbcType=VARCHAR},#{fullReportId,jdbcType=INTEGER},
    #{updateTime,jdbcType=VARCHAR},#{fundedRatioCN,jdbcType=VARCHAR},#{fundedRatioEN,jdbcType=VARCHAR},
    #{enterpriseTypeCN,jdbcType=VARCHAR},#{enterpriseStatusCN,jdbcType=VARCHAR},#{enterpriseStatusEN,jdbcType=VARCHAR}
    )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from
    <include refid="table" />
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <update id="update" parameterType="com.mika.credit.common.entity.report.cn.Frpositioninfos" >
    update frpositioninfos
    set address_cn = #{addressCN,jdbcType=VARCHAR},
      address_en = #{addressEN,jdbcType=VARCHAR},
      cancel_date = #{cancelDate,jdbcType=VARCHAR},
      com_crefo_no = #{comCrefoNo,jdbcType=VARCHAR},
      crefo_no = #{crefoNo,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      enterprise_name_cn = #{enterpriseNameCN,jdbcType=VARCHAR},
      enterprise_name_en = #{enterpriseNameEN,jdbcType=VARCHAR},
      enterprise_status = #{enterpriseStatus,jdbcType=VARCHAR},
      enterprise_type = #{enterpriseType,jdbcType=VARCHAR},
      enterprise_type_en = #{enterpriseTypeEN,jdbcType=VARCHAR},
      es_date = #{esDate,jdbcType=VARCHAR},
      lerepslgn = #{lerepslgn,jdbcType=VARCHAR},
      name_cn = #{nameCN,jdbcType=VARCHAR},
      name_en = #{nameEN,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      position_cn = #{positionCN,jdbcType=VARCHAR},
      position_en = #{positionEN,jdbcType=VARCHAR},
      reg_capital = #{regCapital,jdbcType=VARCHAR},
      reg_capital_currency = #{regCapitalCurrency,jdbcType=VARCHAR},
      reg_capital_currency_cn = #{regCapitalCurrency,jdbcType=VARCHAR},
      reg_capital_currency_en = #{regCapitalCurrency,jdbcType=VARCHAR},
      reg_no = #{regNo,jdbcType=VARCHAR},
      reg_org_cn = #{regOrgCN,jdbcType=VARCHAR},
      reg_org_en = #{regOrgEN,jdbcType=VARCHAR},
      rev_date = #{revDate,jdbcType=VARCHAR},
	full_report_id = #{fullReportId,jdbcType=INTEGER},
	update_time = #{updateTime,jdbcType=VARCHAR},
      funded_ratio_cn = #{fundedRatioCN,jdbcType=VARCHAR},
      funded_ratio_en = #{fundedRatioEN,jdbcType=VARCHAR},
      enterprise_type_cn = #{enterpriseTypeCN,jdbcType=VARCHAR},
      enterprise_status_cn = #{enterpriseStatusCN,jdbcType=VARCHAR},
      enterprise_status_en = #{enterpriseStatusEN,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertSelective" parameterType="com.mika.credit.common.entity.report.cn.Frpositioninfos" >
    insert into frpositioninfos
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addressCN != null" >
        address_cn,
      </if>
      <if test="addressEN != null" >
        address_en,
      </if>
      <if test="cancelDate != null" >
        cancel_date,
      </if>
      <if test="comCrefoNo != null" >
        com_crefo_no,
      </if>
      <if test="crefoNo != null" >
        crefo_no,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="enterpriseNameCN != null" >
        enterprise_name_cn,
      </if>
      <if test="enterpriseNameEN != null" >
        enterprise_name_en,
      </if>
      <if test="enterpriseStatus != null" >
        enterprise_status,
      </if>
      <if test="enterpriseType != null" >
        enterprise_type,
      </if>
      <if test="enterpriseTypeEN != null" >
        enterprise_type_en,
      </if>
      <if test="esDate != null" >
        es_date,
      </if>
      <if test="lerepslgn != null" >
        lerepslgn,
      </if>
      <if test="nameCN != null" >
        name_cn,
      </if>
      <if test="nameEN != null" >
        name_en,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="positionCN != null" >
        position_cn,
      </if>
      <if test="positionEN != null" >
        position_en,
      </if>
      <if test="regCapital != null" >
        reg_capital,
      </if>
      <if test="regCapitalCurrency != null" >
        reg_capital_currency,
      </if>
      <if test="regCapitalCurrencyCN != null" >
        reg_capital_currency_cn,
      </if>
      <if test="regCapitalCurrencyEN != null" >
        reg_capital_currency_en,
      </if>
      <if test="regNo != null" >
        reg_no,
      </if>
      <if test="regOrgCN != null" >
        reg_org_cn,
      </if>
      <if test="regOrgEN != null" >
        reg_org_en,
      </if>
      <if test="revDate != null" >
        rev_date,
      </if>
      <if test="fullReportId != null" >
        full_report_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="fundedRatioCN != null" >
        funded_ratio_cn,
      </if>
      <if test="fundedRatioEN != null" >
        funded_ratio_en,
      </if>
      <if test="enterpriseTypeCN != null" >
        enterprise_type_cn,
      </if>
      <if test="enterpriseStatusCN != null" >
        enterprise_status_cn,
      </if>
      <if test="enterpriseStatusEN != null" >
        enterprise_status_en,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="addressCN != null" >
        #{addressCN,jdbcType=VARCHAR},
      </if>
      <if test="addressEN != null" >
        #{addressEN,jdbcType=VARCHAR},
      </if>
      <if test="cancelDate != null" >
        #{cancelDate,jdbcType=VARCHAR},
      </if>
      <if test="comCrefoNo != null" >
        #{comCrefoNo,jdbcType=VARCHAR},
      </if>
      <if test="crefoNo != null" >
        #{crefoNo,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseNameCN != null" >
        #{enterpriseNameCN,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseNameEN != null" >
        #{enterpriseNameEN,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseStatus != null" >
        #{enterpriseStatus,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseType != null" >
        #{enterpriseType,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseTypeEN != null" >
        #{enterpriseTypeEN,jdbcType=VARCHAR},
      </if>
      <if test="esDate != null" >
        #{esDate,jdbcType=VARCHAR},
      </if>
      <if test="lerepslgn != null" >
        #{lerepslgn,jdbcType=VARCHAR},
      </if>
      <if test="nameCN != null" >
        #{nameCN,jdbcType=VARCHAR},
      </if>
      <if test="nameEN != null" >
        #{nameEN,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="positionCN != null" >
        #{positionCN,jdbcType=VARCHAR},
      </if>
      <if test="positionEN != null" >
        #{positionEN,jdbcType=VARCHAR},
      </if>
      <if test="regCapital != null" >
        #{regCapital,jdbcType=VARCHAR},
      </if>
      <if test="regCapitalCurrency != null" >
        #{regCapitalCurrency,jdbcType=VARCHAR},
      </if>
      <if test="regCapitalCurrencyCN != null" >
        #{regCapitalCurrencyCN,jdbcType=VARCHAR},
      </if>
      <if test="regCapitalCurrencyEN != null" >
        #{regCapitalCurrencyEN,jdbcType=VARCHAR},
      </if>
      <if test="regNo != null" >
        #{regNo,jdbcType=VARCHAR},
      </if>
      <if test="regOrgCN != null" >
        #{regOrgCN,jdbcType=VARCHAR},
      </if>
      <if test="regOrgEN != null" >
        #{regOrgEN,jdbcType=VARCHAR},
      </if>
      <if test="revDate != null" >
        #{revDate,jdbcType=VARCHAR},
      </if>
      <if test="fullReportId != null" >
        #{fullReportId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="fundedRatioCN != null" >
        #{fundedRatioCN,jdbcType=VARCHAR},
      </if>
      <if test="fundedRatioEN != null" >
        #{fundedRatioEN,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseTypeCN != null" >
        #{enterpriseTypeCN,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseStatusCN != null" >
        #{enterpriseStatusCN,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseStatusEN != null" >
        #{enterpriseStatusEN,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>



  <update id="updateSelective" parameterType="com.mika.credit.common.entity.report.cn.Frpositioninfos" >
    update frpositioninfos
    <set >
      <if test="addressCN != null" >
        address_cn = #{addressCN,jdbcType=VARCHAR},
      </if>
      <if test="addressEN != null" >
        address_en = #{addressEN,jdbcType=VARCHAR},
      </if>
      <if test="cancelDate != null" >
        cancel_date = #{cancelDate,jdbcType=VARCHAR},
      </if>
      <if test="comCrefoNo != null" >
        com_crefo_no = #{comCrefoNo,jdbcType=VARCHAR},
      </if>
      <if test="crefoNo != null" >
        crefo_no = #{crefoNo,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseNameCN != null" >
        enterprise_name_cn = #{enterpriseNameCN,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseNameEN != null" >
        enterprise_name_en = #{enterpriseNameEN,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseStatus != null" >
        enterprise_status = #{enterpriseStatus,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseType != null" >
        enterprise_type = #{enterpriseType,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseTypeEN != null" >
        enterprise_type_en = #{enterpriseTypeEN,jdbcType=VARCHAR},
      </if>
      <if test="esDate != null" >
        es_date = #{esDate,jdbcType=VARCHAR},
      </if>
      <if test="lerepslgn != null" >
        lerepslgn = #{lerepslgn,jdbcType=VARCHAR},
      </if>
      <if test="nameCN != null" >
        name_cn = #{nameCN,jdbcType=VARCHAR},
      </if>
      <if test="nameEN != null" >
        name_en = #{nameEN,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="positionCN != null" >
        position_cn = #{positionCN,jdbcType=VARCHAR},
      </if>
      <if test="positionEN != null" >
        position_en = #{positionEN,jdbcType=VARCHAR},
      </if>
      <if test="regCapital != null" >
        reg_capital = #{regCapital,jdbcType=VARCHAR},
      </if>
      <if test="regCapitalCurrency != null" >
        reg_capital_currency = #{regCapitalCurrency,jdbcType=VARCHAR},
      </if>
      <if test="regCapitalCurrencyCN != null" >
        reg_capital_currency_cn = #{regCapitalCurrencyCN,jdbcType=VARCHAR},
      </if>
      <if test="regCapitalCurrencyEN != null" >
        reg_capital_currency_en = #{regCapitalCurrencyEN,jdbcType=VARCHAR},
      </if>
      <if test="regNo != null" >
        reg_no = #{regNo,jdbcType=VARCHAR},
      </if>
      <if test="regOrgCN != null" >
        reg_org_cn = #{regOrgCN,jdbcType=VARCHAR},
      </if>
      <if test="regOrgEN != null" >
        reg_org_en = #{regOrgEN,jdbcType=VARCHAR},
      </if>
      <if test="revDate != null" >
        rev_date = #{revDate,jdbcType=VARCHAR},
      </if>
      <if test="fullReportId != null" >
        full_report_id = #{fullReportId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="fundedRatioCN != null" >
        funded_ratio_cn = #{fundedRatioCN,jdbcType=VARCHAR},
      </if>
      <if test="fundedRatioEN != null" >
        funded_ratio_en = #{fundedRatioEN,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseTypeCN != null" >
        enterprise_type_cn = #{enterpriseTypeCN,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseStatusCN != null" >
        enterprise_status_cn = #{enterpriseStatusCN,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseStatusEN != null" >
        enterprise_status_en = #{enterpriseStatusEN,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


</mapper>