<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mika.credit.facade.front.cn.dao.impl.FullReportDaoImpl" >
  <cache eviction="LRU" type="com.mika.credit.common.core.mybatis.cache.redis.sharded.MybatiesRedisCache" />
  <resultMap id="BaseResultMap" type="com.mika.credit.common.entity.report.cn.FullReport" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name_cn" property="nameCN" jdbcType="VARCHAR" />
    <result column="crefo_no" property="crefoNo" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="grande_upde_time" property="grandeUpdeTime" jdbcType="VARCHAR" />
    <result column="qian_hai_update_time" property="qianHaiUpdateTime" jdbcType="VARCHAR" />
    <result column="litigation_update_time" property="litigationUpdateTime" jdbcType="VARCHAR" />
    <result column="cpm_update_time" property="cpMUpdateTime" jdbcType="VARCHAR" />
    <result column="financial_update_time" property="financialUpdateTime" jdbcType="VARCHAR" />
    <result column="qi_xin_bao_update_time" property="qiXinBaoUpdateTime" jdbcType="VARCHAR" />

    <!--<result column="ajlc_list_id" property="ajlcListId" jdbcType="VARCHAR" />-->
    <!--<result column="assets_annual_list_id" property="assetsAnnualListId" jdbcType="VARCHAR" />-->
    <!--<result column="baisc_annua_list_id" property="baiscAnnuaListId" jdbcType="VARCHAR" />-->
    <!--<result column="bank_infos_list_id" property="bankInfosListId" jdbcType="VARCHAR" />-->
    <!--<result column="basic_infos_id" property="basicInfosId" jdbcType="VARCHAR" />-->
    <!--<result column="bgt_list_id" property="bgtListId" jdbcType="VARCHAR" />-->
    <!--<result column="brands_list_id" property="brandsListId" jdbcType="VARCHAR" />-->
    <!--<result column="change_infos_list_id" property="changeInfosListId" jdbcType="VARCHAR" />-->
    <!--<result column="chattel_mortgage_list_id" property="chattelMortgageListId" jdbcType="VARCHAR" />-->
    <!--<result column="credit_assessments_id" property="creditAssessmentsId" jdbcType="VARCHAR" />-->
    <!--<result column="entinvinfos_list_id" property="entinvinfosListId" jdbcType="VARCHAR" />-->
    <!--<result column="executive_list_id" property="executiveListId" jdbcType="VARCHAR" />-->
    <!--<result column="financial_figures_list_id" property="financialFiguresListId" jdbcType="VARCHAR" />-->
    <!--<result column="financial_ratios_list_id" property="financialRatiosListId" jdbcType="VARCHAR" />-->
    <!--<result column="financial_statement_list_id" property="financialStatementListId" jdbcType="VARCHAR" />-->
    <!--<result column="frinvinfos_list_id" property="frinvinfosListId" jdbcType="VARCHAR" />-->
    <!--<result column="fygg_list_id" property="fyggListId" jdbcType="VARCHAR" />-->
    <!--<result column="guarantee_annual_list_id" property="guaranteeAnnualListId" jdbcType="VARCHAR" />-->
    <!--<result column="history_infos_list_id" property="historyInfosListId" jdbcType="VARCHAR" />-->
    <!--<result column="icp_website_list_id" property="icpWebsiteListId" jdbcType="VARCHAR" />-->
    <!--<result column="ktgg_list_id" property="ktggListId" jdbcType="VARCHAR" />-->
    <!--<result column="managements_list_id" property="managementsListId" jdbcType="VARCHAR" />-->
    <!--<result column="media_records_list_id" property="mediaRecordsListId" jdbcType="VARCHAR" />-->
    <!--<result column="operatings_id" property="operatingsId" jdbcType="VARCHAR" />-->
    <!--<result column="operation_abnormal_infos_list_id" property="operationAbnormalInfosListId" jdbcType="VARCHAR" />-->
    <!--<result column="payment_histories_list_id" property="paymentHistoriesListId" jdbcType="VARCHAR" />-->
    <!--<result column="registration_infos_id" property="registrationInfosId" jdbcType="VARCHAR" />-->
    <!--<result column="related_companies_list_id" property="relatedCompaniesListId" jdbcType="VARCHAR" />-->
    <!--<result column="ruling_documents_list_id" property="rulingDocumentsListId" jdbcType="VARCHAR" />-->
    <!--<result column="shareholder_infos_list_id" property="shareholderInfosListId" jdbcType="VARCHAR" />-->
    <!--<result column="shareholders_chain_list_id" property="shareholdersChainListId" jdbcType="VARCHAR" />-->
    <!--<result column="sxgg_list_id" property="sxggListId" jdbcType="VARCHAR" />-->
    <!--<result column="wdhmd_list_id" property="wdhmdListId" jdbcType="VARCHAR" />-->
    <!--<result column="penalty_his_list_id" property="penaltyHisListId" jdbcType="VARCHAR" />-->
    <!--<result column="share_frozen_his_list_id" property="shareFrozenHisListId" jdbcType="VARCHAR" />-->
    <!--<result column="share_pledge_his_list_id" property="sharePledgeHisListId" jdbcType="VARCHAR" />-->
    <!--<result column="frpositioninfos_list_id" property="frpositioninfosListId" jdbcType="VARCHAR" />-->
    <!--<result column="trade_references_list_id" property="tradeReferencesListId" jdbcType="VARCHAR" />-->
    <!--<result column="other_infos_list_id" property="otherInfosListId" jdbcType="VARCHAR" />-->
  </resultMap>

  <sql id="table"> full_report </sql>

  <sql id="Base_Column_List" >
    id, name_cn, crefo_no,update_time,grande_upde_time,qian_hai_update_time,litigation_update_time,cpm_update_time,financial_update_time,
    qi_xin_bao_update_time
  </sql>

  <sql id="condition_sql">
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="nameCN != null" >
      and name_cn = #{nameCN,jdbcType=VARCHAR}
    </if>
    <if test="crefoNo != null" >
      and crefo_no = #{crefoNo,jdbcType=VARCHAR}
    </if>
    <if test="updateTime != null" >
      and update_time = #{updateTime,jdbcType=VARCHAR}
    </if>
    <if test="grandeUpdeTime != null" >
      and grande_upde_time = #{grandeUpdeTime,jdbcType=VARCHAR}
    </if>
    <if test="qianHaiUpdateTime != null" >
      and qian_hai_update_time = #{qianHaiUpdateTime,jdbcType=VARCHAR}
    </if>
    <if test="litigationUpdateTime != null" >
      and litigation_update_time = #{litigationUpdateTime,jdbcType=VARCHAR}
    </if>
    <if test="cpMUpdateTime != null" >
      and cpm_update_time = #{cpMUpdateTime,jdbcType=VARCHAR}
    </if>
    <if test="financialUpdateTime != null" >
      and financial_update_time = #{financialUpdateTime,jdbcType=VARCHAR}
    </if>
    <if test="qiXinBaoUpdateTime != null" >
      and qi_xin_bao_update_time = #{qiXinBaoUpdateTime,jdbcType=VARCHAR}
    </if>
    <!--<if test="ajlcList != null" >
      and ajlc_list_id = #{ajlcList,jdbcType=VARCHAR},
    </if>
    <if test="assetsAnnualList != null" >
      and assets_annual_list_id = #{assetsAnnualList,jdbcType=VARCHAR},
    </if>
    <if test="baiscAnnuaList != null" >
      and baisc_annua_list_id = #{baiscAnnuaList,jdbcType=VARCHAR},
    </if>
    <if test="bankInfosList != null" >
      and bank_infos_list_id = #{bankInfosList,jdbcType=VARCHAR},
    </if>
    <if test="basicInfos != null" >
      and basic_infos_id =  #{basicInfos,jdbcType=VARCHAR},
    </if>
    <if test="bgtList != null" >
      and bgt_list_id = #{bgtList,jdbcType=VARCHAR},
    </if>
    <if test="brandsList != null" >
      and brands_list_id = #{brandsList,jdbcType=VARCHAR},
    </if>
    <if test="changeInfosList != null" >
      and change_infos_list_id = #{changeInfosList,jdbcType=VARCHAR},
    </if>
    <if test="chattelMortgageList != null" >
      and chattel_mortgage_list_id = #{chattelMortgageList,jdbcType=VARCHAR},
    </if>
    <if test="creditAssessments != null" >
      and credit_assessments_id = #{creditAssessments,jdbcType=VARCHAR},
    </if>
    <if test="entinvinfosList != null" >
      and entinvinfos_list_id = #{entinvinfosList,jdbcType=VARCHAR},
    </if>
    <if test="executiveList != null" >
      and executive_list_id = #{executiveList,jdbcType=VARCHAR},
    </if>
    <if test="financialFiguresList != null" >
      and financial_figures_list_id = #{financialFiguresList,jdbcType=VARCHAR},
    </if>
    <if test="financialRatiosList != null" >
      and financial_ratios_list_id = #{financialRatiosList,jdbcType=VARCHAR},
    </if>
    <if test="financialStatementList != null" >
      and financial_statement_list_id = #{financialStatementList,jdbcType=VARCHAR},
    </if>
    <if test="frinvinfosList != null" >
      and frinvinfos_list_id = #{frinvinfosList,jdbcType=VARCHAR},
    </if>
    <if test="fyggList != null" >
      and fygg_list_id = #{fyggList,jdbcType=VARCHAR},
    </if>
    <if test="guaranteeAnnualList != null" >
      and guarantee_annual_list_id = #{guaranteeAnnualList,jdbcType=VARCHAR},
    </if>
    <if test="historyInfosList != null" >
      and history_infos_list_id = #{historyInfosList,jdbcType=VARCHAR},
    </if>
    <if test="icpWebsiteList != null" >
      and icp_website_list_id = #{icpWebsiteList,jdbcType=VARCHAR},
    </if>
    <if test="ktggList != null" >
      and ktgg_list_id = #{ktggList,jdbcType=VARCHAR},
    </if>
    <if test="managementsList != null" >
      and managements_list_id = #{managementsList,jdbcType=VARCHAR},
    </if>
    <if test="mediaRecordsList != null" >
      and media_records_list_id = #{mediaRecordsList,jdbcType=VARCHAR},
    </if>
    <if test="operatings != null" >
      and operatings_id = #{operatings,jdbcType=VARCHAR},
    </if>
    <if test="operationAbnormalInfosList != null" >
      and operation_abnormal_infos_list_id = #{operationAbnormalInfosList,jdbcType=VARCHAR},
    </if>
    <if test="paymentHistoriesList != null" >
      and payment_histories_list_id = #{paymentHistoriesList,jdbcType=VARCHAR},
    </if>
    <if test="registrationInfos != null" >
      and registration_infos_id = #{registrationInfos,jdbcType=VARCHAR},
    </if>
    <if test="relatedCompaniesList != null" >
      and related_companies_list_id = #{relatedCompaniesList,jdbcType=VARCHAR},
    </if>
    <if test="rulingdocumentsList != null" >
      and ruling_documents_list_id = #{rulingdocumentsList,jdbcType=VARCHAR},
    </if>
    <if test="shareholderInfosList != null" >
      and shareholder_infos_list_id = #{shareholderInfosList,jdbcType=VARCHAR},
    </if>
    <if test="shareholdersChainList != null" >
      and shareholders_chain_list_id = #{shareholdersChainList,jdbcType=VARCHAR},
    </if>
    <if test="sxggList != null" >
      and sxgg_list_id = #{sxggList,jdbcType=VARCHAR},
    </if>
    <if test="wdhmdList != null" >
      and wdhmd_list_id = #{wdhmdList,jdbcType=VARCHAR},
    </if>
    <if test="penaltyHisList != null" >
      and penalty_his_list_id = #{penaltyHisList,jdbcType=VARCHAR},
    </if>
    <if test="shareFrozenHisList != null" >
      and share_frozen_his_list_id = #{shareFrozenHisList,jdbcType=VARCHAR},
    </if>
    <if test="sharePledgeHisList != null" >
      and share_pledge_his_list_id = #{sharePledgeHisList,jdbcType=VARCHAR},
    </if>
    <if test="frpositioninfosList != null" >
      and frpositioninfos_list_id = #{frpositioninfosList,jdbcType=VARCHAR},
    </if>
    <if test="tradeReferencesList != null" >
      and trade_references_list_id = #{tradeReferencesList,jdbcType=VARCHAR},
    </if>
    <if test="otherInfosList != null" >
      and other_infos_list_id = #{otherInfosList,jdbcType=VARCHAR},
    </if>-->
  </sql>


  <select id="getById" parameterType="Integer" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    where id = #{id}
  </select>

  <select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
  </select>

  <select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
    <![CDATA[ order by ID desc]]>
  </select>

  <select id="listPageCount" parameterType="java.util.Map" resultType="Integer">
    select count(1) from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
  </select>

  <insert id="insert" parameterType="com.mika.credit.common.entity.report.cn.FullReport" keyProperty="id" useGeneratedKeys="true">
    insert into
    <include refid="table" />
    (id,name_cn,crefo_no,update_time,grande_upde_time,qian_hai_update_time,litigation_update_time,cpm_update_time,financial_update_time,qi_xin_bao_update_time)
    values (#{id,jdbcType=INTEGER}, #{nameCN,jdbcType=VARCHAR}, #{crefoNo,jdbcType=VARCHAR},  #{updateTime,jdbcType=VARCHAR},#{grandeUpdeTime,jdbcType=VARCHAR},
    #{qianHaiUpdateTime,jdbcType=VARCHAR}, #{litigationUpdateTime,jdbcType=VARCHAR}, #{cpMUpdateTime,jdbcType=VARCHAR}, #{financialUpdateTime,jdbcType=VARCHAR}
    , #{qiXinBaoUpdateTime,jdbcType=VARCHAR})
  </insert>

  <delete id="deleteById" parameterType="Integer" >
    delete from
    <include refid="table" />
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <update id="update" parameterType="com.mika.credit.common.entity.report.cn.FullReport" >
    update full_report
    <set >
      <if test="nameCN != null" >
        name_cn = #{nameCN,jdbcType=VARCHAR},
      </if>
      <if test="crefoNo != null" >
        crefo_no = #{crefoNo,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="grandeUpdeTime != null" >
        grande_upde_time = #{grandeUpdeTime,jdbcType=VARCHAR},
      </if>
      <if test="qianHaiUpdateTime != null" >
        qian_hai_update_time = #{qianHaiUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="litigationUpdateTime != null" >
        litigation_update_time = #{litigationUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="cpMUpdateTime != null" >
        cpm_update_time = #{cpMUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="financialUpdateTime != null" >
        financial_update_time = #{financialUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="qiXinBaoUpdateTime != null" >
        qi_xin_bao_update_time = #{qiXinBaoUpdateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertSelective" parameterType="com.mika.credit.common.entity.report.cn.FullReport" >
    insert into full_report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="nameCN != null" >
        name_cn,
      </if>
      <if test="crefoNo != null" >
        crefo_no,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="grandeUpdeTime != null" >
        grande_upde_time,
      </if>
      <if test="qianHaiUpdateTime != null" >
        qian_hai_update_time,
      </if>
      <if test="litigationUpdateTime != null" >
        litigation_update_time,
      </if>
      <if test="cpMUpdateTime != null" >
        cpm_update_time,
      </if>
      <if test="financialUpdateTime != null" >
        financial_update_time,
      </if>
      <if test="qiXinBaoUpdateTime != null" >
        qi_xin_bao_update_time,
      </if>
      <!--<if test="ajlcList != null" >
        ajlc_list_id,
      </if>
      <if test="assetsAnnualList != null" >
        assets_annual_list_id,
      </if>
      <if test="baiscAnnuaList != null" >
        baisc_annua_list_id,
      </if>
      <if test="bankInfosList != null" >
        bank_infos_list_id,
      </if>
      <if test="basicInfos != null" >
        basic_infos_id,
      </if>
      <if test="bgtList != null" >
        bgt_list_id,
      </if>
      <if test="brandsList != null" >
        brands_list_id,
      </if>
      <if test="changeInfosList != null" >
        change_infos_list_id,
      </if>
      <if test="chattelMortgageList != null" >
        chattel_mortgage_list_id,
      </if>
      <if test="creditAssessments != null" >
        credit_assessments_id,
      </if>
      <if test="entinvinfosList != null" >
        entinvinfos_list_id,
      </if>
      <if test="executiveList != null" >
        executive_list_id,
      </if>
      <if test="financialFiguresList != null" >
        financial_figures_list_id,
      </if>
      <if test="financialRatiosList != null" >
        financial_ratios_list_id,
      </if>
      <if test="financialStatementList != null" >
        financial_statement_list_id,
      </if>
      <if test="frinvinfosList != null" >
        frinvinfos_list_id,
      </if>
      <if test="fyggList != null" >
        fygg_list_id,
      </if>
      <if test="guaranteeAnnualList != null" >
        guarantee_annual_list_id,
      </if>
      <if test="historyInfosList != null" >
        history_infos_list_id,
      </if>
      <if test="icpWebsiteList != null" >
        icp_website_list_id,
      </if>
      <if test="ktggList != null" >
        ktgg_list_id,
      </if>
      <if test="managementsList != null" >
        managements_list_id,
      </if>
      <if test="mediaRecordsList != null" >
        media_records_list_id,
      </if>
      <if test="operatings != null" >
        operatings_id,
      </if>
      <if test="operationAbnormalInfosList != null" >
        operation_abnormal_infos_list_id,
      </if>
      <if test="paymentHistoriesList != null" >
        payment_histories_list_id,
      </if>
      <if test="registrationInfos != null" >
        registration_infos_id,
      </if>
      <if test="relatedCompaniesList != null" >
        related_companies_list_id,
      </if>
      <if test="rulingdocumentsList != null" >
        ruling_documents_list_id,
      </if>
      <if test="shareholderInfosList != null" >
        shareholder_infos_list_id,
      </if>
      <if test="shareholdersChainList != null" >
        shareholders_chain_list_id,
      </if>
      <if test="sxggList != null" >
        sxgg_list_id,
      </if>
      <if test="wdhmdList != null" >
        wdhmd_list_id,
      </if>
      <if test="penaltyHisList != null" >
        penalty_his_list_id,
      </if>
      <if test="shareFrozenHisList != null" >
        share_frozen_his_list_id,
      </if>
      <if test="sharePledgeHisList != null" >
        share_pledge_his_list_id,
      </if>
      <if test="frpositioninfosList != null" >
        frpositioninfos_list_id,
      </if>
      <if test="tradeReferencesList != null" >
        trade_references_list_id,
      </if>
      <if test="otherInfosList != null" >
        other_infos_list_id,
      </if>-->
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nameCN != null" >
        #{nameCN,jdbcType=VARCHAR},
      </if>
      <if test="crefoNo != null" >
        #{crefoNo,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="grandeUpdeTime != null" >
        #{grandeUpdeTime,jdbcType=VARCHAR},
      </if>
      <if test="qianHaiUpdateTime != null" >
        #{qianHaiUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="litigationUpdateTime != null" >
        #{litigationUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="cpMUpdateTime != null" >
        #{cpMUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="financialUpdateTime != null" >
        #{financialUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="qiXinBaoUpdateTime != null" >
        #{qiXinBaoUpdateTime,jdbcType=VARCHAR},
      </if>
      <!--<if test="ajlcList != null" >
        #{ajlcList,jdbcType=VARCHAR},
      </if>
      <if test="assetsAnnualList != null" >
        #{assetsAnnualList,jdbcType=VARCHAR},
      </if>
      <if test="bankInfosList != null" >
        #{bankInfosList,jdbcType=VARCHAR},
      </if>
      <if test="basicInfos != null" >
        #{basicInfos,jdbcType=VARCHAR},
      </if>
      <if test="bgtList != null" >
        #{bgtList,jdbcType=VARCHAR},
      </if>
      <if test="brandsList != null" >
        #{brandsList,jdbcType=VARCHAR},
      </if>
      <if test="changeInfosList != null" >
        #{changeInfosList,jdbcType=VARCHAR},
      </if>
      <if test="chattelMortgageList != null" >
        #{chattelMortgageList,jdbcType=VARCHAR},
      </if>
      <if test="creditAssessments != null" >
        #{creditAssessments,jdbcType=VARCHAR},
      </if>
      <if test="entinvinfosList != null" >
        #{entinvinfosList,jdbcType=VARCHAR},
      </if>
      <if test="executiveList != null" >
        #{executiveList,jdbcType=VARCHAR},
      </if>
      <if test="financialFiguresList != null" >
        #{financialFiguresList,jdbcType=VARCHAR},
      </if>
      <if test="financialRatiosList != null" >
        #{financialRatiosList,jdbcType=VARCHAR},
      </if>
      <if test="financialStatementList != null" >
        #{financialStatementList,jdbcType=VARCHAR},
      </if>
      <if test="frinvinfosList != null" >
        #{frinvinfosList,jdbcType=VARCHAR},
      </if>
      <if test="fyggList != null" >
        #{fyggList,jdbcType=VARCHAR},
      </if>
      <if test="guaranteeAnnualList != null" >
        #{guaranteeAnnualList,jdbcType=VARCHAR},
      </if>
      <if test="historyInfosList != null" >
        #{historyInfosList,jdbcType=VARCHAR},
      </if>
      <if test="icpWebsiteList != null" >
        #{icpWebsiteList,jdbcType=VARCHAR},
      </if>
      <if test="ktggList != null" >
        #{ktggList,jdbcType=VARCHAR},
      </if>
      <if test="managementsList != null" >
        #{managementsList,jdbcType=VARCHAR},
      </if>
      <if test="mediaRecordsList != null" >
        #{mediaRecordsList,jdbcType=VARCHAR},
      </if>
      <if test="operatings != null" >
        #{operatings,jdbcType=VARCHAR},
      </if>
      <if test="operationAbnormalInfosList != null" >
        #{operationAbnormalInfosList,jdbcType=VARCHAR},
      </if>
      <if test="paymentHistoriesList != null" >
        #{paymentHistoriesList,jdbcType=VARCHAR},
      </if>
      <if test="registrationInfos != null" >
        #{registrationInfos,jdbcType=VARCHAR},
      </if>
      <if test="relatedCompaniesList != null" >
        #{relatedCompaniesList,jdbcType=VARCHAR},
      </if>
      <if test="rulingdocumentsList != null" >
        #{rulingdocumentsList,jdbcType=VARCHAR},
      </if>
      <if test="shareholderInfosList != null" >
        #{shareholderInfosList,jdbcType=VARCHAR},
      </if>
      <if test="shareholdersChainList != null" >
        #{shareholdersChainList,jdbcType=VARCHAR},
      </if>
      <if test="sxggList != null" >
        #{sxggList,jdbcType=VARCHAR},
      </if>
      <if test="wdhmdList != null" >
        #{wdhmdList,jdbcType=VARCHAR},
      </if>
      <if test="penaltyHisList != null" >
        #{penaltyHisList,jdbcType=VARCHAR},
      </if>
      <if test="shareFrozenHisList != null" >
        #{shareFrozenHisList,jdbcType=VARCHAR},
      </if>
      <if test="sharePledgeHisList != null" >
        #{sharePledgeHisList,jdbcType=VARCHAR},
      </if>
      <if test="frpositioninfosList != null" >
        #{frpositioninfosList,jdbcType=VARCHAR},
      </if>
      <if test="tradeReferencesList != null" >
        #{tradeReferencesList,jdbcType=VARCHAR},
      </if>
      <if test="otherInfosList != null" >
        #{otherInfosList,jdbcType=VARCHAR},
      </if>-->
    </trim>
  </insert>

  <update id="updateSelective" parameterType="com.mika.credit.common.entity.report.cn.FullReport" >
    update full_report
    <set >
      <if test="nameCN != null" >
        name_cn = #{nameCN,jdbcType=VARCHAR},
      </if>
      <if test="crefoNo != null" >
        crefo_no = #{crefoNo,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="grandeUpdeTime != null" >
        grande_upde_time = #{grandeUpdeTime,jdbcType=VARCHAR},
      </if>
      <if test="qianHaiUpdateTime != null" >
        qian_hai_update_time = #{qianHaiUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="litigationUpdateTime != null" >
        litigation_update_time = #{litigationUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="cpMUpdateTime != null" >
        cpm_update_time = #{cpMUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="financialUpdateTime != null" >
        financial_update_time = #{financialUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="qiXinBaoUpdateTime != null" >
        qi_xin_bao_update_time = #{qiXinBaoUpdateTime,jdbcType=VARCHAR},
      </if>
      <!--<if test="ajlcList != null" >
        ajlc_list_id = #{ajlcList,jdbcType=VARCHAR},
      </if>
      <if test="assetsAnnualList != null" >
        assets_annual_list_id= #{assetsAnnualList,jdbcType=VARCHAR},
      </if>
      <if test="baiscAnnuaList != null" >
        baisc_annua_list_id= #{baiscAnnuaList,jdbcType=VARCHAR},
      </if>
      <if test="bankInfosList != null" >
        bank_infos_list_id= #{bankInfosList,jdbcType=VARCHAR},
      </if>
      <if test="basicInfos != null" >
        basic_infos_id= #{basicInfos,jdbcType=VARCHAR},
      </if>
      <if test="bgtList != null" >
        bgt_list_id= #{bgtList,jdbcType=VARCHAR},
      </if>
      <if test="brandsList != null" >
        brands_list_id= #{brandsList,jdbcType=VARCHAR},
      </if>
      <if test="changeInfosList != null" >
        change_infos_list_id= #{changeInfosList,jdbcType=VARCHAR},
      </if>
      <if test="chattelMortgageList != null" >
        chattel_mortgage_list_id= #{chattelMortgageList,jdbcType=VARCHAR},
      </if>
      <if test="creditAssessments != null" >
        credit_assessments_id= #{creditAssessments,jdbcType=VARCHAR},
      </if>
      <if test="entinvinfosList != null" >
        entinvinfos_list_id= #{entinvinfosList,jdbcType=VARCHAR},
      </if>
      <if test="executiveList != null" >
        executive_list_id= #{executiveList,jdbcType=VARCHAR},
      </if>
      <if test="financialFiguresList != null" >
        financial_figures_list_id= #{financialFiguresList,jdbcType=VARCHAR},
      </if>
      <if test="financialRatiosList != null" >
        financial_ratios_list_id= #{financialRatiosList,jdbcType=VARCHAR},
      </if>
      <if test="financialStatementList != null" >
        financial_statement_list_id= #{financialStatementList,jdbcType=VARCHAR},
      </if>
      <if test="frinvinfosList != null" >
        frinvinfos_list_id= #{frinvinfosList,jdbcType=VARCHAR},
      </if>
      <if test="fyggList != null" >
        fygg_list_id= #{fyggList,jdbcType=VARCHAR},
      </if>
      <if test="guaranteeAnnualList != null" >
        guarantee_annual_list_id= #{guaranteeAnnualList,jdbcType=VARCHAR},
      </if>
      <if test="historyInfosList != null" >
        history_infos_list_id= #{historyInfosList,jdbcType=VARCHAR},
      </if>
      <if test="icpWebsiteList != null" >
        icp_website_list_id= #{icpWebsiteList,jdbcType=VARCHAR},
      </if>
      <if test="ktggList != null" >
        ktgg_list_id= #{ktggList,jdbcType=VARCHAR},
      </if>
      <if test="managementsList != null" >
        managements_list_id= #{managementsList,jdbcType=VARCHAR},
      </if>
      <if test="mediaRecordsList != null" >
        media_records_list_id= #{mediaRecordsList,jdbcType=VARCHAR},
      </if>
      <if test="operatings != null" >
        operatings_id= #{operatings,jdbcType=VARCHAR},
      </if>
      <if test="operationAbnormalInfosList != null" >
        operation_abnormal_infos_list_id= #{operationAbnormalInfosList,jdbcType=VARCHAR},
      </if>
      <if test="paymentHistoriesList != null" >
        payment_histories_list_id= #{paymentHistoriesList,jdbcType=VARCHAR},
      </if>
      <if test="registrationInfos != null" >
        registration_infos_id= #{registrationInfos,jdbcType=VARCHAR},
      </if>
      <if test="relatedCompaniesList != null" >
        related_companies_list_id= #{relatedCompaniesList,jdbcType=VARCHAR},
      </if>
      <if test="rulingdocumentsList != null" >
        ruling_documents_list_id= #{rulingdocumentsList,jdbcType=VARCHAR},
      </if>
      <if test="shareholderInfosList != null" >
        shareholder_infos_list_id= #{shareholderInfosList,jdbcType=VARCHAR},
      </if>
      <if test="shareholdersChainList != null" >
        shareholders_chain_list_id= #{shareholdersChainList,jdbcType=VARCHAR},
      </if>
      <if test="sxggList != null" >
        sxgg_list_id= #{sxggList,jdbcType=VARCHAR},
      </if>
      <if test="wdhmdList != null" >
        wdhmd_list_id= #{wdhmdList,jdbcType=VARCHAR},
      </if>
      <if test="penaltyHisList != null" >
        penalty_his_list_id= #{penaltyHisList,jdbcType=VARCHAR},
      </if>
      <if test="shareFrozenHisList != null" >
        share_frozen_his_list_id= #{shareFrozenHisList,jdbcType=VARCHAR},
      </if>
      <if test="sharePledgeHisList != null" >
        share_pledge_his_list_id= #{sharePledgeHisList,jdbcType=VARCHAR},
      </if>
      <if test="frpositioninfosList != null" >
        frpositioninfos_list_id= #{frpositioninfosList,jdbcType=VARCHAR},
      </if>
      <if test="tradeReferencesList != null" >
        trade_references_list_id= #{tradeReferencesList,jdbcType=VARCHAR},
      </if>
      <if test="otherInfosList != null" >
        other_infos_list_id= #{otherInfosList,jdbcType=VARCHAR},
      </if>-->
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>