<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mika.credit.facade.front.cn.dao.impl.IcpWebsiteDaoImpl" >
  <cache eviction="LRU" type="com.mika.credit.common.core.mybatis.cache.redis.sharded.MybatiesRedisCache" />
  <resultMap id="BaseResultMap" type="com.mika.credit.common.entity.report.cn.IcpWebsite" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="contact_add" property="contactAdd" jdbcType="VARCHAR" />
    <result column="contact_tel" property="contactTel" jdbcType="VARCHAR" />
    <result column="crefo_no" property="crefoNo" jdbcType="VARCHAR" />
    <result column="domain_age" property="domainAge" jdbcType="VARCHAR" />
    <result column="get_date" property="getDate" jdbcType="VARCHAR" />
    <result column="info_source" property="infoSource" jdbcType="VARCHAR" />
    <result column="license_key" property="licenseKey" jdbcType="VARCHAR" />
    <result column="license_key_en" property="licenseKeyEN" jdbcType="VARCHAR" />
    <result column="link" property="link" jdbcType="VARCHAR" />
    <result column="maturity_time" property="maturityTime" jdbcType="VARCHAR" />
    <result column="organizer_name" property="organizerName" jdbcType="VARCHAR" />
    <result column="organizer_nature" property="organizerNature" jdbcType="VARCHAR" />
    <result column="other_info" property="otherInfo" jdbcType="VARCHAR" />
    <result column="register_different_country" property="registerDifferentCountry" jdbcType="VARCHAR" />
    <result column="register_email" property="registerEmail" jdbcType="VARCHAR" />
    <result column="register_name" property="registerName" jdbcType="VARCHAR" />
    <result column="registration_time" property="registrationTime" jdbcType="VARCHAR" />
    <result column="upd_date" property="updDate" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="website" property="website" jdbcType="VARCHAR" />
    <result column="website_name" property="websiteName" jdbcType="VARCHAR" />
    <result column="website_species" property="websiteSpecies" jdbcType="VARCHAR" />
    <result column="website_status" property="websiteStatus" jdbcType="VARCHAR" />
    <result column="full_report_id" property="fullReportId" jdbcType="INTEGER" />
  </resultMap>

  <sql id="table"> icp_website </sql>

  <sql id="Base_Column_List" >
    id, contact_add, contact_tel, crefo_no, domain_age, get_date, info_source, license_key,license_key_en,
    link, maturity_time, organizer_name, organizer_nature, other_info, register_different_country, 
    register_email, register_name, registration_time, upd_date, update_time, website, 
    website_name, website_species, website_status,full_report_id
  </sql>

  <sql id="condition_sql">
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="contactAdd != null" >
      and contact_add = #{contactAdd,jdbcType=VARCHAR}
    </if>
    <if test="contactTel != null" >
      and contact_tel = #{contactTel,jdbcType=VARCHAR}
    </if>
    <if test="crefoNo != null" >
      and crefo_no = #{crefoNo,jdbcType=VARCHAR}
    </if>
    <if test="domainAge != null" >
      and domain_age = #{domainAge,jdbcType=VARCHAR}
    </if>
    <if test="getDate != null" >
      and get_date = #{getDate,jdbcType=VARCHAR}
    </if>
    <if test="infoSource != null" >
      and info_source = #{infoSource,jdbcType=VARCHAR}
    </if>
    <if test="licenseKey != null" >
      and license_key = #{licenseKey,jdbcType=VARCHAR}
    </if>
    <if test="licenseKeyEN != null" >
      and license_key_en = #{licenseKeyEN,jdbcType=VARCHAR}
    </if>
    <if test="link != null" >
      and link = #{link,jdbcType=VARCHAR}
    </if>
    <if test="maturityTime != null" >
      and maturity_time = #{maturityTime,jdbcType=VARCHAR}
    </if>
    <if test="organizerName != null" >
      and organizer_name = #{organizerName,jdbcType=VARCHAR}
    </if>
    <if test="organizerNature != null" >
      and organizer_nature = #{organizerNature,jdbcType=VARCHAR}
    </if>
    <if test="otherInfo != null" >
      and other_info = #{otherInfo,jdbcType=VARCHAR}
    </if>
    <if test="registerDifferentCountry != null" >
      and register_different_country = #{registerDifferentCountry,jdbcType=VARCHAR}
    </if>
    <if test="registerEmail != null" >
      and register_email = #{registerEmail,jdbcType=VARCHAR}
    </if>
    <if test="registerName != null" >
      and register_name = #{registerName,jdbcType=VARCHAR}
    </if>
    <if test="registrationTime != null" >
      and registration_time = #{registrationTime,jdbcType=VARCHAR}
    </if>
    <if test="updDate != null" >
      and upd_date = #{updDate,jdbcType=VARCHAR}
    </if>
    <if test="updateTime != null" >
      and update_time = #{updateTime,jdbcType=VARCHAR}
    </if>
    <if test="website != null" >
      and website = #{website,jdbcType=VARCHAR}
    </if>
    <if test="websiteName != null" >
      and website_name = #{websiteName,jdbcType=VARCHAR}
    </if>
    <if test="websiteSpecies != null" >
      and website_species = #{websiteSpecies,jdbcType=VARCHAR}
    </if>
    <if test="websiteStatus != null" >
      and website_status = #{websiteStatus,jdbcType=VARCHAR}
    </if>
    <if test="fullReportId != null" >
      and full_report_id = #{fullReportId,jdbcType=INTEGER}
    </if>
  </sql>

  <select id="getById" parameterType="Integer" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    where ID = #{id}
  </select>

  <select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
  </select>

  <select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
    <![CDATA[ order by ID desc]]>
  </select>

  <select id="listPageCount" parameterType="java.util.Map" resultType="Integer">
    select count(1) from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
  </select>

  <insert id="insert" parameterType="com.mika.credit.common.entity.report.cn.IcpWebsite" keyProperty="id" useGeneratedKeys="true">
    insert into
    <include refid="table" />
    (id, contact_add, contact_tel,
    crefo_no, domain_age, get_date,
    info_source, license_key,license_key_en, link,
    maturity_time, organizer_name, organizer_nature,
    other_info, register_different_country, register_email,
    register_name, registration_time, upd_date,
    update_time, website, website_name,
    website_species, website_status,full_report_id)
    values (#{id,jdbcType=INTEGER}, #{contactAdd,jdbcType=VARCHAR}, #{contactTel,jdbcType=VARCHAR},
    #{crefoNo,jdbcType=VARCHAR}, #{domainAge,jdbcType=VARCHAR}, #{getDate,jdbcType=VARCHAR},
    #{infoSource,jdbcType=VARCHAR}, #{licenseKey,jdbcType=VARCHAR}, #{licenseKeyEN,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR},
    #{maturityTime,jdbcType=VARCHAR}, #{organizerName,jdbcType=VARCHAR}, #{organizerNature,jdbcType=VARCHAR},
    #{otherInfo,jdbcType=VARCHAR}, #{registerDifferentCountry,jdbcType=VARCHAR}, #{registerEmail,jdbcType=VARCHAR},
    #{registerName,jdbcType=VARCHAR}, #{registrationTime,jdbcType=VARCHAR}, #{updDate,jdbcType=VARCHAR},
    #{updateTime,jdbcType=VARCHAR}, #{website,jdbcType=VARCHAR}, #{websiteName,jdbcType=VARCHAR},
    #{websiteSpecies,jdbcType=VARCHAR}, #{websiteStatus,jdbcType=VARCHAR},#{fullReportId,jdbcType=INTEGER})
  </insert>

  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from
    <include refid="table" />
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <update id="update" parameterType="com.mika.credit.common.entity.report.cn.IcpWebsite" >
    update icp_website
    set contact_add = #{contactAdd,jdbcType=VARCHAR},
      contact_tel = #{contactTel,jdbcType=VARCHAR},
      crefo_no = #{crefoNo,jdbcType=VARCHAR},
      domain_age = #{domainAge,jdbcType=VARCHAR},
      get_date = #{getDate,jdbcType=VARCHAR},
      info_source = #{infoSource,jdbcType=VARCHAR},
      license_key = #{licenseKey,jdbcType=VARCHAR},
      license_key_en = #{licenseKeyEN,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      maturity_time = #{maturityTime,jdbcType=VARCHAR},
      organizer_name = #{organizerName,jdbcType=VARCHAR},
      organizer_nature = #{organizerNature,jdbcType=VARCHAR},
      other_info = #{otherInfo,jdbcType=VARCHAR},
      register_different_country = #{registerDifferentCountry,jdbcType=VARCHAR},
      register_email = #{registerEmail,jdbcType=VARCHAR},
      register_name = #{registerName,jdbcType=VARCHAR},
      registration_time = #{registrationTime,jdbcType=VARCHAR},
      upd_date = #{updDate,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      website = #{website,jdbcType=VARCHAR},
      website_name = #{websiteName,jdbcType=VARCHAR},
      website_species = #{websiteSpecies,jdbcType=VARCHAR},
      website_status = #{websiteStatus,jdbcType=VARCHAR}，
	full_report_id = #{fullReportId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertSelective" parameterType="com.mika.credit.common.entity.report.cn.IcpWebsite" >
    insert into icp_website
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="contactAdd != null" >
        contact_add,
      </if>
      <if test="contactTel != null" >
        contact_tel,
      </if>
      <if test="crefoNo != null" >
        crefo_no,
      </if>
      <if test="domainAge != null" >
        domain_age,
      </if>
      <if test="getDate != null" >
        get_date,
      </if>
      <if test="infoSource != null" >
        info_source,
      </if>
      <if test="licenseKey != null" >
        license_key,
      </if>
      <if test="licenseKeyEN != null" >
        license_key_en,
      </if>
      <if test="link != null" >
        link,
      </if>
      <if test="maturityTime != null" >
        maturity_time,
      </if>
      <if test="organizerName != null" >
        organizer_name,
      </if>
      <if test="organizerNature != null" >
        organizer_nature,
      </if>
      <if test="otherInfo != null" >
        other_info,
      </if>
      <if test="registerDifferentCountry != null" >
        register_different_country,
      </if>
      <if test="registerEmail != null" >
        register_email,
      </if>
      <if test="registerName != null" >
        register_name,
      </if>
      <if test="registrationTime != null" >
        registration_time,
      </if>
      <if test="updDate != null" >
        upd_date,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="website != null" >
        website,
      </if>
      <if test="websiteName != null" >
        website_name,
      </if>
      <if test="websiteSpecies != null" >
        website_species,
      </if>
      <if test="websiteStatus != null" >
        website_status,
      </if>
      <if test="fullReportId != null" >
        full_report_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="contactAdd != null" >
        #{contactAdd,jdbcType=VARCHAR},
      </if>
      <if test="contactTel != null" >
        #{contactTel,jdbcType=VARCHAR},
      </if>
      <if test="crefoNo != null" >
        #{crefoNo,jdbcType=VARCHAR},
      </if>
      <if test="domainAge != null" >
        #{domainAge,jdbcType=VARCHAR},
      </if>
      <if test="getDate != null" >
        #{getDate,jdbcType=VARCHAR},
      </if>
      <if test="infoSource != null" >
        #{infoSource,jdbcType=VARCHAR},
      </if>
      <if test="licenseKey != null" >
        #{licenseKey,jdbcType=VARCHAR},
      </if>
      <if test="licenseKeyEN != null" >
        #{licenseKeyEN,jdbcType=VARCHAR},
      </if>
      <if test="link != null" >
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="maturityTime != null" >
        #{maturityTime,jdbcType=VARCHAR},
      </if>
      <if test="organizerName != null" >
        #{organizerName,jdbcType=VARCHAR},
      </if>
      <if test="organizerNature != null" >
        #{organizerNature,jdbcType=VARCHAR},
      </if>
      <if test="otherInfo != null" >
        #{otherInfo,jdbcType=VARCHAR},
      </if>
      <if test="registerDifferentCountry != null" >
        #{registerDifferentCountry,jdbcType=VARCHAR},
      </if>
      <if test="registerEmail != null" >
        #{registerEmail,jdbcType=VARCHAR},
      </if>
      <if test="registerName != null" >
        #{registerName,jdbcType=VARCHAR},
      </if>
      <if test="registrationTime != null" >
        #{registrationTime,jdbcType=VARCHAR},
      </if>
      <if test="updDate != null" >
        #{updDate,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="website != null" >
        #{website,jdbcType=VARCHAR},
      </if>
      <if test="websiteName != null" >
        #{websiteName,jdbcType=VARCHAR},
      </if>
      <if test="websiteSpecies != null" >
        #{websiteSpecies,jdbcType=VARCHAR},
      </if>
      <if test="websiteStatus != null" >
        #{websiteStatus,jdbcType=VARCHAR},
      </if>
      <if test="fullReportId != null" >
        #{fullReportId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateSelective" parameterType="com.mika.credit.common.entity.report.cn.IcpWebsite" >
    update icp_website
    <set >
      <if test="contactAdd != null" >
        contact_add = #{contactAdd,jdbcType=VARCHAR},
      </if>
      <if test="contactTel != null" >
        contact_tel = #{contactTel,jdbcType=VARCHAR},
      </if>
      <if test="crefoNo != null" >
        crefo_no = #{crefoNo,jdbcType=VARCHAR},
      </if>
      <if test="domainAge != null" >
        domain_age = #{domainAge,jdbcType=VARCHAR},
      </if>
      <if test="getDate != null" >
        get_date = #{getDate,jdbcType=VARCHAR},
      </if>
      <if test="infoSource != null" >
        info_source = #{infoSource,jdbcType=VARCHAR},
      </if>
      <if test="licenseKey != null" >
        license_key = #{licenseKey,jdbcType=VARCHAR},
      </if>
      <if test="licenseKeyEN != null" >
        license_key_en = #{licenseKeyEN,jdbcType=VARCHAR},
      </if>
      <if test="link != null" >
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="maturityTime != null" >
        maturity_time = #{maturityTime,jdbcType=VARCHAR},
      </if>
      <if test="organizerName != null" >
        organizer_name = #{organizerName,jdbcType=VARCHAR},
      </if>
      <if test="organizerNature != null" >
        organizer_nature = #{organizerNature,jdbcType=VARCHAR},
      </if>
      <if test="otherInfo != null" >
        other_info = #{otherInfo,jdbcType=VARCHAR},
      </if>
      <if test="registerDifferentCountry != null" >
        register_different_country = #{registerDifferentCountry,jdbcType=VARCHAR},
      </if>
      <if test="registerEmail != null" >
        register_email = #{registerEmail,jdbcType=VARCHAR},
      </if>
      <if test="registerName != null" >
        register_name = #{registerName,jdbcType=VARCHAR},
      </if>
      <if test="registrationTime != null" >
        registration_time = #{registrationTime,jdbcType=VARCHAR},
      </if>
      <if test="updDate != null" >
        upd_date = #{updDate,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="website != null" >
        website = #{website,jdbcType=VARCHAR},
      </if>
      <if test="websiteName != null" >
        website_name = #{websiteName,jdbcType=VARCHAR},
      </if>
      <if test="websiteSpecies != null" >
        website_species = #{websiteSpecies,jdbcType=VARCHAR},
      </if>
      <if test="websiteStatus != null" >
        website_status = #{websiteStatus,jdbcType=VARCHAR},
      </if>
      <if test="fullReportId != null" >
        full_report_id = #{fullReportId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>




</mapper>