<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mika.credit.facade.front.cn.dao.impl.KtggDaoImpl" >
  <cache eviction="LRU" type="com.mika.credit.common.core.mybatis.cache.redis.sharded.MybatiesRedisCache" />
  <resultMap id="BaseResultMap" type="com.mika.credit.common.entity.report.cn.Ktgg" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="crefo_no" property="crefoNo" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    <result column="sort_time" property="sortTime" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="body" property="body" jdbcType="LONGVARCHAR" />
    <result column="case_cause_cn" property="caseCauseCN" jdbcType="LONGVARCHAR" />
    <result column="case_cause_en" property="caseCauseEN" jdbcType="LONGVARCHAR" />
    <result column="chief_justice_cn" property="chiefJusticeCN" jdbcType="LONGVARCHAR" />
    <result column="chief_justice_en" property="chiefJusticeEN" jdbcType="LONGVARCHAR" />
    <result column="courthouse_cn" property="courthouseCN" jdbcType="LONGVARCHAR" />
    <result column="courthouse_en" property="courthouseEN" jdbcType="LONGVARCHAR" />
    <result column="courtroom_cn" property="courtroomCN" jdbcType="LONGVARCHAR" />
    <result column="courtroom_en" property="courtroomEN" jdbcType="LONGVARCHAR" />
    <result column="defendant_cn" property="defendantCN" jdbcType="LONGVARCHAR" />
    <result column="defendant_en" property="defendantEN" jdbcType="LONGVARCHAR" />
    <result column="docket_no_cn" property="docketNoCN" jdbcType="LONGVARCHAR" />
    <result column="docket_no_en" property="docketNoEN" jdbcType="LONGVARCHAR" />
    <result column="ktgg_id" property="ktggId" jdbcType="LONGVARCHAR" />
    <result column="note_cn" property="noteCN" jdbcType="LONGVARCHAR" />
    <result column="note_en" property="noteEN" jdbcType="LONGVARCHAR" />
    <result column="organizer" property="organizer" jdbcType="LONGVARCHAR" />
    <result column="parties" property="parties" jdbcType="LONGVARCHAR" />
    <result column="plaintiff_cn" property="plaintiffCN" jdbcType="LONGVARCHAR" />
    <result column="plaintiff_en" property="plaintiffEN" jdbcType="LONGVARCHAR" />
    <result column="related_party" property="relatedParty" jdbcType="LONGVARCHAR" />
    <result column="title" property="title" jdbcType="LONGVARCHAR" />
    <result column="full_report_id" property="fullReportId" jdbcType="INTEGER" />
    <result column="body_en" property="bodyEN" jdbcType="LONGVARCHAR" />
  </resultMap>

  <sql id="table"> ktgg </sql>

  <sql id="Base_Column_List" >
    id, crefo_no, del_flag, sort_time, update_time,
    body, case_cause_cn, case_cause_en, chief_justice_cn, chief_justice_en, courthouse_cn,
    courthouse_en, courtroom_cn, courtroom_en, defendant_cn, defendant_en, docket_no_cn, docket_no_en,
    ktgg_id, note_cn, note_en, organizer, parties, plaintiff_cn, plaintiff_en, related_party,
    title,full_report_id,body_en
  </sql>

  <sql id="condition_sql">
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="crefoNo != null" >
      and crefo_no = #{crefoNo,jdbcType=VARCHAR}
    </if>
    <if test="delFlag != null" >
      and del_flag = #{delFlag,jdbcType=VARCHAR}
    </if>
    <if test="sortTime != null" >
      and sort_time = #{sortTime,jdbcType=VARCHAR}
    </if>
    <if test="updateTime != null" >
      and update_time = #{updateTime,jdbcType=VARCHAR}
    </if>
    <if test="body != null" >
      and body = #{body,jdbcType=LONGVARCHAR}
    </if>
    <if test="caseCauseCN != null" >
      and case_cause_cn = #{caseCauseCN,jdbcType=LONGVARCHAR}
    </if>
    <if test="caseCauseEN != null" >
      and case_cause_en = #{caseCauseEN,jdbcType=LONGVARCHAR}
    </if>
    <if test="chiefJusticeCN != null" >
      and chief_justice_cn = #{chiefJusticeCN,jdbcType=LONGVARCHAR}
    </if>
    <if test="chiefJusticeEN != null" >
      and chief_justice_en = #{chiefJusticeEN,jdbcType=LONGVARCHAR}
    </if>
    <if test="courthouseCN != null" >
      and courthouse_cn = #{courthouseCN,jdbcType=LONGVARCHAR}
    </if>
    <if test="courthouseEN != null" >
      and courthouse_en = #{courthouseEN,jdbcType=LONGVARCHAR}
    </if>
    <if test="courtroomCN != null" >
      and courtroom_cn = #{courtroomCN,jdbcType=LONGVARCHAR}
    </if>
    <if test="courtroomEN != null" >
      and courtroom_en = #{courtroomEN,jdbcType=LONGVARCHAR}
    </if>
    <if test="defendantCN != null" >
      and defendant_cn = #{defendantCN,jdbcType=LONGVARCHAR}
    </if>
    <if test="defendantEN != null" >
      and defendant_en = #{defendantEN,jdbcType=LONGVARCHAR}
    </if>
    <if test="docketNoCN != null" >
      and docket_no_cn = #{docketNoCN,jdbcType=LONGVARCHAR}
    </if>
    <if test="docketNoEN != null" >
      and docket_no_en = #{docketNoEN,jdbcType=LONGVARCHAR}
    </if>
    <if test="ktggId != null" >
      and ktgg_id = #{ktggId,jdbcType=LONGVARCHAR}
    </if>
    <if test="noteCN != null" >
      and note_cn = #{noteCN,jdbcType=LONGVARCHAR}
    </if>
    <if test="noteEN != null" >
      and note_en = #{noteEN,jdbcType=LONGVARCHAR}
    </if>
    <if test="organizer != null" >
      and organizer = #{organizer,jdbcType=LONGVARCHAR}
    </if>
    <if test="parties != null" >
      and parties = #{parties,jdbcType=LONGVARCHAR}
    </if>
    <if test="plaintiffCN != null" >
      and plaintiff_cn = #{plaintiffCN,jdbcType=LONGVARCHAR}
    </if>
    <if test="plaintiffEN != null" >
      and plaintiff_en = #{plaintiffEN,jdbcType=LONGVARCHAR}
    </if>
    <if test="relatedParty != null" >
      and related_party = #{relatedParty,jdbcType=LONGVARCHAR}
    </if>
    <if test="title != null" >
      and title = #{title,jdbcType=LONGVARCHAR}
    </if>
    <if test="fullReportId != null" >
      and full_report_id = #{fullReportId,jdbcType=INTEGER}
    </if>
    <if test="bodyEN != null" >
      and body_en = #{bodyEN,jdbcType=LONGVARCHAR}
    </if>
  </sql>

  <select id="getById" parameterType="Integer" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    where ID = #{id}
  </select>

  <select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
  </select>

  <select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
    <![CDATA[ order by ID desc]]>
  </select>

  <select id="listPageCount" parameterType="java.util.Map" resultType="Integer">
    select count(1) from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
  </select>

  <insert id="insert" parameterType="com.mika.credit.common.entity.report.cn.Ktgg" keyProperty="id" useGeneratedKeys="true">
    insert into
    <include refid="table" />
    (id, crefo_no, del_flag,
    sort_time, update_time, body,
    case_cause_cn, case_cause_en, chief_justice_cn,
    chief_justice_en, courthouse_cn, courthouse_en,
    courtroom_cn, courtroom_en, defendant_cn,
    defendant_en, docket_no_cn, docket_no_en,
    ktgg_id, note_cn, note_en,
    organizer, parties, plaintiff_cn,
    plaintiff_en, related_party, title,full_report_id,body_en
    )
    values (#{id,jdbcType=INTEGER}, #{crefoNo,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR},
    #{sortTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, #{body,jdbcType=LONGVARCHAR},
    #{caseCauseCN,jdbcType=LONGVARCHAR}, #{caseCauseEN,jdbcType=LONGVARCHAR}, #{chiefJusticeCN,jdbcType=LONGVARCHAR},
    #{chiefJusticeEN,jdbcType=LONGVARCHAR}, #{courthouseCN,jdbcType=LONGVARCHAR}, #{courthouseEN,jdbcType=LONGVARCHAR},
    #{courtroomCN,jdbcType=LONGVARCHAR}, #{courtroomEN,jdbcType=LONGVARCHAR}, #{defendantCN,jdbcType=LONGVARCHAR},
    #{defendantEN,jdbcType=LONGVARCHAR}, #{docketNoCN,jdbcType=LONGVARCHAR}, #{docketNoEN,jdbcType=LONGVARCHAR},
    #{ktggId,jdbcType=LONGVARCHAR}, #{noteCN,jdbcType=LONGVARCHAR}, #{noteEN,jdbcType=LONGVARCHAR},
    #{organizer,jdbcType=LONGVARCHAR}, #{parties,jdbcType=LONGVARCHAR}, #{plaintiffCN,jdbcType=LONGVARCHAR},
    #{plaintiffEN,jdbcType=LONGVARCHAR}, #{relatedParty,jdbcType=LONGVARCHAR}, #{title,jdbcType=LONGVARCHAR},#{fullReportId,jdbcType=INTEGER},
    #{bodyEN,jdbcType=LONGVARCHAR})
  </insert>

  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from
    <include refid="table" />
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <update id="update" parameterType="com.mika.credit.common.entity.report.cn.Ktgg" >
    update ktgg
    set crefo_no = #{crefoNo,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      sort_time = #{sortTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      body = #{body,jdbcType=LONGVARCHAR},
      case_cause_cn = #{caseCauseCN,jdbcType=LONGVARCHAR},
      case_cause_en = #{caseCauseEN,jdbcType=LONGVARCHAR},
      chief_justice_cn = #{chiefJusticeCN,jdbcType=LONGVARCHAR},
      chief_justice_en = #{chiefJusticeEN,jdbcType=LONGVARCHAR},
      courthouse_cn = #{courthouseCN,jdbcType=LONGVARCHAR},
      courthouse_en = #{courthouseEN,jdbcType=LONGVARCHAR},
      courtroom_cn = #{courtroomCN,jdbcType=LONGVARCHAR},
      courtroom_en = #{courtroomEN,jdbcType=LONGVARCHAR},
      defendant_cn = #{defendantCN,jdbcType=LONGVARCHAR},
      defendant_en = #{defendantEN,jdbcType=LONGVARCHAR},
      docket_no_cn = #{docketNoCN,jdbcType=LONGVARCHAR},
      docket_no_en = #{docketNoEN,jdbcType=LONGVARCHAR},
      ktgg_id = #{ktggId,jdbcType=LONGVARCHAR},
      note_cn = #{noteCN,jdbcType=LONGVARCHAR},
      note_en = #{noteEN,jdbcType=LONGVARCHAR},
      organizer = #{organizer,jdbcType=LONGVARCHAR},
      parties = #{parties,jdbcType=LONGVARCHAR},
      plaintiff_cn = #{plaintiffCN,jdbcType=LONGVARCHAR},
      plaintiff_en = #{plaintiffEN,jdbcType=LONGVARCHAR},
      related_party = #{relatedParty,jdbcType=LONGVARCHAR},
      title = #{title,jdbcType=LONGVARCHAR},
	  full_report_id = #{fullReportId,jdbcType=INTEGER},
      body_en = #{bodyEN,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertSelective" parameterType="com.mika.credit.common.entity.report.cn.Ktgg" >
    insert into ktgg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="crefoNo != null" >
        crefo_no,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="sortTime != null" >
        sort_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="body != null" >
        body,
      </if>
      <if test="caseCauseCN != null" >
        case_cause_cn,
      </if>
      <if test="caseCauseEN != null" >
        case_cause_en,
      </if>
      <if test="chiefJusticeCN != null" >
        chief_justice_cn,
      </if>
      <if test="chiefJusticeEN != null" >
        chief_justice_en,
      </if>
      <if test="courthouseCN != null" >
        courthouse_cn,
      </if>
      <if test="courthouseEN != null" >
        courthouse_en,
      </if>
      <if test="courtroomCN != null" >
        courtroom_cn,
      </if>
      <if test="courtroomEN != null" >
        courtroom_en,
      </if>
      <if test="defendantCN != null" >
        defendant_cn,
      </if>
      <if test="defendantEN != null" >
        defendant_en,
      </if>
      <if test="docketNoCN != null" >
        docket_no_cn,
      </if>
      <if test="docketNoEN != null" >
        docket_no_en,
      </if>
      <if test="ktggId != null" >
        ktgg_id,
      </if>
      <if test="noteCN != null" >
        note_cn,
      </if>
      <if test="noteEN != null" >
        note_en,
      </if>
      <if test="organizer != null" >
        organizer,
      </if>
      <if test="parties != null" >
        parties,
      </if>
      <if test="plaintiffCN != null" >
        plaintiff_cn,
      </if>
      <if test="plaintiffEN != null" >
        plaintiff_en,
      </if>
      <if test="relatedParty != null" >
        related_party,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="fullReportId != null" >
        full_report_id,
      </if>
      <if test="bodyEN != null" >
        body_en,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="crefoNo != null" >
        #{crefoNo,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="sortTime != null" >
        #{sortTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="body != null" >
        #{body,jdbcType=LONGVARCHAR},
      </if>
      <if test="caseCauseCN != null" >
        #{caseCauseCN,jdbcType=LONGVARCHAR},
      </if>
      <if test="caseCauseEN != null" >
        #{caseCauseEN,jdbcType=LONGVARCHAR},
      </if>
      <if test="chiefJusticeCN != null" >
        #{chiefJusticeCN,jdbcType=LONGVARCHAR},
      </if>
      <if test="chiefJusticeEN != null" >
        #{chiefJusticeEN,jdbcType=LONGVARCHAR},
      </if>
      <if test="courthouseCN != null" >
        #{courthouseCN,jdbcType=LONGVARCHAR},
      </if>
      <if test="courthouseEN != null" >
        #{courthouseEN,jdbcType=LONGVARCHAR},
      </if>
      <if test="courtroomCN != null" >
        #{courtroomCN,jdbcType=LONGVARCHAR},
      </if>
      <if test="courtroomEN != null" >
        #{courtroomEN,jdbcType=LONGVARCHAR},
      </if>
      <if test="defendantCN != null" >
        #{defendantCN,jdbcType=LONGVARCHAR},
      </if>
      <if test="defendantEN != null" >
        #{defendantEN,jdbcType=LONGVARCHAR},
      </if>
      <if test="docketNoCN != null" >
        #{docketNoCN,jdbcType=LONGVARCHAR},
      </if>
      <if test="docketNoEN != null" >
        #{docketNoEN,jdbcType=LONGVARCHAR},
      </if>
      <if test="ktggId != null" >
        #{ktggId,jdbcType=LONGVARCHAR},
      </if>
      <if test="noteCN != null" >
        #{noteCN,jdbcType=LONGVARCHAR},
      </if>
      <if test="noteEN != null" >
        #{noteEN,jdbcType=LONGVARCHAR},
      </if>
      <if test="organizer != null" >
        #{organizer,jdbcType=LONGVARCHAR},
      </if>
      <if test="parties != null" >
        #{parties,jdbcType=LONGVARCHAR},
      </if>
      <if test="plaintiffCN != null" >
        #{plaintiffCN,jdbcType=LONGVARCHAR},
      </if>
      <if test="plaintiffEN != null" >
        #{plaintiffEN,jdbcType=LONGVARCHAR},
      </if>
      <if test="relatedParty != null" >
        #{relatedParty,jdbcType=LONGVARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=LONGVARCHAR},
      </if>
      <if test="fullReportId != null" >
        #{fullReportId,jdbcType=INTEGER},
      </if>
      <if test="bodyEN != null" >
        #{bodyEN,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>



  <update id="updateSelective" parameterType="com.mika.credit.common.entity.report.cn.Ktgg" >
    update ktgg
    <set >
      <if test="crefoNo != null" >
        crefo_no = #{crefoNo,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="sortTime != null" >
        sort_time = #{sortTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="body != null" >
        body = #{body,jdbcType=LONGVARCHAR},
      </if>
      <if test="caseCauseCN != null" >
        case_cause_cn = #{caseCauseCN,jdbcType=LONGVARCHAR},
      </if>
      <if test="caseCauseEN != null" >
        case_cause_en = #{caseCauseEN,jdbcType=LONGVARCHAR},
      </if>
      <if test="chiefJusticeCN != null" >
        chief_justice_cn = #{chiefJusticeCN,jdbcType=LONGVARCHAR},
      </if>
      <if test="chiefJusticeEN != null" >
        chief_justice_en = #{chiefJusticeEN,jdbcType=LONGVARCHAR},
      </if>
      <if test="courthouseCN != null" >
        courthouse_cn = #{courthouseCN,jdbcType=LONGVARCHAR},
      </if>
      <if test="courthouseEN != null" >
        courthouse_en = #{courthouseEN,jdbcType=LONGVARCHAR},
      </if>
      <if test="courtroomCN != null" >
        courtroom_cn = #{courtroomCN,jdbcType=LONGVARCHAR},
      </if>
      <if test="courtroomEN != null" >
        courtroom_en = #{courtroomEN,jdbcType=LONGVARCHAR},
      </if>
      <if test="defendantCN != null" >
        defendant_cn = #{defendantCN,jdbcType=LONGVARCHAR},
      </if>
      <if test="defendantEN != null" >
        defendant_en = #{defendantEN,jdbcType=LONGVARCHAR},
      </if>
      <if test="docketNoCN != null" >
        docket_no_cn = #{docketNoCN,jdbcType=LONGVARCHAR},
      </if>
      <if test="docketNoEN != null" >
        docket_no_en = #{docketNoEN,jdbcType=LONGVARCHAR},
      </if>
      <if test="ktggId != null" >
        ktgg_id = #{ktggId,jdbcType=LONGVARCHAR},
      </if>
      <if test="noteCN != null" >
        note_cn = #{noteCN,jdbcType=LONGVARCHAR},
      </if>
      <if test="noteEN != null" >
        note_en = #{noteEN,jdbcType=LONGVARCHAR},
      </if>
      <if test="organizer != null" >
        organizer = #{organizer,jdbcType=LONGVARCHAR},
      </if>
      <if test="parties != null" >
        parties = #{parties,jdbcType=LONGVARCHAR},
      </if>
      <if test="plaintiffCN != null" >
        plaintiff_cn = #{plaintiffCN,jdbcType=LONGVARCHAR},
      </if>
      <if test="plaintiffEN != null" >
        plaintiff_en = #{plaintiffEN,jdbcType=LONGVARCHAR},
      </if>
      <if test="relatedParty != null" >
        related_party = #{relatedParty,jdbcType=LONGVARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=LONGVARCHAR},
      </if>
      <if test="fullReportId != null" >
        full_report_id = #{fullReportId,jdbcType=INTEGER},
      </if>
      <if test="bodyEN != null" >
        body_en = #{bodyEN,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>