<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mika.credit.facade.front.cn.dao.impl.ManagementsDaoImpl" >
  <cache eviction="LRU" type="com.mika.credit.common.core.mybatis.cache.redis.sharded.MybatiesRedisCache" />
  <resultMap id="BaseResultMap" type="com.mika.credit.common.entity.report.cn.Managements" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="age" property="age" jdbcType="VARCHAR" />
    <result column="birth_date" property="birthDate" jdbcType="VARCHAR" />
    <result column="card_id" property="carduty_id" jdbcType="VARCHAR" />
    <result column="country_cn" property="countryCN" jdbcType="VARCHAR" />
    <result column="country_en" property="countryEN" jdbcType="VARCHAR" />
    <result column="crefo_no" property="crefoNo" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    <result column="duty_id" property="dutyId" jdbcType="INTEGER" />
    <result column="duty_cn" property="dutyCN" jdbcType="VARCHAR" />
    <result column="duty_en" property="dutyEN" jdbcType="VARCHAR" />
    <result column="education_id" property="educationId" jdbcType="INTEGER" />
    <result column="education_cn" property="educationCN" jdbcType="INTEGER" />
    <result column="education_en" property="educationEN" jdbcType="INTEGER" />
    <result column="experience_cn" property="experienceCN" jdbcType="VARCHAR" />
    <result column="experience_en" property="experienceEN" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="manage_years" property="manageYears" jdbcType="VARCHAR" />
    <result column="name_cn" property="nameCN" jdbcType="VARCHAR" />
    <result column="name_en" property="nameEN" jdbcType="VARCHAR" />
    <result column="note_cn" property="noteCN" jdbcType="VARCHAR" />
    <result column="note_en" property="noteEN" jdbcType="VARCHAR" />
    <result column="post_id" property="postId" jdbcType="INTEGER" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="position_en" property="positionEN" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="work_years" property="workYears" jdbcType="VARCHAR" />
    <result column="full_report_id" property="fullReportId" jdbcType="INTEGER" />
  </resultMap>

  <sql id="table"> managements </sql>

  <sql id="Base_Column_List" >
    id, age, birth_date, card_id, country_cn, country_en, crefo_no, del_flag, duty_id, education_id,
    experience_cn, experience_en, gender, manage_years, name_cn, name_en, note_cn, note_en,
    post_id,position,position_en, update_time, work_years,full_report_id,duty_cn,duty_en,
    education_cn,education_en
  </sql>

  <sql id="condition_sql">
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="age != null" >
      and age = #{age,jdbcType=VARCHAR}
    </if>
    <if test="birthDate != null" >
      and birth_date = #{birthDate,jdbcType=VARCHAR}
    </if>
    <if test="carduty_id != null" >
      and card_id = #{carduty_id,jdbcType=VARCHAR}
    </if>
    <if test="countryCN != null" >
      and country_cn = #{countryCN,jdbcType=VARCHAR}
    </if>
    <if test="countryEN != null" >
      and country_en = #{countryEN,jdbcType=VARCHAR}
    </if>
    <if test="crefoNo != null" >
      and crefo_no = #{crefoNo,jdbcType=VARCHAR}
    </if>
    <if test="delFlag != null" >
      and del_flag = #{delFlag,jdbcType=VARCHAR}
    </if>
    <if test="dutyId != null" >
      and duty_id = #{dutyId,jdbcType=INTEGER}
    </if>
    <if test="educationId != null" >
      and education_id = #{educationId,jdbcType=INTEGER}
    </if>
    <if test="experienceCN != null" >
      and experience_cn = #{experienceCN,jdbcType=VARCHAR}
    </if>
    <if test="experienceEN != null" >
      and experience_en = #{experienceEN,jdbcType=VARCHAR}
    </if>
    <if test="gender != null" >
      and gender = #{gender,jdbcType=VARCHAR}
    </if>
    <if test="manageYears != null" >
      and manage_years = #{manageYears,jdbcType=VARCHAR}
    </if>
    <if test="nameCN != null" >
      and name_cn = #{nameCN,jdbcType=VARCHAR}
    </if>
    <if test="nameEN != null" >
      and name_en = #{nameEN,jdbcType=VARCHAR}
    </if>
    <if test="noteCN != null" >
      and note_cn = #{noteCN,jdbcType=VARCHAR}
    </if>
    <if test="noteEN != null" >
      and note_en = #{noteEN,jdbcType=VARCHAR}
    </if>
    <if test="postId != null" >
      and post_id = #{postId,jdbcType=INTEGER}
    </if>
    <if test="position != null" >
      and position = #{position,jdbcType=VARCHAR}
    </if>
    <if test="positionEN != null" >
      and position_en = #{positionEN,jdbcType=VARCHAR}
    </if>
    <if test="updateTime != null" >
      and update_time = #{updateTime,jdbcType=VARCHAR}
    </if>
    <if test="workYears != null" >
      and work_years = #{workYears,jdbcType=VARCHAR}
    </if>
    <if test="fullReportId != null" >
      and full_report_id = #{fullReportId,jdbcType=INTEGER}
    </if>
    <if test="dutyCN != null" >
      and duty_cn = #{dutyCN,jdbcType=VARCHAR}
    </if>
    <if test="dutyEN != null" >
      and duty_en = #{dutyEN,jdbcType=VARCHAR}
    </if>
    <if test="educationCN != null" >
      and education_cn = #{educationCN,jdbcType=VARCHAR}
    </if>
    <if test="educationEN != null" >
      and education_en = #{educationEN,jdbcType=VARCHAR}
    </if>
  </sql>

  <select id="getById" parameterType="Integer" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    where id = #{id}
  </select>

  <select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
  </select>

  <select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
    <![CDATA[ order by id desc]]>
  </select>

  <select id="listPageCount" parameterType="java.util.Map" resultType="Integer">
    select count(1) from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
  </select>

  <insert id="insert" parameterType="com.mika.credit.common.entity.report.cn.Managements" keyProperty="id" useGeneratedKeys="true">
    insert into
    <include refid="table" />
    (id, age, birth_date,
    card_id, country_cn, country_en,
    crefo_no, del_flag, duty_id,
    education_id, experience_cn, experience_en,
    gender, manage_years, name_cn,
    name_en, note_cn, note_en,
    post_id,position,position_en, update_time, work_years,full_report_id,
    duty_cn,duty_en,education_cn,education_en)
    values (#{id,jdbcType=INTEGER}, #{age,jdbcType=VARCHAR}, #{birthDate,jdbcType=VARCHAR},
    #{carduty_id,jdbcType=VARCHAR}, #{countryCN,jdbcType=VARCHAR}, #{countryEN,jdbcType=VARCHAR},
    #{crefoNo,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR}, #{dutyId,jdbcType=INTEGER},
    #{educationId,jdbcType=INTEGER}, #{experienceCN,jdbcType=VARCHAR}, #{experienceEN,jdbcType=VARCHAR},
    #{gender,jdbcType=VARCHAR}, #{manageYears,jdbcType=VARCHAR}, #{nameCN,jdbcType=VARCHAR},
    #{nameEN,jdbcType=VARCHAR}, #{noteCN,jdbcType=VARCHAR}, #{noteEN,jdbcType=VARCHAR},
    #{postId,jdbcType=INTEGER},#{position,jdbcType=VARCHAR},#{positionEN,jdbcType=VARCHAR},
    #{updateTime,jdbcType=VARCHAR}, #{workYears,jdbcType=VARCHAR},#{fullReportId,jdbcType=INTEGER},
    #{dutyCN,jdbcType=VARCHAR},#{dutyEN,jdbcType=VARCHAR},#{educationCN,jdbcType=VARCHAR},
    #{educationEN,jdbcType=VARCHAR})
  </insert>

  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from
    <include refid="table" />
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <update id="update" parameterType="com.mika.credit.common.entity.report.cn.Managements" >
    update managements
    SET age = #{age,jdbcType=VARCHAR},
        birth_date = #{birthDate,jdbcType=VARCHAR},
        card_id = #{carduty_id,jdbcType=VARCHAR},
        country_cn = #{countryCN,jdbcType=VARCHAR},
        country_en = #{countryEN,jdbcType=VARCHAR},
        crefo_no = #{crefoNo,jdbcType=VARCHAR},
        del_flag = #{delFlag,jdbcType=VARCHAR},
        duty_id = #{dutyId,jdbcType=INTEGER},
        education_id = #{educationId,jdbcType=INTEGER},
        experience_cn = #{experienceCN,jdbcType=VARCHAR},
        experience_en = #{experienceEN,jdbcType=VARCHAR},
        gender = #{gender,jdbcType=VARCHAR},
        manage_years = #{manageYears,jdbcType=VARCHAR},
        name_cn = #{nameCN,jdbcType=VARCHAR},
        name_en = #{nameEN,jdbcType=VARCHAR},
        note_cn = #{noteCN,jdbcType=VARCHAR},
        note_en = #{noteEN,jdbcType=VARCHAR},
        position = #{position,jdbcType=VARCHAR},
        position_en = #{positionEN,jdbcType=VARCHAR},
        post_id = #{postId,jdbcType=INTEGER},
        update_time = #{updateTime,jdbcType=VARCHAR},
        work_years = #{workYears,jdbcType=VARCHAR},
	    full_report_id = #{fullReportId,jdbcType=INTEGER},
        duty_cn = #{dutyCN,jdbcType=VARCHAR},
        duty_en = #{dutyEN,jdbcType=VARCHAR},
        education_cn = #{educationCN,jdbcType=VARCHAR},
        education_en = #{educationEN,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertSelective" parameterType="com.mika.credit.common.entity.report.cn.Managements" >
    insert into managements
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="birthDate != null" >
        birth_date,
      </if>
      <if test="carduty_id != null" >
        card_id,
      </if>
      <if test="countryCN != null" >
        country_cn,
      </if>
      <if test="countryEN != null" >
        country_en,
      </if>
      <if test="crefoNo != null" >
        crefo_no,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="dutyId != null" >
        duty_id,
      </if>
      <if test="educationId != null" >
        education_id,
      </if>
      <if test="experienceCN != null" >
        experience_cn,
      </if>
      <if test="experienceEN != null" >
        experience_en,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="manageYears != null" >
        manage_years,
      </if>
      <if test="nameCN != null" >
        name_cn,
      </if>
      <if test="nameEN != null" >
        name_en,
      </if>
      <if test="noteCN != null" >
        note_cn,
      </if>
      <if test="noteEN != null" >
        note_en,
      </if>
      <if test="postId != null" >
        post_id,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="positionEN != null" >
        position_en,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="workYears != null" >
        work_years,
      </if>
      <if test="fullReportId != null" >
        full_report_id,
      </if>
      <if test="dutyCN != null" >
        duty_cn,
      </if>
      <if test="dutyEN != null" >
        duty_en,
      </if>
      <if test="educationCN != null" >
        education_cn,
      </if>
      <if test="educationEN != null" >
        education_en,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="age != null" >
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="birthDate != null" >
        #{birthDate,jdbcType=VARCHAR},
      </if>
      <if test="carduty_id != null" >
        #{carduty_id,jdbcType=VARCHAR},
      </if>
      <if test="countryCN != null" >
        #{countryCN,jdbcType=VARCHAR},
      </if>
      <if test="countryEN != null" >
        #{countryEN,jdbcType=VARCHAR},
      </if>
      <if test="crefoNo != null" >
        #{crefoNo,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="dutyId != null" >
        #{dutyId,jdbcType=INTEGER},
      </if>
      <if test="educationId != null" >
        #{educationId,jdbcType=INTEGER},
      </if>
      <if test="experienceCN != null" >
        #{experienceCN,jdbcType=VARCHAR},
      </if>
      <if test="experienceEN != null" >
        #{experienceEN,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="manageYears != null" >
        #{manageYears,jdbcType=VARCHAR},
      </if>
      <if test="nameCN != null" >
        #{nameCN,jdbcType=VARCHAR},
      </if>
      <if test="nameEN != null" >
        #{nameEN,jdbcType=VARCHAR},
      </if>
      <if test="noteCN != null" >
        #{noteCN,jdbcType=VARCHAR},
      </if>
      <if test="noteEN != null" >
        #{noteEN,jdbcType=VARCHAR},
      </if>
      <if test="postId != null" >
        #{postId,jdbcType=INTEGER},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="positionEN != null" >
        #{positionEN,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="workYears != null" >
        #{workYears,jdbcType=VARCHAR},
      </if>
      <if test="fullReportId != null" >
        #{fullReportId,jdbcType=INTEGER},
      </if>
      <if test="dutyCN != null" >
        #{dutyCN,jdbcType=VARCHAR},
      </if>
      <if test="dutyEN != null" >
        #{dutyEN,jdbcType=VARCHAR},
      </if>
      <if test="educationCN != null" >
        #{educationCN,jdbcType=VARCHAR},
      </if>
      <if test="educationEN != null" >
        #{educationEN,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateSelective" parameterType="com.mika.credit.common.entity.report.cn.Managements" >
    update managements
    <set >
      <if test="age != null" >
        age = #{age,jdbcType=VARCHAR},
      </if>
      <if test="birthDate != null" >
        birth_date = #{birthDate,jdbcType=VARCHAR},
      </if>
      <if test="carduty_id != null" >
        card_id = #{carduty_id,jdbcType=VARCHAR},
      </if>
      <if test="countryCN != null" >
        country_cn = #{countryCN,jdbcType=VARCHAR},
      </if>
      <if test="countryEN != null" >
        country_en = #{countryEN,jdbcType=VARCHAR},
      </if>
      <if test="crefoNo != null" >
        crefo_no = #{crefoNo,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="dutyId != null" >
        duty_id = #{dutyId,jdbcType=INTEGER},
      </if>
      <if test="educationId != null" >
        education_id = #{educationId,jdbcType=INTEGER},
      </if>
      <if test="experienceCN != null" >
        experience_cn = #{experienceCN,jdbcType=VARCHAR},
      </if>
      <if test="experienceEN != null" >
        experience_en = #{experienceEN,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="manageYears != null" >
        manage_years = #{manageYears,jdbcType=VARCHAR},
      </if>
      <if test="nameCN != null" >
        name_cn = #{nameCN,jdbcType=VARCHAR},
      </if>
      <if test="nameEN != null" >
        name_en = #{nameEN,jdbcType=VARCHAR},
      </if>
      <if test="noteCN != null" >
        note_cn = #{noteCN,jdbcType=VARCHAR},
      </if>
      <if test="noteEN != null" >
        note_en = #{noteEN,jdbcType=VARCHAR},
      </if>
      <if test="postId != null" >
        post_id = #{postId,jdbcType=INTEGER},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="positionEN != null" >
        position_en = #{positionEN,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="workYears != null" >
        work_years = #{workYears,jdbcType=VARCHAR},
      </if>
      <if test="fullReportId != null" >
        full_report_id = #{fullReportId,jdbcType=INTEGER},
      </if>
      <if test="dutyCN != null" >
        duty_cn = #{dutyCN,jdbcType=VARCHAR},
      </if>
      <if test="dutyEN != null" >
         uty_en = #{dutyEN,jdbcType=VARCHAR},
      </if>
      <if test="educationCN != null" >
        education_cn = #{educationCN,jdbcType=VARCHAR},
      </if>
      <if test="educationEN != null" >
        education_en = #{educationEN,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>