<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mika.credit.facade.front.cn.dao.impl.PenaltyHisDaoImpl" >
  <cache eviction="LRU" type="com.mika.credit.common.core.mybatis.cache.redis.sharded.MybatiesRedisCache" />
  <resultMap id="BaseResultMap" type="com.mika.credit.common.entity.report.cn.PenaltyHis" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="break_law_fact" property="breakLawFact" jdbcType="VARCHAR" />
    <result column="case_date" property="caseDate" jdbcType="VARCHAR" />
    <result column="case_reason" property="caseReason" jdbcType="LONGVARCHAR" />
    <result column="case_result" property="caseResult" jdbcType="VARCHAR" />
    <result column="case_type" property="caseType" jdbcType="VARCHAR" />
    <result column="crefo_no" property="crefoNo" jdbcType="VARCHAR" />
    <result column="execute_type" property="executeType" jdbcType="VARCHAR" />
    <result column="penalty_amt" property="penaltyAmt" jdbcType="VARCHAR" />
    <result column="penalty_basis" property="penaltyBasis" jdbcType="VARCHAR" />
    <result column="penalty_dec_date" property="penaltyDecDate" jdbcType="VARCHAR" />
    <result column="penalty_execute" property="penaltyExecute" jdbcType="VARCHAR" />
    <result column="penalty_org" property="penaltyOrg" jdbcType="VARCHAR" />
    <result column="penalty_result" property="penaltyResult" jdbcType="VARCHAR" />
    <result column="penalty_type" property="penaltyType" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="full_report_id" property="fullReportId" jdbcType="INTEGER" />
  </resultMap>

  <sql id="table"> penalty_his </sql>

  <sql id="Base_Column_List" >
    id, break_law_fact, case_date, case_reason, case_result, case_type, crefo_no, execute_type, 
    penalty_amt, penalty_basis, penalty_dec_date, penalty_execute, penalty_org, penalty_result, 
    penalty_type, update_time,full_report_id
  </sql>

  <sql id="condition_sql">
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="breakLawFact != null" >
      and break_law_fact = #{breakLawFact,jdbcType=VARCHAR}
    </if>
    <if test="caseDate != null" >
      and case_date = #{caseDate,jdbcType=VARCHAR}
    </if>
    <if test="caseReason != null" >
      and case_reason = #{caseReason,jdbcType=LONGVARCHAR}
    </if>
    <if test="caseResult != null" >
      and case_result = #{caseResult,jdbcType=VARCHAR}
    </if>
    <if test="caseType != null" >
      and case_type = #{caseType,jdbcType=VARCHAR}
    </if>
    <if test="crefoNo != null" >
      and crefo_no = #{crefoNo,jdbcType=VARCHAR}
    </if>
    <if test="executeType != null" >
      and execute_type = #{executeType,jdbcType=VARCHAR}
    </if>
    <if test="penaltyAmt != null" >
      and penalty_amt = #{penaltyAmt,jdbcType=VARCHAR}
    </if>
    <if test="penaltyBasis != null" >
      and penalty_basis = #{penaltyBasis,jdbcType=VARCHAR}
    </if>
    <if test="penaltyDecDate != null" >
      and penalty_dec_date = #{penaltyDecDate,jdbcType=VARCHAR}
    </if>
    <if test="penaltyExecute != null" >
      and penalty_execute = #{penaltyExecute,jdbcType=VARCHAR}
    </if>
    <if test="penaltyOrg != null" >
      and penalty_org = #{penaltyOrg,jdbcType=VARCHAR}
    </if>
    <if test="penaltyResult != null" >
      and penalty_result = #{penaltyResult,jdbcType=VARCHAR}
    </if>
    <if test="penaltyType != null" >
      and penalty_type = #{penaltyType,jdbcType=VARCHAR}
    </if>
    <if test="updateTime != null" >
      and update_time = #{updateTime,jdbcType=VARCHAR}
    </if>
    <if test="fullReportId != null" >
      and full_report_id = #{fullReportId,jdbcType=INTEGER}
    </if>
  </sql>

  <select id="getById" parameterType="Integer" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    where id = #{id}
  </select>

  <select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
  </select>

  <select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
    <![CDATA[ order by id desc]]>
  </select>

  <select id="listPageCount" parameterType="java.util.Map" resultType="Integer">
    select count(1) from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
  </select>

  <insert id="insert" parameterType="com.mika.credit.common.entity.report.cn.PenaltyHis" keyProperty="id" useGeneratedKeys="true">
    insert into
    <include refid="table" />
    (id, break_law_fact, case_date,
    case_reason, case_result, case_type,
    crefo_no, execute_type, penalty_amt,
    penalty_basis, penalty_dec_date, penalty_execute,
    penalty_org, penalty_result, penalty_type,
    update_time,full_report_id)
    values (#{id,jdbcType=INTEGER}, #{breakLawFact,jdbcType=VARCHAR}, #{caseDate,jdbcType=VARCHAR},
    #{caseReason,jdbcType=LONGVARCHAR}, #{caseResult,jdbcType=VARCHAR}, #{caseType,jdbcType=VARCHAR},
    #{crefoNo,jdbcType=VARCHAR}, #{executeType,jdbcType=VARCHAR}, #{penaltyAmt,jdbcType=VARCHAR},
    #{penaltyBasis,jdbcType=VARCHAR}, #{penaltyDecDate,jdbcType=VARCHAR}, #{penaltyExecute,jdbcType=VARCHAR},
    #{penaltyOrg,jdbcType=VARCHAR}, #{penaltyResult,jdbcType=VARCHAR}, #{penaltyType,jdbcType=VARCHAR},
    #{updateTime,jdbcType=VARCHAR},#{fullReportId,jdbcType=INTEGER})
  </insert>

  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from
    <include refid="table" />
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <update id="update" parameterType="com.mika.credit.common.entity.report.cn.PenaltyHis" >
    update penalty_his
    set break_law_fact = #{breakLawFact,jdbcType=VARCHAR},
      case_date = #{caseDate,jdbcType=VARCHAR},
      case_reason = #{caseReason,jdbcType=LONGVARCHAR},
      case_result = #{caseResult,jdbcType=VARCHAR},
      case_type = #{caseType,jdbcType=VARCHAR},
      crefo_no = #{crefoNo,jdbcType=VARCHAR},
      execute_type = #{executeType,jdbcType=VARCHAR},
      penalty_amt = #{penaltyAmt,jdbcType=VARCHAR},
      penalty_basis = #{penaltyBasis,jdbcType=VARCHAR},
      penalty_dec_date = #{penaltyDecDate,jdbcType=VARCHAR},
      penalty_execute = #{penaltyExecute,jdbcType=VARCHAR},
      penalty_org = #{penaltyOrg,jdbcType=VARCHAR},
      penalty_result = #{penaltyResult,jdbcType=VARCHAR},
      penalty_type = #{penaltyType,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      full_report_id = #{fullReportId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertSelective" parameterType="com.mika.credit.common.entity.report.cn.PenaltyHis" >
    insert into penalty_his
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="breakLawFact != null" >
        break_law_fact,
      </if>
      <if test="caseDate != null" >
        case_date,
      </if>
      <if test="caseReason != null" >
        case_reason,
      </if>
      <if test="caseResult != null" >
        case_result,
      </if>
      <if test="caseType != null" >
        case_type,
      </if>
      <if test="crefoNo != null" >
        crefo_no,
      </if>
      <if test="executeType != null" >
        execute_type,
      </if>
      <if test="penaltyAmt != null" >
        penalty_amt,
      </if>
      <if test="penaltyBasis != null" >
        penalty_basis,
      </if>
      <if test="penaltyDecDate != null" >
        penalty_dec_date,
      </if>
      <if test="penaltyExecute != null" >
        penalty_execute,
      </if>
      <if test="penaltyOrg != null" >
        penalty_org,
      </if>
      <if test="penaltyResult != null" >
        penalty_result,
      </if>
      <if test="penaltyType != null" >
        penalty_type,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="fullReportId != null" >
        full_report_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="breakLawFact != null" >
        #{breakLawFact,jdbcType=VARCHAR},
      </if>
      <if test="caseDate != null" >
        #{caseDate,jdbcType=VARCHAR},
      </if>
      <if test="caseReason != null" >
        #{caseReason,jdbcType=VARCHAR},
      </if>
      <if test="caseResult != null" >
        #{caseResult,jdbcType=VARCHAR},
      </if>
      <if test="caseType != null" >
        #{caseType,jdbcType=VARCHAR},
      </if>
      <if test="crefoNo != null" >
        #{crefoNo,jdbcType=VARCHAR},
      </if>
      <if test="executeType != null" >
        #{executeType,jdbcType=VARCHAR},
      </if>
      <if test="penaltyAmt != null" >
        #{penaltyAmt,jdbcType=VARCHAR},
      </if>
      <if test="penaltyBasis != null" >
        #{penaltyBasis,jdbcType=VARCHAR},
      </if>
      <if test="penaltyDecDate != null" >
        #{penaltyDecDate,jdbcType=VARCHAR},
      </if>
      <if test="penaltyExecute != null" >
        #{penaltyExecute,jdbcType=VARCHAR},
      </if>
      <if test="penaltyOrg != null" >
        #{penaltyOrg,jdbcType=VARCHAR},
      </if>
      <if test="penaltyResult != null" >
        #{penaltyResult,jdbcType=VARCHAR},
      </if>
      <if test="penaltyType != null" >
        #{penaltyType,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="fullReportId != null" >
        #{fullReportId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateSelective" parameterType="com.mika.credit.common.entity.report.cn.PenaltyHis" >
    update penalty_his
    <set >
      <if test="breakLawFact != null" >
        break_law_fact = #{breakLawFact,jdbcType=VARCHAR},
      </if>
      <if test="caseDate != null" >
        case_date = #{caseDate,jdbcType=VARCHAR},
      </if>
      <if test="caseReason != null" >
        case_reason = #{caseReason,jdbcType=LONGVARCHAR},
      </if>
      <if test="caseResult != null" >
        case_result = #{caseResult,jdbcType=VARCHAR},
      </if>
      <if test="caseType != null" >
        case_type = #{caseType,jdbcType=VARCHAR},
      </if>
      <if test="crefoNo != null" >
        crefo_no = #{crefoNo,jdbcType=VARCHAR},
      </if>
      <if test="executeType != null" >
        execute_type = #{executeType,jdbcType=VARCHAR},
      </if>
      <if test="penaltyAmt != null" >
        penalty_amt = #{penaltyAmt,jdbcType=VARCHAR},
      </if>
      <if test="penaltyBasis != null" >
        penalty_basis = #{penaltyBasis,jdbcType=VARCHAR},
      </if>
      <if test="penaltyDecDate != null" >
        penalty_dec_date = #{penaltyDecDate,jdbcType=VARCHAR},
      </if>
      <if test="penaltyExecute != null" >
        penalty_execute = #{penaltyExecute,jdbcType=VARCHAR},
      </if>
      <if test="penaltyOrg != null" >
        penalty_org = #{penaltyOrg,jdbcType=VARCHAR},
      </if>
      <if test="penaltyResult != null" >
        penalty_result = #{penaltyResult,jdbcType=VARCHAR},
      </if>
      <if test="penaltyType != null" >
        penalty_type = #{penaltyType,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="fullReportId != null" >
        full_report_id = #{fullReportId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>