<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mika.credit.facade.front.cn.dao.impl.RelatedCompaniesDaoImpl" >
  <cache eviction="LRU" type="com.mika.credit.common.core.mybatis.cache.redis.sharded.MybatiesRedisCache" />
  <resultMap id="BaseResultMap" type="com.mika.credit.common.entity.report.cn.RelatedCompanies" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="address_cn" property="addressCN" jdbcType="VARCHAR" />
    <result column="address_en" property="addressEN" jdbcType="VARCHAR" />
    <result column="principal" property="principal" jdbcType="VARCHAR" />
    <result column="com_crefo_no" property="comCrefoNo" jdbcType="VARCHAR" />
    <result column="company_properties_id" property="companyPropertiesId" jdbcType="INTEGER" />
    <result column="crefo_no" property="crefoNo" jdbcType="VARCHAR" />
    <result column="company_status_id" property="companyStatusId" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    <result column="establish_date" property="establishDate" jdbcType="VARCHAR" />
    <result column="ent_nature" property="entNature" jdbcType="VARCHAR" />
    <result column="ent_nature_en" property="entNatureEN" jdbcType="VARCHAR" />
    <result column="name_cn" property="nameCN" jdbcType="VARCHAR" />
    <result column="name_en" property="nameEN" jdbcType="VARCHAR" />
    <result column="note_cn" property="noteCN" jdbcType="VARCHAR" />
    <result column="note_en" property="noteEN" jdbcType="VARCHAR" />
    <result column="reg" property="reg" jdbcType="VARCHAR" />
    <result column="relation_id" property="relationId" jdbcType="INTEGER" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="full_report_id" property="fullReportId" jdbcType="INTEGER" />
    <result column="relationship" property="relationship" jdbcType="VARCHAR" />
    <result column="relationship_en" property="relationshipEN" jdbcType="VARCHAR" />
    <result column="ent_status" property="entStatus" jdbcType="VARCHAR" />
    <result column="ent_status_en" property="entStatusEN" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="table"> related_companies </sql>

  <sql id="Base_Column_List" >
    id, address_cn, address_en, principal, com_crefo_no, company_properties_id, crefo_no, company_status_id, del_flag, 
    establish_date,ent_nature,ent_nature_en, name_cn, name_en, note_cn, note_en, reg, relation_id, tel, update_time,full_report_id,
    relationship, relationship_en, ent_status, ent_status_en
  </sql>

  <sql id="condition_sql">
  <if test="id != null" >
    and id = #{id,jdbcType=INTEGER}
  </if>
    <if test="addressCN != null" >
      and address_cn = #{addressCN,jdbcType=VARCHAR}
    </if>
    <if test="addressEN != null" >
      and address_en = #{addressEN,jdbcType=VARCHAR}
    </if>
    <if test="principal != null" >
      and principal = #{principal,jdbcType=VARCHAR}
    </if>
    <if test="comCrefoNo != null" >
      and com_crefo_no = #{comCrefoNo,jdbcType=VARCHAR}
    </if>
    <if test="companyPropertiesId != null" >
      and company_properties_id = #{companyPropertiesId,jdbcType=INTEGER}
    </if>
    <if test="crefoNo != null" >
      and crefo_no = #{crefoNo,jdbcType=VARCHAR}
    </if>
    <if test="companyStatusId != null" >
      and company_status_id = #{companyStatusId,jdbcType=INTEGER}
    </if>
    <if test="delFlag != null" >
      and del_flag = #{delFlag,jdbcType=VARCHAR}
    </if>
    <if test="establishDate != null" >
      and establish_date = #{establishDate,jdbcType=VARCHAR}
    </if>
    <if test="entNature != null" >
      and ent_nature = #{entNature,jdbcType=VARCHAR}
    </if>
    <if test="entNatureEN != null" >
      and ent_nature_en = #{entNatureEN,jdbcType=VARCHAR}
    </if>
    <if test="nameCN != null" >
      and name_cn = #{nameCN,jdbcType=VARCHAR}
    </if>
    <if test="nameEN != null" >
      and name_en = #{nameEN,jdbcType=VARCHAR}
    </if>
    <if test="noteCN != null" >
      and note_cn = #{noteCN,jdbcType=VARCHAR}
    </if>
    <if test="noteEN != null" >
      and note_en = #{noteEN,jdbcType=VARCHAR}
    </if>
    <if test="reg != null" >
      and reg = #{reg,jdbcType=VARCHAR}
    </if>
    <if test="relationId != null" >
      and relation_id = #{relationId,jdbcType=INTEGER}
    </if>
    <if test="tel != null" >
      and tel = #{tel,jdbcType=VARCHAR}
    </if>
    <if test="updateTime != null" >
      and update_time = #{updateTime,jdbcType=VARCHAR}
    </if>
    <if test="fullReportId != null" >
      and full_report_id = #{fullReportId,jdbcType=INTEGER}
    </if>
    <if test="relationship != null" >
      and relationship = #{relationship,jdbcType=VARCHAR}
    </if>
    <if test="relationshipEN != null" >
      and relationship_en = #{relationshipEN,jdbcType=VARCHAR}
    </if>
    <if test="entStatus != null" >
      and ent_status = #{entStatus,jdbcType=VARCHAR}
    </if>
    <if test="entStatusEN != null" >
      and ent_status_en = #{entStatusEN,jdbcType=VARCHAR}
    </if>
  </sql>

  <select id="getById" parameterType="Integer" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    where id = #{id}
  </select>

  <select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
  </select>

  <select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
    <![CDATA[ order by id desc]]>
  </select>

  <select id="listPageCount" parameterType="java.util.Map" resultType="Integer">
    select count(1) from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
  </select>

  <insert id="insert" parameterType="com.mika.credit.common.entity.report.cn.RelatedCompanies" keyProperty="id" useGeneratedKeys="true">
    insert into
    <include refid="table" />
    (id, address_cn, address_en,
    principal, com_crefo_no, company_properties_id,
    crefo_no, company_status_id, del_flag,
    establish_date,ent_nature,ent_nature_en, name_cn, name_en,
    note_cn, note_en, reg,
    relation_id, tel, update_time,full_report_id,
    relationship, relationship_en, ent_status, ent_status_en
    )
    values (#{id,jdbcType=INTEGER}, #{addressCN,jdbcType=VARCHAR}, #{addressEN,jdbcType=VARCHAR},
    #{principal,jdbcType=VARCHAR}, #{comCrefoNo,jdbcType=VARCHAR}, #{companyPropertiesId,jdbcType=INTEGER},
    #{crefoNo,jdbcType=VARCHAR}, #{companyStatusId,jdbcType=INTEGER}, #{delFlag,jdbcType=VARCHAR},
    #{establishDate,jdbcType=VARCHAR}, #{entNature,jdbcType=VARCHAR}, #{entNatureEN,jdbcType=VARCHAR}, #{nameCN,jdbcType=VARCHAR}, #{nameEN,jdbcType=VARCHAR},
    #{noteCN,jdbcType=VARCHAR}, #{noteEN,jdbcType=VARCHAR}, #{reg,jdbcType=VARCHAR},
    #{relationId,jdbcType=INTEGER}, #{tel,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR},#{fullReportId,jdbcType=INTEGER},
    #{relationship,jdbcType=VARCHAR}, #{relationshipEN,jdbcType=VARCHAR}, #{entStatus,jdbcType=VARCHAR}, #{entStatusEN,jdbcType=VARCHAR}
    )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from
    <include refid="table" />
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <update id="update" parameterType="com.mika.credit.common.entity.report.cn.RelatedCompanies" >
    update related_companies
    set address_cn = #{addressCN,jdbcType=VARCHAR},
      address_en = #{addressEN,jdbcType=VARCHAR},
      principal = #{principal,jdbcType=VARCHAR},
      com_crefo_no = #{comCrefoNo,jdbcType=VARCHAR},
      company_properties_id = #{companyPropertiesId,jdbcType=INTEGER},
      crefo_no = #{crefoNo,jdbcType=VARCHAR},
      company_status_id = #{companyStatusId,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      establish_date = #{establishDate,jdbcType=VARCHAR},
      ent_nature = #{entNature,jdbcType=VARCHAR},
      ent_nature_en = #{entNatureEN,jdbcType=VARCHAR},
      name_cn = #{nameCN,jdbcType=VARCHAR},
      name_en = #{nameEN,jdbcType=VARCHAR},
      note_cn = #{noteCN,jdbcType=VARCHAR},
      note_en = #{noteEN,jdbcType=VARCHAR},
      reg = #{reg,jdbcType=VARCHAR},
      relation_id = #{relationId,jdbcType=INTEGER},
      tel = #{tel,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      full_report_id = #{fullReportId,jdbcType=INTEGER},
      relationship = #{relationship,jdbcType=VARCHAR},
      relationship_en = #{relationshipEN,jdbcType=VARCHAR},
      ent_status = #{entStatus,jdbcType=VARCHAR},
      ent_status_en = #{entStatusEN,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertSelective" parameterType="com.mika.credit.common.entity.report.cn.RelatedCompanies" >
    insert into related_companies
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addressCN != null" >
        address_cn,
      </if>
      <if test="addressEN != null" >
        address_en,
      </if>
      <if test="principal != null" >
        principal,
      </if>
      <if test="comCrefoNo != null" >
        com_crefo_no,
      </if>
      <if test="companyPropertiesId != null" >
        company_properties_id,
      </if>
      <if test="crefoNo != null" >
        crefo_no,
      </if>
      <if test="companyStatusId != null" >
        company_status_id,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="establishDate != null" >
        establish_date,
      </if>
      <if test="entNature != null" >
        ent_nature,
      </if>
      <if test="entNatureEN != null" >
        ent_nature_en,
      </if>
      <if test="nameCN != null" >
        name_cn,
      </if>
      <if test="nameEN != null" >
        name_en,
      </if>
      <if test="noteCN != null" >
        note_cn,
      </if>
      <if test="noteEN != null" >
        note_en,
      </if>
      <if test="reg != null" >
        reg,
      </if>
      <if test="relationId != null" >
        relation_id,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="fullReportId != null" >
        full_report_id,
      </if>
      <if test="relationship != null" >
        relationship,
      </if>
      <if test="relationshipEN != null" >
        relationship_en,
      </if>
      <if test="entStatus != null" >
        ent_status,
      </if>
      <if test="entStatusEN != null" >
        ent_status_en,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="addressCN != null" >
        #{addressCN,jdbcType=VARCHAR},
      </if>
      <if test="addressEN != null" >
        #{addressEN,jdbcType=VARCHAR},
      </if>
      <if test="principal != null" >
        #{principal,jdbcType=VARCHAR},
      </if>
      <if test="comCrefoNo != null" >
        #{comCrefoNo,jdbcType=VARCHAR},
      </if>
      <if test="companyPropertiesId != null" >
        #{companyPropertiesId,jdbcType=INTEGER},
      </if>
      <if test="crefoNo != null" >
        #{crefoNo,jdbcType=VARCHAR},
      </if>
      <if test="companyStatusId != null" >
        #{companyStatusId,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="establishDate != null" >
        #{establishDate,jdbcType=VARCHAR},
      </if>
      <if test="entNature != null" >
        #{entNature,jdbcType=VARCHAR},
      </if>
      <if test="entNatureEN != null" >
        #{entNatureEN,jdbcType=VARCHAR},
      </if>
      <if test="nameCN != null" >
        #{nameCN,jdbcType=VARCHAR},
      </if>
      <if test="nameEN != null" >
        #{nameEN,jdbcType=VARCHAR},
      </if>
      <if test="noteCN != null" >
        #{noteCN,jdbcType=VARCHAR},
      </if>
      <if test="noteEN != null" >
        #{noteEN,jdbcType=VARCHAR},
      </if>
      <if test="reg != null" >
        #{reg,jdbcType=VARCHAR},
      </if>
      <if test="relationId != null" >
        #{relationId,jdbcType=INTEGER},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="fullReportId != null" >
        #{fullReportId,jdbcType=INTEGER},
      </if>
      <if test="relationship != null" >
        #{relationship,jdbcType=VARCHAR},
      </if>
      <if test="relationshipEN != null" >
        #{relationshipEN,jdbcType=VARCHAR},
      </if>
      <if test="entStatus != null" >
        #{entStatus,jdbcType=VARCHAR},
      </if>
      <if test="entStatusEN != null" >
        #{entStatusEN,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateSelective" parameterType="com.mika.credit.common.entity.report.cn.RelatedCompanies" >
    update related_companies
    <set >
      <if test="addressCN != null" >
        address_cn = #{addressCN,jdbcType=VARCHAR},
      </if>
      <if test="addressEN != null" >
        address_en = #{addressEN,jdbcType=VARCHAR},
      </if>
      <if test="principal != null" >
        principal = #{principal,jdbcType=VARCHAR},
      </if>
      <if test="comCrefoNo != null" >
        com_crefo_no = #{comCrefoNo,jdbcType=VARCHAR},
      </if>
      <if test="companyPropertiesId != null" >
        company_properties_id = #{companyPropertiesId,jdbcType=INTEGER},
      </if>
      <if test="crefoNo != null" >
        crefo_no = #{crefoNo,jdbcType=VARCHAR},
      </if>
      <if test="companyStatusId != null" >
        company_status_id = #{companyStatusId,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="establishDate != null" >
        establish_date = #{establishDate,jdbcType=VARCHAR},
      </if>
      <if test="entNature != null" >
        ent_nature = #{entNature,jdbcType=VARCHAR},
      </if>
      <if test="entNatureEN != null" >
        ent_nature_en = #{entNatureEN,jdbcType=VARCHAR},
      </if>
      <if test="nameCN != null" >
        name_cn = #{nameCN,jdbcType=VARCHAR},
      </if>
      <if test="nameEN != null" >
        name_en = #{nameEN,jdbcType=VARCHAR},
      </if>
      <if test="noteCN != null" >
        note_cn = #{noteCN,jdbcType=VARCHAR},
      </if>
      <if test="noteEN != null" >
        note_en = #{noteEN,jdbcType=VARCHAR},
      </if>
      <if test="reg != null" >
        reg = #{reg,jdbcType=VARCHAR},
      </if>
      <if test="relationId != null" >
        relation_id = #{relationId,jdbcType=INTEGER},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="fullReportId != null" >
        full_report_id = #{fullReportId,jdbcType=INTEGER},
      </if>
      <if test="relationship != null" >
        relationship = #{relationship,jdbcType=VARCHAR},
      </if>
      <if test="relationshipEN != null" >
        relationship_en = #{relationshipEN,jdbcType=VARCHAR},
      </if>
      <if test="entStatus != null" >
        ent_status = #{entStatus,jdbcType=VARCHAR},
      </if>
      <if test="entStatusEN != null" >
        ent_status_en = #{entStatusEN,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>