<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mika.credit.facade.front.cn.dao.impl.TradeReferencesDaoImpl" >
  <cache eviction="LRU" type="com.mika.credit.common.core.mybatis.cache.redis.sharded.MybatiesRedisCache" />
  <resultMap id="BaseResultMap" type="com.mika.credit.common.entity.report.cn.TradeReferences" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_properties_id" property="companyPropertiesId" jdbcType="INTEGER" />
    <result column="company_status_id" property="companyStatusId" jdbcType="INTEGER" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
    <result column="com_crefo_no" property="comCrefoNo" jdbcType="LONGVARCHAR" />
    <result column="cooperation_date" property="cooperationDate" jdbcType="LONGVARCHAR" />
    <result column="crefo_no" property="crefoNo" jdbcType="LONGVARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="LONGVARCHAR" />
    <result column="establish_date" property="establishDate" jdbcType="LONGVARCHAR" />
    <result column="name_cn" property="nameCN" jdbcType="LONGVARCHAR" />
    <result column="name_en" property="nameEN" jdbcType="LONGVARCHAR" />
    <result column="note_cn" property="noteCN" jdbcType="LONGVARCHAR" />
    <result column="note_en" property="noteEN" jdbcType="LONGVARCHAR" />
    <result column="reg" property="reg" jdbcType="LONGVARCHAR" />
    <result column="tel" property="tel" jdbcType="LONGVARCHAR" />
    <result column="full_report_id" property="fullReportId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="enterprisenature" property="enterprisenature" jdbcType="VARCHAR" />
    <result column="enterprisenature_en" property="enterprisenatureEN" jdbcType="VARCHAR" />
    <result column="ent_status" property="entStatus" jdbcType="VARCHAR" />
    <result column="ent_status_en" property="entStatusEN" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="table"> trade_references </sql>

  <sql id="Base_Column_List" >
    id, company_properties_id, company_status_id, flag,
    com_crefo_no, cooperation_date, crefo_no, del_flag, establish_date, name_cn, name_en, 
    noteCN, note_en, reg, tel,full_report_id,update_time, enterprisenature, enterprisenature_en,
    ent_status, ent_status_en
  </sql>
  <sql id="condition_sql">
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="companyPropertiesId != null" >
      and company_properties_id = #{companyPropertiesId,jdbcType=INTEGER}
    </if>
    <if test="companyStatusId != null" >
      and company_status_id = #{companyStatusId,jdbcType=INTEGER}
    </if>
    <if test="flag != null" >
      and flag = #{flag,jdbcType=VARCHAR}
    </if>
    <if test="comCrefoNo != null" >
      and com_crefo_no = #{comCrefoNo,jdbcType=LONGVARCHAR}
    </if>
    <if test="cooperationDate != null" >
      and cooperation_date = #{cooperationDate,jdbcType=LONGVARCHAR}
    </if>
    <if test="crefoNo != null" >
      and crefo_no = #{crefoNo,jdbcType=LONGVARCHAR}
    </if>
    <if test="delFlag != null" >
      and del_flag = #{delFlag,jdbcType=LONGVARCHAR}
    </if>
    <if test="establishDate != null" >
      and establish_date = #{establishDate,jdbcType=LONGVARCHAR}
    </if>
    <if test="nameCN != null" >
      and name_cn = #{nameCN,jdbcType=LONGVARCHAR}
    </if>
    <if test="nameEN != null" >
      and name_en = #{nameEN,jdbcType=LONGVARCHAR}
    </if>
    <if test="noteCN != null" >
      and note_cn = #{noteCN,jdbcType=LONGVARCHAR}
    </if>
    <if test="noteEN != null" >
      and note_en = #{noteEN,jdbcType=LONGVARCHAR}
    </if>
    <if test="reg != null" >
      and reg = #{reg,jdbcType=LONGVARCHAR}
    </if>
    <if test="tel != null" >
      and tel = #{tel,jdbcType=LONGVARCHAR}
    </if>
    <if test="fullReportId != null" >
      and full_report_id = #{fullReportId,jdbcType=INTEGER}
    </if>
    <if test="tel != null" >
      and tel = #{tel,jdbcType=LONGVARCHAR}
    </if>
    <if test="updateTime != null" >
      and update_time = #{updateTime,jdbcType=VARCHAR}
    </if>
    <if test="enterprisenature != null" >
      and enterprisenature = #{enterprisenature,jdbcType=VARCHAR}
    </if>
    <if test="enterprisenatureEN != null" >
      and enterprisenature_en = #{enterprisenatureEN,jdbcType=VARCHAR}
    </if>
    <if test="entStatus != null" >
      and ent_status = #{entStatus,jdbcType=VARCHAR}
    </if>
    <if test="entStatusEN != null" >
      and ent_status_en = #{entStatusEN,jdbcType=VARCHAR}
    </if>
  </sql>

  <select id="getById" parameterType="Integer" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    where id = #{id}
  </select>

  <select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
  </select>

  <select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
    <![CDATA[ order by id desc]]>
  </select>

  <select id="listPageCount" parameterType="java.util.Map" resultType="Integer">
    select count(1) from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
  </select>

  <insert id="insert" parameterType="com.mika.credit.common.entity.report.cn.TradeReferences" keyProperty="id" useGeneratedKeys="true">
    insert into
    <include refid="table" />
    (id, company_properties_id, company_status_id,
    flag, com_crefo_no, cooperation_date,
    crefo_no, del_flag, establish_date,
    name_cn, name_en, note_cn,
    note_en, reg, tel,full_report_id,update_time,enterprisenature,
    enterprisenature_en,ent_status,ent_status_en
    )
    values (#{id,jdbcType=INTEGER}, #{companyPropertiesId,jdbcType=INTEGER}, #{companyStatusId,jdbcType=INTEGER},
    #{flag,jdbcType=VARCHAR}, #{comCrefoNo,jdbcType=LONGVARCHAR}, #{cooperationDate,jdbcType=LONGVARCHAR},
    #{crefoNo,jdbcType=LONGVARCHAR}, #{delFlag,jdbcType=LONGVARCHAR}, #{establishDate,jdbcType=LONGVARCHAR},
    #{nameCN,jdbcType=LONGVARCHAR}, #{nameEN,jdbcType=LONGVARCHAR}, #{noteCN,jdbcType=LONGVARCHAR},
    #{noteEN,jdbcType=LONGVARCHAR}, #{reg,jdbcType=LONGVARCHAR}, #{tel,jdbcType=LONGVARCHAR},#{fullReportId,jdbcType=INTEGER},
    #{updateTime,jdbcType=VARCHAR}, #{enterprisenature,jdbcType=VARCHAR}, #{enterprisenatureEN,jdbcType=VARCHAR}, #{entStatus,jdbcType=VARCHAR}, #{entStatusEN,jdbcType=VARCHAR}
    )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from
    <include refid="table" />
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <update id="update" parameterType="com.mika.credit.common.entity.report.cn.TradeReferences" >
    update trade_references
    set company_properties_id = #{companyPropertiesId,jdbcType=INTEGER},
      company_status_id = #{companyStatusId,jdbcType=INTEGER},
      flag = #{flag,jdbcType=VARCHAR},
      com_crefo_no = #{comCrefoNo,jdbcType=LONGVARCHAR},
      cooperation_date = #{cooperationDate,jdbcType=LONGVARCHAR},
      crefo_no = #{crefoNo,jdbcType=LONGVARCHAR},
      del_flag = #{delFlag,jdbcType=LONGVARCHAR},
      establish_date = #{establishDate,jdbcType=LONGVARCHAR},
      name_cn = #{nameCN,jdbcType=LONGVARCHAR},
      name_en = #{nameEN,jdbcType=LONGVARCHAR},
      note_cn = #{noteCN,jdbcType=LONGVARCHAR},
      note_en = #{noteEN,jdbcType=LONGVARCHAR},
      reg = #{reg,jdbcType=LONGVARCHAR},
      tel = #{tel,jdbcType=LONGVARCHAR},
      full_report_id = #{fullReportId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=VARCHAR},
      enterprisenature = #{enterprisenature,jdbcType=VARCHAR},
      enterprisenature_en = #{enterprisenatureEN,jdbcType=VARCHAR},
      ent_status = #{entStatus,jdbcType=VARCHAR},
      ent_status_en = #{entStatusEN,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertSelective" parameterType="com.mika.credit.common.entity.report.cn.TradeReferences" >
    insert into trade_references
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyPropertiesId != null" >
        company_properties_id,
      </if>
      <if test="companyStatusId != null" >
        company_status_id,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="comCrefoNo != null" >
        com_crefo_no,
      </if>
      <if test="cooperationDate != null" >
        cooperation_date,
      </if>
      <if test="crefoNo != null" >
        crefo_no,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="establishDate != null" >
        establish_date,
      </if>
      <if test="nameCN != null" >
        name_cn,
      </if>
      <if test="nameEN != null" >
        name_en,
      </if>
      <if test="noteCN != null" >
        note_cn,
      </if>
      <if test="noteEN != null" >
        note_en,
      </if>
      <if test="reg != null" >
        reg,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="fullReportId != null" >
        full_report_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="enterprisenature != null" >
        enterprisenature,
      </if>
      <if test="enterprisenatureEN != null" >
        enterprisenature_en,
      </if>
      <if test="entStatus != null" >
        ent_status,
      </if>
      <if test="entStatusEN != null" >
        ent_status_en,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyPropertiesId != null" >
        #{companyPropertiesId,jdbcType=INTEGER},
      </if>
      <if test="companyStatusId != null" >
        #{companyStatusId,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="comCrefoNo != null" >
        #{comCrefoNo,jdbcType=LONGVARCHAR},
      </if>
      <if test="cooperationDate != null" >
        #{cooperationDate,jdbcType=LONGVARCHAR},
      </if>
      <if test="crefoNo != null" >
        #{crefoNo,jdbcType=LONGVARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=LONGVARCHAR},
      </if>
      <if test="establishDate != null" >
        #{establishDate,jdbcType=LONGVARCHAR},
      </if>
      <if test="nameCN != null" >
        #{nameCN,jdbcType=LONGVARCHAR},
      </if>
      <if test="nameEN != null" >
        #{nameEN,jdbcType=LONGVARCHAR},
      </if>
      <if test="noteCN != null" >
        #{noteCN,jdbcType=LONGVARCHAR},
      </if>
      <if test="noteEN != null" >
        #{noteEN,jdbcType=LONGVARCHAR},
      </if>
      <if test="reg != null" >
        #{reg,jdbcType=LONGVARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=LONGVARCHAR},
      </if>
      <if test="fullReportId != null" >
        #{fullReportId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="enterprisenature != null" >
        #{enterprisenature,jdbcType=VARCHAR},
      </if>
      <if test="enterprisenatureEN != null" >
        #{enterprisenatureEN,jdbcType=VARCHAR},
      </if>
      <if test="entStatus != null" >
        #{entStatus,jdbcType=VARCHAR},
      </if>
      <if test="entStatusEN != null" >
        #{entStatusEN,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateSelective" parameterType="com.mika.credit.common.entity.report.cn.TradeReferences" >
    update trade_references
    <set >
      <if test="companyPropertiesId != null" >
        company_properties_id = #{companyPropertiesId,jdbcType=INTEGER},
      </if>
      <if test="companyStatusId != null" >
        company_status_id = #{companyStatusId,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="comCrefoNo != null" >
        com_crefo_no = #{comCrefoNo,jdbcType=LONGVARCHAR},
      </if>
      <if test="cooperationDate != null" >
        cooperation_date = #{cooperationDate,jdbcType=LONGVARCHAR},
      </if>
      <if test="crefoNo != null" >
        crefo_no = #{crefoNo,jdbcType=LONGVARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=LONGVARCHAR},
      </if>
      <if test="establishDate != null" >
        establish_date = #{establishDate,jdbcType=LONGVARCHAR},
      </if>
      <if test="nameCN != null" >
        name_cn = #{nameCN,jdbcType=LONGVARCHAR},
      </if>
      <if test="nameEN != null" >
        name_en = #{nameEN,jdbcType=LONGVARCHAR},
      </if>
      <if test="noteCN != null" >
        note_cn = #{noteCN,jdbcType=LONGVARCHAR},
      </if>
      <if test="noteEN != null" >
        note_en = #{noteEN,jdbcType=LONGVARCHAR},
      </if>
      <if test="reg != null" >
        reg = #{reg,jdbcType=LONGVARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=LONGVARCHAR},
      </if>
      <if test="fullReportId != null" >
        full_report_id = #{fullReportId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="enterprisenature != null" >
        enterprisenature = #{enterprisenature,jdbcType=VARCHAR},
      </if>
      <if test="enterprisenatureEN != null" >
        enterprisenature_en = #{enterprisenatureEN,jdbcType=VARCHAR},
      </if>
      <if test="entStatus != null" >
        ent_status = #{entStatus,jdbcType=VARCHAR},
      </if>
      <if test="entStatusEN != null" >
        ent_status_en = #{entStatusEN,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>