<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mika.credit.facade.front.cn.dao.impl.WdhmdDaoImpl" >
    <cache eviction="LRU" type="com.mika.credit.common.core.mybatis.cache.redis.sharded.MybatiesRedisCache" />
    <resultMap id="BaseResultMap" type="com.mika.credit.common.entity.report.cn.Wdhmd" >
    <id column="id" property="id" jdbcType="INTEGER" />
      <result column="crefo_no" property="crefoNo" jdbcType="VARCHAR" />
    <result column="source_name" property="sourceName" jdbcType="VARCHAR" />
    <result column="wdhmd_id" property="wdhmdId" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="LONGVARCHAR" />
    <result column="age" property="age" jdbcType="LONGVARCHAR" />
    <result column="birth_place" property="birthPlace" jdbcType="LONGVARCHAR" />
    <result column="bjbx" property="bjbx" jdbcType="LONGVARCHAR" />
    <result column="body" property="body" jdbcType="LONGVARCHAR" />
    <result column="case_code" property="caseCode" jdbcType="LONGVARCHAR" />
    <result column="court" property="court" jdbcType="LONGVARCHAR" />
    <result column="datasource" property="datasource" jdbcType="LONGVARCHAR" />
    <result column="docket_no" property="docketNo" jdbcType="LONGVARCHAR" />
    <result column="email" property="email" jdbcType="LONGVARCHAR" />
    <result column="exec_court" property="execCourt" jdbcType="LONGVARCHAR" />
    <result column="idcard_no" property="idcardNo" jdbcType="LONGVARCHAR" />
    <result column="mobile" property="mobile" jdbcType="LONGVARCHAR" />
    <result column="party_name" property="partyName" jdbcType="LONGVARCHAR" />
    <result column="phone" property="phone" jdbcType="LONGVARCHAR" />
    <result column="pname" property="pname" jdbcType="LONGVARCHAR" />
    <result column="related_party" property="relatedParty" jdbcType="LONGVARCHAR" />
    <result column="sex" property="sex" jdbcType="LONGVARCHAR" />
    <result column="sort_time" property="sortTime" jdbcType="LONGVARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="LONGVARCHAR" />
    <result column="whfx" property="whfx" jdbcType="LONGVARCHAR" />
    <result column="yhje" property="yhje" jdbcType="LONGVARCHAR" />
      <result column="full_report_id" property="fullReportId" jdbcType="INTEGER" />
  </resultMap>

    <sql id="table"> wdhmd </sql>

  <sql id="Base_Column_List" >
    id, crefo_no, source_name, wdhmd_id,address, age, birth_place, bjbx, body, case_code, court, datasource, docket_no, email,
    exec_court, idcard_no, mobile, party_name, phone, pname, related_party, sex, sort_time, update_time, whfx, yhje,full_report_id
  </sql>

    <sql id="condition_sql">
        <if test="id != null" >
            and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="crefoNo != null" >
            and crefo_no = #{crefoNo,jdbcType=VARCHAR}
        </if>
        <if test="sourceName != null" >
            and source_name = #{sourceName,jdbcType=VARCHAR}
        </if>
        <if test="wdhmdId != null" >
            and wdhmd_id = #{wdhmdId,jdbcType=VARCHAR}
        </if>
        <if test="address != null" >
            and address = #{address,jdbcType=LONGVARCHAR}
        </if>
        <if test="age != null" >
            and age = #{age,jdbcType=LONGVARCHAR}
        </if>
        <if test="birthPlace != null" >
            and birth_place = #{birthPlace,jdbcType=LONGVARCHAR}
        </if>
        <if test="bjbx != null" >
            and bjbx =  #{bjbx,jdbcType=LONGVARCHAR}
        </if>
        <if test="body != null" >
            and body = #{body,jdbcType=LONGVARCHAR}
        </if>
        <if test="caseCode != null" >
            and case_code = #{caseCode,jdbcType=LONGVARCHAR}
        </if>
        <if test="court != null" >
            and court = #{court,jdbcType=LONGVARCHAR}
        </if>
        <if test="datasource != null" >
            and datasource = #{datasource,jdbcType=LONGVARCHAR}
        </if>
        <if test="docketNo != null" >
            and docket_no = #{docketNo,jdbcType=LONGVARCHAR}
        </if>
        <if test="email != null" >
            and email = #{email,jdbcType=LONGVARCHAR}
        </if>
        <if test="execCourt != null" >
            and exec_court = #{execCourt,jdbcType=LONGVARCHAR}
        </if>
        <if test="idcardNo != null" >
            and idcard_no = #{idcardNo,jdbcType=LONGVARCHAR}
        </if>
        <if test="mobile != null" >
            and mobile = #{mobile,jdbcType=LONGVARCHAR}
        </if>
        <if test="partyName != null" >
            and party_name = #{partyName,jdbcType=LONGVARCHAR}
        </if>
        <if test="phone != null" >
            and phone = #{phone,jdbcType=LONGVARCHAR}
        </if>
        <if test="pname != null" >
            and pname = #{pname,jdbcType=LONGVARCHAR}
        </if>
        <if test="relatedParty != null" >
            and related_party = #{relatedParty,jdbcType=LONGVARCHAR}
        </if>
        <if test="sex != null" >
            and sex = #{sex,jdbcType=LONGVARCHAR}
        </if>
        <if test="sortTime != null" >
            and sort_time = #{sortTime,jdbcType=LONGVARCHAR}
        </if>
        <if test="updateTime != null" >
            and update_time = #{updateTime,jdbcType=LONGVARCHAR}
        </if>
        <if test="whfx != null" >
            and whfx = #{whfx,jdbcType=LONGVARCHAR}
        </if>
        <if test="yhje != null" >
            and yhje = #{yhje,jdbcType=LONGVARCHAR}
        </if>
        <if test="fullReportId != null" >
            and full_report_id = #{fullReportId,jdbcType=INTEGER}
        </if>
    </sql>

    <select id="getById" parameterType="long" resultMap="BaseResultMap">
        select * from
        <include refid="table" />
        where id = #{id}
    </select>

    <select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from
        <include refid="table" />
        <where>
            <include refid="condition_sql" />
        </where>
    </select>

    <select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from
        <include refid="table" />
        <where>
            <include refid="condition_sql" />
        </where>
        <![CDATA[ order by id desc]]>
    </select>

    <select id="listPageCount" parameterType="java.util.Map" resultType="long">
        select count(1) from
        <include refid="table" />
        <where>
            <include refid="condition_sql" />
        </where>
    </select>

    <insert id="insert" parameterType="com.mika.credit.common.entity.report.cn.Wdhmd" keyProperty="id" useGeneratedKeys="true">
        insert into
        <include refid="table" />
        (id, crefo_no, source_name,
        wdhmd_id, address, age,
        birth_place, bjbx, body,
        case_code, court, datasource,
        docket_no, email, exec_court,
        idcard_no, mobile, party_name,
        phone, pname, related_party,
        sex, sort_time, update_time,
        whfx, yhje,full_report_id)
        values (#{id,jdbcType=INTEGER}, #{crefoNo,jdbcType=VARCHAR}, #{sourceName,jdbcType=VARCHAR},
        #{wdhmdId,jdbcType=VARCHAR}, #{address,jdbcType=LONGVARCHAR}, #{age,jdbcType=LONGVARCHAR},
        #{birthPlace,jdbcType=LONGVARCHAR}, #{bjbx,jdbcType=LONGVARCHAR}, #{body,jdbcType=LONGVARCHAR},
        #{caseCode,jdbcType=LONGVARCHAR}, #{court,jdbcType=LONGVARCHAR}, #{datasource,jdbcType=LONGVARCHAR},
        #{docketNo,jdbcType=LONGVARCHAR}, #{email,jdbcType=LONGVARCHAR}, #{execCourt,jdbcType=LONGVARCHAR},
        #{idcardNo,jdbcType=LONGVARCHAR}, #{mobile,jdbcType=LONGVARCHAR}, #{partyName,jdbcType=LONGVARCHAR},
        #{phone,jdbcType=LONGVARCHAR}, #{pname,jdbcType=LONGVARCHAR}, #{relatedParty,jdbcType=LONGVARCHAR},
        #{sex,jdbcType=LONGVARCHAR}, #{sortTime,jdbcType=LONGVARCHAR}, #{updateTime,jdbcType=LONGVARCHAR},
        #{whfx,jdbcType=LONGVARCHAR}, #{yhje,jdbcType=LONGVARCHAR}, #{fullReportId,jdbcType=INTEGER})
    </insert>

    <delete id="deleteById" parameterType="java.lang.Integer" >
        delete from
        <include refid="table" />
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <update id="update" parameterType="com.mika.credit.common.entity.report.cn.Wdhmd" >
    update wdhmd
    set crefo_no = #{crefoNo,jdbcType=VARCHAR},
      source_name = #{sourceName,jdbcType=VARCHAR},
      wdhmd_id = #{wdhmdId,jdbcType=VARCHAR},
      address = #{address,jdbcType=LONGVARCHAR},
      age = #{age,jdbcType=LONGVARCHAR},
      birth_place = #{birthPlace,jdbcType=LONGVARCHAR},
      bjbx = #{bjbx,jdbcType=LONGVARCHAR},
      body = #{body,jdbcType=LONGVARCHAR},
      case_code = #{caseCode,jdbcType=LONGVARCHAR},
      court = #{court,jdbcType=LONGVARCHAR},
      datasource = #{datasource,jdbcType=LONGVARCHAR},
      docket_no = #{docketNo,jdbcType=LONGVARCHAR},
      email = #{email,jdbcType=LONGVARCHAR},
      exec_court = #{execCourt,jdbcType=LONGVARCHAR},
      idcard_no = #{idcardNo,jdbcType=LONGVARCHAR},
      mobile = #{mobile,jdbcType=LONGVARCHAR},
      party_name = #{partyName,jdbcType=LONGVARCHAR},
      phone = #{phone,jdbcType=LONGVARCHAR},
      pname = #{pname,jdbcType=LONGVARCHAR},
      related_party = #{relatedParty,jdbcType=LONGVARCHAR},
      sex = #{sex,jdbcType=LONGVARCHAR},
      sort_time = #{sortTime,jdbcType=LONGVARCHAR},
      update_time = #{updateTime,jdbcType=LONGVARCHAR},
      whfx = #{whfx,jdbcType=LONGVARCHAR},
      yhje = #{yhje,jdbcType=LONGVARCHAR},
      full_report_id = #{fullReportId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
    </update>

    <insert id="insertSelective" parameterType="com.mika.credit.common.entity.report.cn.Wdhmd" >
        insert into wdhmd
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="crefoNo != null" >
                crefo_no,
            </if>
            <if test="sourceName != null" >
                source_name,
            </if>
            <if test="wdhmdId != null" >
                wdhmd_id,
            </if>
            <if test="address != null" >
                address,
            </if>
            <if test="age != null" >
                age,
            </if>
            <if test="birthPlace != null" >
                birth_place,
            </if>
            <if test="bjbx != null" >
                bjbx,
            </if>
            <if test="body != null" >
                body,
            </if>
            <if test="caseCode != null" >
                case_code,
            </if>
            <if test="court != null" >
                court,
            </if>
            <if test="datasource != null" >
                datasource,
            </if>
            <if test="docketNo != null" >
                docket_no,
            </if>
            <if test="email != null" >
                email,
            </if>
            <if test="execCourt != null" >
                exec_court,
            </if>
            <if test="idcardNo != null" >
                idcard_no,
            </if>
            <if test="mobile != null" >
                mobile,
            </if>
            <if test="partyName != null" >
                party_name,
            </if>
            <if test="phone != null" >
                phone,
            </if>
            <if test="pname != null" >
                pname,
            </if>
            <if test="relatedParty != null" >
                related_party,
            </if>
            <if test="sex != null" >
                sex,
            </if>
            <if test="sortTime != null" >
                sort_time,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="whfx != null" >
                whfx,
            </if>
            <if test="yhje != null" >
                yhje,
            </if>
            <if test="fullReportId != null" >
                full_report_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="crefoNo != null" >
                #{crefoNo,jdbcType=VARCHAR},
            </if>
            <if test="sourceName != null" >
                #{sourceName,jdbcType=VARCHAR},
            </if>
            <if test="wdhmdId != null" >
                #{wdhmdId,jdbcType=VARCHAR},
            </if>
            <if test="address != null" >
                #{address,jdbcType=LONGVARCHAR},
            </if>
            <if test="age != null" >
                #{age,jdbcType=LONGVARCHAR},
            </if>
            <if test="birthPlace != null" >
                #{birthPlace,jdbcType=LONGVARCHAR},
            </if>
            <if test="bjbx != null" >
                #{bjbx,jdbcType=LONGVARCHAR},
            </if>
            <if test="body != null" >
                #{body,jdbcType=LONGVARCHAR},
            </if>
            <if test="caseCode != null" >
                #{caseCode,jdbcType=LONGVARCHAR},
            </if>
            <if test="court != null" >
                #{court,jdbcType=LONGVARCHAR},
            </if>
            <if test="datasource != null" >
                #{datasource,jdbcType=LONGVARCHAR},
            </if>
            <if test="docketNo != null" >
                #{docketNo,jdbcType=LONGVARCHAR},
            </if>
            <if test="email != null" >
                #{email,jdbcType=LONGVARCHAR},
            </if>
            <if test="execCourt != null" >
                #{execCourt,jdbcType=LONGVARCHAR},
            </if>
            <if test="idcardNo != null" >
                #{idcardNo,jdbcType=LONGVARCHAR},
            </if>
            <if test="mobile != null" >
                #{mobile,jdbcType=LONGVARCHAR},
            </if>
            <if test="partyName != null" >
                #{partyName,jdbcType=LONGVARCHAR},
            </if>
            <if test="phone != null" >
                #{phone,jdbcType=LONGVARCHAR},
            </if>
            <if test="pname != null" >
                #{pname,jdbcType=LONGVARCHAR},
            </if>
            <if test="relatedParty != null" >
                #{relatedParty,jdbcType=LONGVARCHAR},
            </if>
            <if test="sex != null" >
                #{sex,jdbcType=LONGVARCHAR},
            </if>
            <if test="sortTime != null" >
                #{sortTime,jdbcType=LONGVARCHAR},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=LONGVARCHAR},
            </if>
            <if test="whfx != null" >
                #{whfx,jdbcType=LONGVARCHAR},
            </if>
            <if test="yhje != null" >
                #{yhje,jdbcType=LONGVARCHAR},
            </if>
            <if test="fullReportId != null" >
                #{fullReportId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateSelective" parameterType="com.mika.credit.common.entity.report.cn.Wdhmd" >
        update wdhmd
        <set >
            <if test="crefoNo != null" >
                crefo_no = #{crefoNo,jdbcType=VARCHAR},
            </if>
            <if test="sourceName != null" >
                source_name = #{sourceName,jdbcType=VARCHAR},
            </if>
            <if test="wdhmdId != null" >
                wdhmd_id = #{wdhmdId,jdbcType=VARCHAR},
            </if>
            <if test="address != null" >
                address = #{address,jdbcType=LONGVARCHAR},
            </if>
            <if test="age != null" >
                age = #{age,jdbcType=LONGVARCHAR},
            </if>
            <if test="birthPlace != null" >
                birth_place = #{birthPlace,jdbcType=LONGVARCHAR},
            </if>
            <if test="bjbx != null" >
                bjbx = #{bjbx,jdbcType=LONGVARCHAR},
            </if>
            <if test="body != null" >
                body = #{body,jdbcType=LONGVARCHAR},
            </if>
            <if test="caseCode != null" >
                case_code = #{caseCode,jdbcType=LONGVARCHAR},
            </if>
            <if test="court != null" >
                court = #{court,jdbcType=LONGVARCHAR},
            </if>
            <if test="datasource != null" >
                datasource = #{datasource,jdbcType=LONGVARCHAR},
            </if>
            <if test="docketNo != null" >
                docket_no = #{docketNo,jdbcType=LONGVARCHAR},
            </if>
            <if test="email != null" >
                email = #{email,jdbcType=LONGVARCHAR},
            </if>
            <if test="execCourt != null" >
                exec_court = #{execCourt,jdbcType=LONGVARCHAR},
            </if>
            <if test="idcardNo != null" >
                idcard_no = #{idcardNo,jdbcType=LONGVARCHAR},
            </if>
            <if test="mobile != null" >
                mobile = #{mobile,jdbcType=LONGVARCHAR},
            </if>
            <if test="partyName != null" >
                party_name = #{partyName,jdbcType=LONGVARCHAR},
            </if>
            <if test="phone != null" >
                phone = #{phone,jdbcType=LONGVARCHAR},
            </if>
            <if test="pname != null" >
                pname = #{pname,jdbcType=LONGVARCHAR},
            </if>
            <if test="relatedParty != null" >
                related_party = #{relatedParty,jdbcType=LONGVARCHAR},
            </if>
            <if test="sex != null" >
                sex = #{sex,jdbcType=LONGVARCHAR},
            </if>
            <if test="sortTime != null" >
                sort_time = #{sortTime,jdbcType=LONGVARCHAR},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=LONGVARCHAR},
            </if>
            <if test="whfx != null" >
                whfx = #{whfx,jdbcType=LONGVARCHAR},
            </if>
            <if test="yhje != null" >
                yhje = #{yhje,jdbcType=LONGVARCHAR},
            </if>
            <if test="fullReportId != null" >
                full_report_id = #{fullReportId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>