<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mika.credit.facade.order.dao.OrderDetailsMapper">
    <resultMap id="BaseResultMap" type="com.mika.credit.common.entity.order.OrderDetail">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="crefo_no" jdbcType="VARCHAR" property="crefoNo"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="company_namecn" jdbcType="VARCHAR" property="companyNameCN"/>
        <result column="company_no" jdbcType="VARCHAR" property="companyNo"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="price_actual" jdbcType="DECIMAL" property="priceActual"/>
        <result column="product_id" jdbcType="INTEGER" property="productId"/>
        <result column="report_lang" jdbcType="TINYINT" property="reportLang"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="country_id" jdbcType="INTEGER" property="countryId"/>
        <result column="country_name" jdbcType="VARCHAR" property="countryName"/>
        <result column="path_file" jdbcType="VARCHAR" property="pathFile"/>
        <result column="path_data" jdbcType="VARCHAR" property="pathData"/>
        <result column="path_data_file" jdbcType="VARCHAR" property="pathDataFile"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="expect_hour" jdbcType="INTEGER" property="expectHour"/>
        <result column="expect_time" jdbcType="TIMESTAMP" property="expectTime"/>
        <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime"/>
        <result column="supplier_expect_hour" jdbcType="INTEGER" property="supplierExpectHour"/>
        <result column="supplier_expect_time" jdbcType="TIMESTAMP" property="supplierExpectTime"/>
        <result column="supplier_id" jdbcType="INTEGER" property="supplierId"/>
        <result column="report_user_id" jdbcType="INTEGER" property="reportUserId"/>
        <result column="check_user_id" jdbcType="INTEGER" property="checkUserId"/>
        <result column="charge_user_id" jdbcType="INTEGER" property="chargeUserId"/>
        <result column="is_special" jdbcType="BIT" property="isSpecial"/>
        <result column="is_express" jdbcType="BIT" property="isExpress"/>
        <result column="db_is_update" jdbcType="BIT" property="dbIsUpDate"/>
        <result column="cpm_is_update" jdbcType="BIT" property="cpmIsUpdate"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
     id, order_id, crefo_no, company_name,company_namecn, company_no, price, price_actual,
    product_id, report_lang, status, country_id,
    country_name, path_file, path_data,path_data_file ,update_time, expect_hour,
    expect_time, finish_time, supplier_expect_hour, supplier_expect_time, supplier_id,
    report_user_id, check_user_id, charge_user_id, is_special, is_express,db_is_update,cpm_is_update,
    remark
    </sql>
    <sql id="condition">
        <where>
            <if test="id != null">
                AND id = #{id,jdbcType=BIGINT}
            </if>
            <if test="orderId != null">
                AND order_id = #{orderId,jdbcType=BIGINT}
            </if>
            <if test="crefoNo != null and crefoNo!=''">
                AND crefo_no = #{crefoNo,jdbcType=VARCHAR}
            </if>
            <if test="companyName != null and companyName!=''">
                AND company_name like CONCAT('%',#{companyName,jdbcType=VARCHAR},'%')
            </if>
            <if test="companyNameCN != null and companyNameCN!=''">
                AND company_namecn like CONCAT('%',#{companyNameCN,jdbcType=VARCHAR},'%')
            </if>
            <if test="companyNo != null and companyNo!=''">
                AND company_no = #{companyNo,jdbcType=VARCHAR}
            </if>
            <if test="price != null">
                AND price = #{price,jdbcType=DECIMAL}
            </if>
            <if test="priceActual != null">
                AND price_actual = #{priceActual,jdbcType=DECIMAL}
            </if>
            <if test="productId != null">
                AND product_id = #{productId,jdbcType=INTEGER}
            </if>
            <if test="reportLang != null">
                AND report_lang = #{reportLang,jdbcType=TINYINT}
            </if>
            <if test="status != null">
                AND status = #{status,jdbcType=TINYINT}
            </if>
            <if test="countryId != null">
                AND country_id = #{countryId,jdbcType=INTEGER}
            </if>
            <if test="countryName != null and countryName!=''">
                AND country_name = #{countryName,jdbcType=VARCHAR}
            </if>
            <if test="pathFile != null and pathFile!=''">
                AND path_file = #{pathFile,jdbcType=VARCHAR}
            </if>
            <if test="pathData != null and pathData!=''">
                AND path_data = #{pathData,jdbcType=VARCHAR}
            </if>
            <if test="pathDataFile != null and pathDataFile!=''">
                AND path_data_file = #{pathDataFile,jdbcType=VARCHAR}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="expectHour != null">
                AND expect_hour = #{expectHour,jdbcType=INTEGER}
            </if>
            <if test="expectTime != null">
                AND expect_time = #{expectTime,jdbcType=TIMESTAMP}
            </if>
            <if test="finishTime != null">
                AND finish_time = #{finishTime,jdbcType=TIMESTAMP}
            </if>
            <if test="supplierExpectHour != null">
                AND supplier_expect_hour = #{supplierExpectHour,jdbcType=INTEGER}
            </if>
            <if test="supplierExpectTime != null">
                AND supplier_expect_time = #{supplierExpectTime,jdbcType=TIMESTAMP}
            </if>
            <if test="supplierId != null">
                AND supplier_id = #{supplierId,jdbcType=INTEGER}
            </if>
            <if test="reportUserId != null">
                AND report_user_id = #{reportUserId,jdbcType=INTEGER}
            </if>
            <if test="checkUserId != null">
                AND check_user_id = #{checkUserId,jdbcType=INTEGER}
            </if>
            <if test="chargeUserId != null">
                AND charge_user_id = #{chargeUserId,jdbcType=INTEGER}
            </if>
            <if test="isSpecial != null">
                AND is_special = #{isSpecial,jdbcType=BIT}
            </if>
            <if test="isExpress != null">
                AND is_express = #{isExpress,jdbcType=BIT}
            </if>
            <if test="dbIsUpDate != null">
                AND db_is_update = #{dbIsUpDate,jdbcType=BIT}
            </if>
            <if test="cpmIsUpdate != null">
                AND cpm_is_update = #{cpmIsUpdate,jdbcType=BIT}
            </if>
            <if test="remark != null and remark!=''">
                AND remark = #{remark,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>
    <sql id="conditionLike">
        <where>
            <if test="id != null">
                AND id = #{id,jdbcType=BIGINT}
            </if>
            <if test="orderId != null">
                AND order_id = #{orderId,jdbcType=BIGINT}
            </if>
            <if test="crefoNo != null and crefoNo!=''">
                AND crefo_no = #{crefoNo,jdbcType=VARCHAR}
            </if>
            <if test="companyName != null and companyName!=''">
                AND company_name like CONCAT('%',#{companyName,jdbcType=VARCHAR},'%')
            </if>
            <if test="companyNameCN != null and companyNameCN!=''">
                AND company_namecn like CONCAT('%',#{companyNameCN,jdbcType=VARCHAR},'%')
            </if>
            <if test="companyNo != null and companyNo!=''">
                AND company_no = #{companyNo,jdbcType=VARCHAR}
            </if>
            <if test="price != null">
                AND price = #{price,jdbcType=DECIMAL}
            </if>
            <if test="priceActual != null">
                AND price_actual = #{priceActual,jdbcType=DECIMAL}
            </if>
            <if test="productId != null">
                AND product_id = #{productId,jdbcType=INTEGER}
            </if>
            <if test="reportLang != null">
                AND report_lang = #{reportLang,jdbcType=TINYINT}
            </if>
            <if test="status != null">
                AND status = #{status,jdbcType=TINYINT}
            </if>
            <if test="countryId != null">
                AND country_id = #{countryId,jdbcType=INTEGER}
            </if>
            <if test="countryName != null and countryName!=''">
                AND country_name = #{countryName,jdbcType=VARCHAR}
            </if>
            <if test="pathFile != null and pathFile!=''">
                AND path_file = #{pathFile,jdbcType=VARCHAR}
            </if>
            <if test="pathData != null and pathData!=''">
                AND path_data = #{pathData,jdbcType=VARCHAR}
            </if>
            <if test="pathDataFile != null and pathDataFile!=''">
                AND path_data_file = #{pathDataFile,jdbcType=VARCHAR}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="expectHour != null">
                AND expect_hour = #{expectHour,jdbcType=INTEGER}
            </if>
            <if test="expectTime != null">
                AND expect_time = #{expectTime,jdbcType=TIMESTAMP}
            </if>
            <if test="finishTime != null">
                AND finish_time = #{finishTime,jdbcType=TIMESTAMP}
            </if>
            <if test="supplierExpectHour != null">
                AND supplier_expect_hour = #{supplierExpectHour,jdbcType=INTEGER}
            </if>
            <if test="supplierExpectTime != null">
                AND supplier_expect_time = #{supplierExpectTime,jdbcType=TIMESTAMP}
            </if>
            <if test="supplierId != null">
                AND supplier_id = #{supplierId,jdbcType=INTEGER}
            </if>
            <if test="reportUserId != null">
                AND report_user_id = #{reportUserId,jdbcType=INTEGER}
            </if>
            <if test="checkUserId != null">
                AND check_user_id = #{checkUserId,jdbcType=INTEGER}
            </if>
            <if test="chargeUserId != null">
                AND charge_user_id = #{chargeUserId,jdbcType=INTEGER}
            </if>
            <if test="isSpecial != null">
                AND is_special = #{isSpecial,jdbcType=BIT}
            </if>
            <if test="isExpress != null">
                AND is_express = #{isExpress,jdbcType=BIT}
            </if>
            <if test="dbIsUpDate != null">
                AND db_is_update = #{dbIsUpDate,jdbcType=BIT}
            </if>
            <if test="cpmIsUpdate != null">
                AND cpm_is_update = #{cpmIsUpdate,jdbcType=BIT}
            </if>
            <if test="remark != null and remark!=''">
                AND remark = #{remark,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>
    <sql id="conditionWithOrderDetailQuery">
        <where>
            <if test="id != null">
                AND id = #{id,jdbcType=BIGINT}
            </if>
            <if test="orderId != null">
                AND order_id = #{orderId,jdbcType=BIGINT}
            </if>
            <if test="crefoNo != null and crefoNo!=''">
                AND crefo_no = #{crefoNo,jdbcType=VARCHAR}
            </if>
            <if test="companyName != null and companyName!=''">
                AND company_name like CONCAT('%',#{companyName,jdbcType=VARCHAR},'%')
            </if>
            <if test="companyNameCN != null and companyNameCN!=''">
                AND company_namecn like CONCAT('%',#{companyNameCN,jdbcType=VARCHAR},'%')
            </if>
            <if test="companyNo != null and companyNo!=''">
                AND company_no = #{companyNo,jdbcType=VARCHAR}
            </if>
            <if test="price != null">
                AND price = #{price,jdbcType=DECIMAL}
            </if>
            <if test="priceActual != null">
                AND price_actual = #{priceActual,jdbcType=DECIMAL}
            </if>
            <if test="productId != null">
                AND product_id = #{productId,jdbcType=INTEGER}
            </if>
            <if test="reportLang != null">
                AND report_lang = #{reportLang,jdbcType=TINYINT}
            </if>
            <if test="status != null">
                AND status = #{status,jdbcType=TINYINT}
            </if>
            <if test="countryId != null">
                AND country_id = #{countryId,jdbcType=INTEGER}
            </if>
            <if test="countryName != null and countryName!=''">
                AND country_name = #{countryName,jdbcType=VARCHAR}
            </if>
            <if test="pathFile != null and pathFile!=''">
                AND path_file = #{pathFile,jdbcType=VARCHAR}
            </if>
            <if test="pathData != null and pathData!=''">
                AND path_data = #{pathData,jdbcType=VARCHAR}
            </if>
            <if test="pathDataFile != null and pathDataFile!=''">
                AND path_data_file = #{pathDataFile,jdbcType=VARCHAR}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="expectHour != null">
                AND expect_hour = #{expectHour,jdbcType=INTEGER}
            </if>
            <if test="expectTime != null">
                AND expect_time = #{expectTime,jdbcType=TIMESTAMP}
            </if>
            <if test="finishTime != null">
                AND finish_time = #{finishTime,jdbcType=TIMESTAMP}
            </if>
            <if test="supplierExpectHour != null">
                AND supplier_expect_hour = #{supplierExpectHour,jdbcType=INTEGER}
            </if>
            <if test="supplierExpectTime != null">
                AND supplier_expect_time = #{supplierExpectTime,jdbcType=TIMESTAMP}
            </if>
            <if test="supplierId != null">
                AND supplier_id = #{supplierId,jdbcType=INTEGER}
            </if>
            <if test="reportUserId != null">
                AND report_user_id = #{reportUserId,jdbcType=INTEGER}
            </if>
            <if test="checkUserId != null">
                AND check_user_id = #{checkUserId,jdbcType=INTEGER}
            </if>
            <if test="chargeUserId != null">
                AND charge_user_id = #{chargeUserId,jdbcType=INTEGER}
            </if>
            <if test="isSpecial != null">
                AND is_special = #{isSpecial,jdbcType=BIT}
            </if>
            <if test="isExpress != null">
                AND is_express = #{isExpress,jdbcType=BIT}
            </if>
            <if test="dbIsUpDate != null">
                AND db_is_update = #{dbIsUpDate,jdbcType=BIT}
            </if>
            <if test="cpmIsUpdate != null">
                AND cpm_is_update = #{cpmIsUpdate,jdbcType=BIT}
            </if>
            <if test="remark != null and remark!=''">
                AND remark = #{remark,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>
    <!--批量保存订单明细-->
    <insert id="saveBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        <foreach collection="list" item="orderDetail" index="index" separator=",">
            insert into order_detail
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="orderDetail.id != null">
                    id,
                </if>
                <if test="orderDetail.orderId != null">
                    order_id,
                </if>
                <if test="orderDetail.crefoNo != null and orderDetail.crefoNo != ''">
                    crefo_no,
                </if>
                <if test="orderDetail.companyName != null and orderDetail.companyName != ''">
                    company_name,
                </if>
                <if test="orderDetail.companyNameCN != null and orderDetail.companyNameCN != ''">
                    company_namecn,
                </if>
                <if test="orderDetail.companyNo != null and orderDetail.companyNo != ''">
                    company_no,
                </if>
                <if test="orderDetail.price != null">
                    price,
                </if>
                <if test="orderDetail.priceActual != null">
                    price_actual,
                </if>
                <if test="orderDetail.productId != null">
                    product_id,
                </if>
                <if test="orderDetail.reportLang != null">
                    report_lang,
                </if>
                <if test="orderDetail.status != null">
                    status,
                </if>
                <if test="orderDetail.countryId != null">
                    country_id,
                </if>
                <if test="orderDetail.countryName != null and orderDetail.countryName != ''">
                    country_name,
                </if>
                <if test="orderDetail.pathFile != null and orderDetail.pathFile != ''">
                    path_file,
                </if>
                <if test="orderDetail.pathData != null and orderDetail.pathData != ''">
                    path_data,
                </if>
                <if test="orderDetail.pathDataFile != null and orderDetail.pathDataFile != ''">
                    path_data_file,
                </if>
                <if test="orderDetail.updateTime != null">
                    update_time,
                </if>
                <if test="orderDetail.expectHour != null">
                    expect_hour,
                </if>
                <if test="orderDetail.expectTime != null">
                    expect_time,
                </if>
                <if test="orderDetail.finishTime != null">
                    finish_time,
                </if>
                <if test="orderDetail.supplierExpectHour != null">
                    supplier_expect_hour,
                </if>
                <if test="orderDetail.supplierExpectTime != null">
                    supplier_expect_time,
                </if>
                <if test="orderDetail.supplierId != null">
                    supplier_id,
                </if>
                <if test="orderDetail.reportUserId != null">
                    report_user_id,
                </if>
                <if test="orderDetail.checkUserId != null">
                    check_user_id,
                </if>
                <if test="orderDetail.chargeUserId != null">
                    charge_user_id,
                </if>
                <if test="orderDetail.isSpecial != null">
                    is_special,
                </if>
                <if test="orderDetail.isExpress != null">
                    is_express,
                </if>
                <if test="orderDetail.dbIsUpDate != null">
                    db_is_update,
                </if>
                <if test="orderDetail.cpmIsUpdate != null">
                    cpm_is_update,
                </if>
                <if test="orderDetail.remark != null and orderDetail.remark != ''">
                    remark,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="orderDetail.id != null">
                    #{orderDetail.id,jdbcType=BIGINT},
                </if>
                <if test="orderDetail.orderId != null">
                    #{orderDetail.orderId,jdbcType=BIGINT},
                </if>
                <if test="orderDetail.crefoNo != null and orderDetail.crefoNo != ''">
                    #{orderDetail.crefoNo,jdbcType=VARCHAR},
                </if>
                <if test="orderDetail.companyName != null and orderDetail.companyName != ''">
                    #{orderDetail.companyName,jdbcType=VARCHAR},
                </if>
                <if test="orderDetail.companyNameCN != null and orderDetail.companyNameCN != ''">
                    #{orderDetail.companyNameCN,jdbcType=VARCHAR},
                </if>
                <if test="orderDetail.companyNo != null and orderDetail.companyNo != ''">
                    #{orderDetail.companyNo,jdbcType=VARCHAR},
                </if>
                <if test="orderDetail.price != null">
                    #{orderDetail.price,jdbcType=DECIMAL},
                </if>
                <if test="orderDetail.priceActual != null">
                    #{orderDetail.priceActual,jdbcType=DECIMAL},
                </if>
                <if test="orderDetail.productId != null">
                    #{orderDetail.productId,jdbcType=INTEGER},
                </if>
                <if test="orderDetail.reportLang != null">
                    #{orderDetail.reportLang,jdbcType=TINYINT},
                </if>
                <if test="orderDetail.status != null">
                    #{orderDetail.status,jdbcType=INTEGER},
                </if>
                <if test="orderDetail.countryId != null">
                    #{orderDetail.countryId,jdbcType=INTEGER},
                </if>
                <if test="orderDetail.countryName != null and orderDetail.countryName != ''">
                    #{orderDetail.countryName,jdbcType=VARCHAR},
                </if>
                <if test="orderDetail.pathFile != null and orderDetail.pathFile != ''">
                    #{orderDetail.pathFile,jdbcType=VARCHAR},
                </if>
                <if test="orderDetail.pathData != null and orderDetail.pathData != ''">
                    #{orderDetail.pathData,jdbcType=VARCHAR},
                </if>
                <if test="orderDetail.pathDataFile != null and orderDetail.pathDataFile != ''">
                    #{orderDetail.pathDataFile,jdbcType=VARCHAR},
                </if>
                <if test="orderDetail.updateTime != null">
                    #{orderDetail.updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="orderDetail.expectHour != null">
                    #{orderDetail.expectHour,jdbcType=INTEGER},
                </if>
                <if test="orderDetail.expectTime != null">
                    #{orderDetail.expectTime,jdbcType=TIMESTAMP},
                </if>
                <if test="orderDetail.finishTime != null">
                    #{orderDetail.finishTime,jdbcType=TIMESTAMP},
                </if>
                <if test="orderDetail.supplierExpectHour != null">
                    #{orderDetail.supplierExpectHour,jdbcType=INTEGER},
                </if>
                <if test="orderDetail.supplierExpectTime != null">
                    #{orderDetail.supplierExpectTime,jdbcType=TIMESTAMP},
                </if>
                <if test="orderDetail.supplierId != null">
                    #{orderDetail.supplierId,jdbcType=INTEGER},
                </if>
                <if test="orderDetail.reportUserId != null">
                    #{orderDetail.reportUserId,jdbcType=INTEGER},
                </if>
                <if test="orderDetail.checkUserId != null">
                    #{orderDetail.checkUserId,jdbcType=INTEGER},
                </if>
                <if test="orderDetail.chargeUserId != null">
                    #{orderDetail.chargeUserId,jdbcType=INTEGER},
                </if>
                <if test="orderDetail.isSpecial != null">
                    #{orderDetail.isSpecial,jdbcType=BIT},
                </if>
                <if test="orderDetail.isExpress != null">
                    #{orderDetail.isExpress,jdbcType=BIT},
                </if>
                <if test="orderDetail.dbIsUpDate != null">
                    #{orderDetail.dbIsUpDate,jdbcType=BIT},
                </if>
                <if test="orderDetail.cpmIsUpdate != null">
                    #{orderDetail.cpmIsUpdate,jdbcType=BIT},
                </if>
                <if test="orderDetail.remark != null and orderDetail.remark != ''">
                    #{orderDetail.remark,jdbcType=VARCHAR},
                </if>
            </trim>
        </foreach>
    </insert>
    <select id="queryList" parameterType="com.mika.credit.common.entity.order.OrderDetail"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from order_detail
        <include refid="condition"/>
        ORDER BY id DESC
    </select>
    <select id="queryListByOrderDetailQuery" parameterType="com.mika.credit.common.entity.order.OrderDetailQuery"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from order_detail
        <include refid="conditionWithOrderDetailQuery"/>
        ORDER BY id DESC
    </select>
    <select id="findOrderDetailByOrderId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from order_detail where order_id=#{orderId}
    </select>
    <delete id="delete" parameterType="com.mika.credit.common.entity.order.OrderDetail">
        delete from order_detail
        <include refid="condition"/>
    </delete>
    <delete id="deleteById" parameterType="java.lang.Long">
        delete from order_detail
        where id = #{id}
    </delete>
    <delete id="deleteOrderDetailsByOrderId" parameterType="java.lang.Long">
        delete from order_detail
        where order_id = #{orderId}
    </delete>
    <select id="queryById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from order_detail where id=#{id}
    </select>
    <update id="updateSendProvider" parameterType="com.mika.credit.common.entity.order.OrderDetail">
        update order_detail
        <set>
            <if test="supplierExpectHour != null">
                supplier_expect_hour = #{supplierExpectHour,jdbcType=INTEGER},
            </if>
            <if test="supplierId != null">
                supplier_id = #{supplierId,jdbcType=INTEGER},
            </if>
            update_time=now()
        </set>
        <where>
            id=#{id,jdbcType=BIGINT}
        </where>
    </update>
    <update id="updateReceiveProvider" parameterType="com.mika.credit.common.entity.order.OrderDetail">
        update order_detail
        <set>
            <if test="supplierExpectTime != null">
                supplier_expect_time = #{supplierExpectTime,jdbcType=TIMESTAMP},
            </if>
            update_time=now()
        </set>
        <where>
            id=#{id,jdbcType=BIGINT}
        </where>
    </update>
    <update id="updateMake" parameterType="com.mika.credit.common.entity.order.OrderDetail">
        update order_detail
        <set>
            <if test="reportUserId != null">
                report_user_id = #{reportUserId,jdbcType=INTEGER},
            </if>
            update_time=now()
        </set>
        <where>
            id=#{id,jdbcType=BIGINT}
        </where>
    </update>
    <update id="updateStatus" parameterType="com.mika.credit.common.entity.order.OrderDetail">
        update order_detail
        <set>
            <if test="status!=null">
                status=#{status},
            </if>
            update_time=now()
        </set>
        <where>
            id=#{id,jdbcType=BIGINT}
        </where>
    </update>
    <update id="updateCheck" parameterType="com.mika.credit.common.entity.order.OrderDetail">
        update order_detail
        <set>
            <if test="checkUserId != null">
                check_user_id = #{checkUserId,jdbcType=INTEGER},
            </if>
            update_time=now()
        </set>
        <where>
            id=#{id,jdbcType=BIGINT}
        </where>
    </update>
    <update id="updateManger" parameterType="com.mika.credit.common.entity.order.OrderDetail">
        update order_detail
        <set>
            <if test="chargeUserId != null">
                charge_user_id = #{chargeUserId,jdbcType=INTEGER},
            </if>
            update_time=now()
        </set>
        <where>
            id=#{id,jdbcType=BIGINT}
        </where>
    </update>
    <update id="updateFinish" parameterType="com.mika.credit.common.entity.order.OrderDetail">
        update order_detail
        <set>
            <if test="finishTime != null">
                finish_time = #{finishTime,jdbcType=TIMESTAMP},
            </if>
            status=8,
            update_time=now()
        </set>
        <where>
            id=#{id,jdbcType=BIGINT}
        </where>
    </update>
    <select id="query" parameterType="com.mika.credit.common.entity.order.OrderDetail" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from order_detail
        <include refid="condition"/>
        ORDER BY id DESC limit 1
    </select>
    <update id="updateUpload" parameterType="com.mika.credit.common.entity.order.OrderDetail">
        update order_detail
        <set>
            <if test="pathFile != null and pathFile!=''">
                path_file = #{pathFile,jdbcType=VARCHAR},
            </if>
            status=8,
            update_time=now()
        </set>
        <where>
            id=#{id,jdbcType=BIGINT}
        </where>
    </update>
    <update id="updateDataUpload" parameterType="com.mika.credit.common.entity.order.OrderDetail">
        update order_detail
        <set>
            <if test="pathDataFile != null and pathDataFile!=''">
                path_data_file = #{pathDataFile,jdbcType=VARCHAR},
            </if>
            update_time=now()
        </set>
        <where>
            id=#{id,jdbcType=BIGINT}
        </where>
    </update>
    <update id="updateDataUrl" parameterType="com.mika.credit.common.entity.order.OrderDetail">
        update order_detail
        <set>
            <if test="pathData != null and pathData!=''">
                path_data = #{pathData,jdbcType=VARCHAR},
            </if>
            <if test="dbIsUpDate != null">
                db_is_update = #{dbIsUpDate,jdbcType=BIT},
            </if>
            <if test="cpmIsUpdate != null">
                cpm_is_update = #{cpmIsUpdate,jdbcType=BIT},
            </if>
            update_time=now()
        </set>
        <where>
            id=#{id,jdbcType=BIGINT}
        </where>
    </update>
    <update id="updateUrgent" parameterType="com.mika.credit.common.entity.order.OrderDetail">
        update order_detail
        <set>
            <if test="isExpress != null">
                is_express = #{isExpress,jdbcType=BIT},
            </if>
            update_time=now()
        </set>
        <where>
            id=#{id,jdbcType=BIGINT}
        </where>
    </update>
    <select id="queryTotal" resultType="java.lang.Integer"
            parameterType="com.mika.credit.common.entity.order.OrderDetail">
        select
        count(1)
        from order_detail
        <include refid="condition"/>
    </select>
    <select id="queryTotalByOrderDetailQuery" resultType="java.lang.Integer"
            parameterType="com.mika.credit.common.entity.order.OrderDetail">
        select
        count(1)
        from order_detail
        <include refid="conditionWithOrderDetailQuery"/>
    </select>
    <select id="queryTotalByOrderId" parameterType="java.lang.Long" resultType="java.lang.Integer">
        select
        count(1)
        from order_detail
        WHERE order_id = #{orderId,jdbcType=BIGINT}
    </select>
    <update id="updateBatch" parameterType="collection">
        <foreach collection="list" item="orderDetail">
            update order_detail
            <set>
                <if test="orderDetail.status!=null">
                    status=#{orderDetail.status},
                </if>
                <if test="orderDetail.finishTime!=null">
                    finish_time=#{orderDetail.finishTime},
                </if>
                <if test="orderDetail.expectTime!=null">
                    expect_time=#{orderDetail.expectTime},
                </if>
                update_time=now()
            </set>
            <where>
                id=#{orderDetail.id,jdbcType=BIGINT}
            </where>
        </foreach>
    </update>
</mapper>