<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mika.credit.facade.gugu.dao.ProvinceCodeMapper">
  <resultMap id="BaseResultMap" type="com.mika.credit.facade.gugu.model.ProvinceCode">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name_cn" jdbcType="VARCHAR" property="nameCn" />
    <result column="name_en" jdbcType="VARCHAR" property="nameEn" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
    <result column="c_id" jdbcType="VARCHAR" property="cId" />
    <result column="order_by" jdbcType="INTEGER" property="orderBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name_cn, name_en, del_flag, c_id, order_by
  </sql>
  <sql id="condition">
    <where>
      <if test="id != null and id != 0">
        and id = #{id,jdbcType=INTEGER}
      </if>
      <if test="nameCn != null">
        and name_cn = #{nameCn,jdbcType=VARCHAR}
      </if>
      <if test="nameEn != null">
        and name_en = #{nameEn,jdbcType=VARCHAR}
      </if>
      <if test="delFlag != null">
        and del_flag = #{delFlag,jdbcType=VARCHAR}
      </if>
      <if test="cId != null">
        and c_id = #{cId,jdbcType=VARCHAR}
      </if>
      <if test="orderBy != null">
        and order_by = #{orderBy,jdbcType=INTEGER}
      </if>
    </where>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from province_code
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKeySelective" parameterType="com.mika.credit.facade.gugu.model.ProvinceCode" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from province_code
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from province_code
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mika.credit.facade.gugu.model.ProvinceCode" useGeneratedKeys="true" keyProperty="id">
    insert into province_code (id, name_cn, name_en, 
      del_flag, c_id, order_by
      )
    values (#{id,jdbcType=INTEGER}, #{nameCn,jdbcType=VARCHAR}, #{nameEn,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=VARCHAR}, #{cId,jdbcType=VARCHAR}, #{orderBy,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mika.credit.facade.gugu.model.ProvinceCode" useGeneratedKeys="true" keyProperty="id">
    insert into province_code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="nameCn != null">
        name_cn,
      </if>
      <if test="nameEn != null">
        name_en,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="cId != null">
        c_id,
      </if>
      <if test="orderBy != null">
        order_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nameCn != null">
        #{nameCn,jdbcType=VARCHAR},
      </if>
      <if test="nameEn != null">
        #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="cId != null">
        #{cId,jdbcType=VARCHAR},
      </if>
      <if test="orderBy != null">
        #{orderBy,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mika.credit.facade.gugu.model.ProvinceCode">
    update province_code
    <set>
      <if test="nameCn != null">
        name_cn = #{nameCn,jdbcType=VARCHAR},
      </if>
      <if test="nameEn != null">
        name_en = #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="cId != null">
        c_id = #{cId,jdbcType=VARCHAR},
      </if>
      <if test="orderBy != null">
        order_by = #{orderBy,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mika.credit.facade.gugu.model.ProvinceCode">
    update province_code
    set name_cn = #{nameCn,jdbcType=VARCHAR},
      name_en = #{nameEn,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      c_id = #{cId,jdbcType=VARCHAR},
      order_by = #{orderBy,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>