<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mika.credit.facade.gugu.dao.ShareRecordMapper">
  <resultMap id="BaseResultMap" type="com.mika.credit.facade.gugu.model.ShareRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="share_platform" jdbcType="VARCHAR" property="sharePlatform" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="photo_path" jdbcType="VARCHAR" property="photoPath" />
  </resultMap>
  <sql id="Base_Column_List">
    id, update_time, share_platform, token, del_flag, create_time, photo_path
  </sql>
  <sql id="condition">
    <where>
      <if test="id != null and id != 0">
        and id = #{id,jdbcType=INTEGER}
      </if>
      <if test="updateTime != null">
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="sharePlatform != null">
        and share_platform = #{sharePlatform,jdbcType=VARCHAR}
      </if>
      <if test="token != null">
        and token = #{token,jdbcType=VARCHAR}
      </if>
      <if test="delFlag != null">
        and del_flag = #{delFlag,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="photoPath != null">
        and photo_path = #{photoPath,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from share_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKeySelective" parameterType="com.mika.credit.facade.gugu.model.ShareRecord" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from share_record
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from share_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mika.credit.facade.gugu.model.ShareRecord" useGeneratedKeys="true" keyProperty="id">
    insert into share_record (id, update_time, share_platform, 
      token, del_flag, create_time, 
      photo_path)
    values (#{id,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{sharePlatform,jdbcType=VARCHAR}, 
      #{token,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{photoPath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mika.credit.facade.gugu.model.ShareRecord" useGeneratedKeys="true" keyProperty="id">
    insert into share_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="sharePlatform != null">
        share_platform,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="photoPath != null">
        photo_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sharePlatform != null">
        #{sharePlatform,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="photoPath != null">
        #{photoPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mika.credit.facade.gugu.model.ShareRecord">
    update share_record
    <set>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sharePlatform != null">
        share_platform = #{sharePlatform,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="photoPath != null">
        photo_path = #{photoPath,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mika.credit.facade.gugu.model.ShareRecord">
    update share_record
    set update_time = #{updateTime,jdbcType=TIMESTAMP},
      share_platform = #{sharePlatform,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      photo_path = #{photoPath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>