<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mika.credit.facade.gugu.dao.TitlesMapper">
  <resultMap id="BaseResultMap" type="com.mika.credit.facade.gugu.model.Titles">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="title_content" jdbcType="VARCHAR" property="titleContent" />
    <result column="title_date" jdbcType="TIMESTAMP" property="titleDate" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="question_type" jdbcType="VARCHAR" property="questionType" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="photo_path1" jdbcType="VARCHAR" property="photoPath1" />
    <result column="photo_path2" jdbcType="VARCHAR" property="photoPath2" />
  </resultMap>
  <sql id="Base_Column_List">
    id, del_flag, status, title_content, title_date, user_id, question_type, email, phone, 
    photo_path1, photo_path2
  </sql>
  <sql id="condition">
    <where>
      <if test="id != null and id != 0">
        and id = #{id,jdbcType=INTEGER}
      </if>
      <if test="delFlag != null">
        and del_flag = #{delFlag,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="titleContent != null">
        and title_content = #{titleContent,jdbcType=VARCHAR}
      </if>
      <if test="titleDate != null">
        and title_date = #{titleDate,jdbcType=TIMESTAMP}
      </if>
      <if test="userId != null and userId != 0">
        and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="questionType != null">
        and question_type = #{questionType,jdbcType=VARCHAR}
      </if>
      <if test="email != null">
        and email = #{email,jdbcType=VARCHAR}
      </if>
      <if test="phone != null">
        and phone = #{phone,jdbcType=VARCHAR}
      </if>
      <if test="photoPath1 != null">
        and photo_path1 = #{photoPath1,jdbcType=VARCHAR}
      </if>
      <if test="photoPath2 != null">
        and photo_path2 = #{photoPath2,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from titles
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKeySelective" parameterType="com.mika.credit.facade.gugu.model.Titles" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from titles
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from titles
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mika.credit.facade.gugu.model.Titles" useGeneratedKeys="true" keyProperty="id">
    insert into titles (id, del_flag, status, 
      title_content, title_date, user_id, 
      question_type, email, phone, 
      photo_path1, photo_path2)
    values (#{id,jdbcType=INTEGER}, #{delFlag,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{titleContent,jdbcType=VARCHAR}, #{titleDate,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, 
      #{questionType,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{photoPath1,jdbcType=VARCHAR}, #{photoPath2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mika.credit.facade.gugu.model.Titles" useGeneratedKeys="true" keyProperty="id">
    insert into titles
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="titleContent != null">
        title_content,
      </if>
      <if test="titleDate != null">
        title_date,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="questionType != null">
        question_type,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="photoPath1 != null">
        photo_path1,
      </if>
      <if test="photoPath2 != null">
        photo_path2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="titleContent != null">
        #{titleContent,jdbcType=VARCHAR},
      </if>
      <if test="titleDate != null">
        #{titleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="questionType != null">
        #{questionType,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="photoPath1 != null">
        #{photoPath1,jdbcType=VARCHAR},
      </if>
      <if test="photoPath2 != null">
        #{photoPath2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mika.credit.facade.gugu.model.Titles">
    update titles
    <set>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="titleContent != null">
        title_content = #{titleContent,jdbcType=VARCHAR},
      </if>
      <if test="titleDate != null">
        title_date = #{titleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="questionType != null">
        question_type = #{questionType,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="photoPath1 != null">
        photo_path1 = #{photoPath1,jdbcType=VARCHAR},
      </if>
      <if test="photoPath2 != null">
        photo_path2 = #{photoPath2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mika.credit.facade.gugu.model.Titles">
    update titles
    set del_flag = #{delFlag,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      title_content = #{titleContent,jdbcType=VARCHAR},
      title_date = #{titleDate,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      question_type = #{questionType,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      photo_path1 = #{photoPath1,jdbcType=VARCHAR},
      photo_path2 = #{photoPath2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>