<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mika.credit.facade.admin.dao.admin.DeptMapper">
    <resultMap id="deptMap" type="com.mika.credit.facade.admin.model.Dept">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="pid" property="pid" jdbcType="VARCHAR"/>
        <result column="lev" property="lev" jdbcType="INTEGER"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="chief" property="chief" jdbcType="VARCHAR"/>
        <result column="job" property="job" jdbcType="VARCHAR"/>

        <association property="corp" column="corp_id" fetchType="eager" javaType="com.mika.credit.facade.admin.model.Corp"
                     select="com.mika.credit.facade.admin.dao.admin.CorpMapper.queryById">
        </association>
        <association property="corpType" column="corp_type_id"  fetchType="eager" javaType="com.mika.credit.facade.admin.model.CorpType"
                     select="com.mika.credit.facade.admin.dao.admin.CorpTypeMapper.queryById">
        </association>
    </resultMap>
    <sql id="Base_Column_List">
        id, corp_id,corp_type_id, pid, lev, code, name, chief, job
    </sql>
    <sql id="condition">
        <where>
            <if test="id != null and id != ''">
                and id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="corp != null and corp.id != null and corp.id != ''">
                and corp_id =#{corp.id,jdbcType=VARCHAR}
            </if>
            <if test="corpType != null and corpType.id != null and corpType.id != ''">
                and corp_type_id =#{corpType.id,jdbcType=VARCHAR}
            </if>
            <if test="lev !=null">
                and lev = #{lev,jdbcType=INTEGER}
            </if>
            <if test="code !=null and code != ''">
                and code = #{code,jdbcType=VARCHAR}
            </if>
            <if test="name !=null and name != ''">
                and name= #{name,jdbcType=VARCHAR}
            </if>
            <if test="chief !=null and chief != ''">
                and chief=#{chief,jdbcType=VARCHAR}
            </if>
            <if test="job !=null and job != ''">
                and job = #{job,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <select id="queryList" resultMap="deptMap" parameterType="com.mika.credit.facade.admin.model.Dept">
        select
        <include refid="Base_Column_List"/>
        from s_dept
        <include refid="condition"/>
    </select>

    <select id="queryById" resultMap="deptMap" parameterType="java.lang.String">
    select *
    from s_dept
    where id = #{id}
  </select>

    <select id="queryAll" resultMap="deptMap">
    select *
    from s_dept
  </select>

    <insert id="save" parameterType="com.mika.credit.facade.admin.model.Dept" keyProperty="id" useGeneratedKeys="true">
  	insert into s_dept(id,corp_id,corp_type_id,pid,lev,code,name,chief,job)
  	values(#{id},#{corp.id},#{corpType.id},#{pid},#{lev},#{code},#{name},#{chief},#{job})
  </insert>

    <update id="update" parameterType="com.mika.credit.facade.admin.model.Dept">
  	update s_dept set
  	corp_id=#{corp.id,jdbcType=VARCHAR},
  	corp_type_id=#{corpType.id,jdbcType=VARCHAR},
  	pid=#{pid,jdbcType=VARCHAR},
  	lev=#{lev,jdbcType=INTEGER},
  	code=#{code,jdbcType=VARCHAR},
  	name=#{name,jdbcType=VARCHAR},
  	chief=#{chief,jdbcType=VARCHAR},
    job=#{job,jdbcType=VARCHAR}
  	where id = #{id,jdbcType=VARCHAR}
  </update>

    <update id="updateByIdSelective" parameterType="com.mika.credit.facade.admin.model.Dept">
        update s_dept
        <set>
            <if test="corp != null and corp.id != null and corp.id != ''">
                corp_id =#{corp.id,jdbcType=VARCHAR},
            </if>
            <if test="corpType != null and corpType.id != null and corpType.id != ''">
                corp_type_id =#{corpType.id,jdbcType=VARCHAR},
            </if>
            <if test="lev !=null">
                lev = #{lev,jdbcType=INTEGER},
            </if>
            <if test="code !=null and code != ''">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="name !=null and name != ''">
                name= #{name,jdbcType=VARCHAR},
            </if>
            <if test="chief !=null and chief != ''">
                chief=#{chief,jdbcType=VARCHAR},
            </if>
            <if test="job !=null and job != ''">
                job = #{job,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="deleteById" parameterType="java.lang.String">
  	delete from s_dept where id=#{id}
  </delete>

    <select id="selectCountByCorp" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1) from s_dept c where c.corp_id = #{id}
    </select>
</mapper>