<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mika.credit.facade.admin.dao.admin.HelpMapper">
  <resultMap id="BaseResultMap" type="com.mika.credit.facade.admin.model.Help">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="source" jdbcType="TINYINT" property="source" />
    <association property="cate" column="cate_id" fetchType="eager" select="com.mika.credit.facade.admin.dao.admin.HelpCateMapper.selectByPrimaryKey"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, cate_id, title, content, source
  </sql>
  <sql id="condition">
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=INTEGER}
      </if>
      <if test="cate != null and cate.id != null and cate.id != 0">
        and cate_id = #{cate.id,jdbcType=INTEGER}
      </if>
      <if test="title != null and title !=''">
        and title = #{title,jdbcType=VARCHAR}
      </if>
      <if test="content != null">
        and content = #{content,jdbcType=VARCHAR}
      </if>
      <if test="source != null and source != 0">
        and source = #{source,jdbcType=TINYINT}
      </if>
    </where>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_help
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectSelective" parameterType="com.mika.credit.facade.admin.model.Help" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from s_help
    <include refid="condition"/>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from s_help
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mika.credit.facade.admin.model.Help" keyProperty="id" useGeneratedKeys="true">
    insert into s_help (id, cate_id, title, 
      content, source)
    values (#{id,jdbcType=INTEGER}, #{cate.id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR},
      #{content,jdbcType=VARCHAR}, #{source,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.mika.credit.facade.admin.model.Help" keyProperty="id" useGeneratedKeys="true">
    insert into s_help
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cate != null and cate.id != null and cate.id != 0">
        cate_id,
      </if>
      <if test="title != null and title !=''">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="source != null and source != 0">
        source,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cate != null and cate.id != null and cate.id != 0">
        #{cate.id,jdbcType=INTEGER},
      </if>
      <if test="title != null and title !=''">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="source != null and source != 0">
        #{source,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mika.credit.facade.admin.model.Help">
    update s_help
    <set>
      <if test="cate != null and cate.id != null and cate.id != 0">
        cate_id = #{cate.id,jdbcType=INTEGER},
      </if>
      <if test="title != null and title !=''">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="source != null and source != 0">
        source = #{source,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mika.credit.facade.admin.model.Help">
    update s_help
    set cate_id = #{cate.id,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      source = #{source,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectCountByCate" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(1) from s_help c where c.cate_id = #{id}
  </select>
</mapper>