<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mika.credit.facade.front.en.dao.impl.BankInfosDaoImpl" >
  <cache eviction="LRU" type="com.mika.credit.common.core.mybatis.cache.redis.sharded.MybatiesRedisCache" />
  <resultMap id="BaseResultMap" type="com.mika.credit.common.entity.report.en.BankInfos" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="bank_code" property="bankCode" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="crefo_no" property="crefoNo" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    <result column="house_number" property="houseNumber" jdbcType="VARCHAR" />
    <result column="postal_code" property="postalCode" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="street" property="street" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="full_report_id" property="fullReportId" jdbcType="INTEGER" />
  </resultMap>

  <sql id="table">bank_infos</sql>

  <sql id="Base_Column_List" >
    id, address, bank_code, city, crefo_no, del_flag, house_number, postal_code, province,
    street, update_time, name,full_report_id
  </sql>

  <sql id="condition_sql">
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="address != null" >
      and address = #{address,jdbcType=VARCHAR}
    </if>
    <if test="bankCode != null" >
      and bank_code = #{bankCode,jdbcType=VARCHAR}
    </if>
    <if test="city != null" >
      and city = #{city,jdbcType=VARCHAR}
    </if>
    <if test="crefoNo != null" >
      and crefo_no = #{crefoNo,jdbcType=VARCHAR}
    </if>
    <if test="delFlag != null" >
      and del_flag = #{delFlag,jdbcType=VARCHAR}
    </if>
    <if test="houseNumber != null" >
      and house_number = #{houseNumber,jdbcType=VARCHAR}
    </if>
    <if test="postalCode != null" >
      and postal_code = #{postalCode,jdbcType=VARCHAR}
    </if>
    <if test="province != null" >
      and province = #{province,jdbcType=VARCHAR}
    </if>
    <if test="street != null" >
      and street = #{street,jdbcType=VARCHAR}
    </if>
    <if test="updateTime != null" >
      and update_time = #{updateTime,jdbcType=VARCHAR}
    </if>
    <if test="name != null" >
      and name = #{name,jdbcType=VARCHAR}
    </if>
    <if test="fullReportId != null" >
      and full_report_id = #{fullReportId,jdbcType=INTEGER}
    </if>
  </sql>

  <select id="getById" parameterType="Integer" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    where id = #{id}
  </select>

  <select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
  </select>

  <select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
    <![CDATA[ order by ID desc]]>
  </select>

  <select id="listPageCount" parameterType="java.util.Map" resultType="Integer">
    select count(1) from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
  </select>

  <insert id="insert" parameterType="com.mika.credit.common.entity.report.en.BankInfos" keyProperty="id" useGeneratedKeys="true">
    insert into
    <include refid="table" />
    (id, address, bank_code,
    city, crefo_no, del_flag,
    house_number, postal_code, province,
    street, update_time, name,full_report_id
    )
    values (#{id,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{bankCode,jdbcType=VARCHAR},
    #{city,jdbcType=VARCHAR}, #{crefoNo,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR},
    #{houseNumber,jdbcType=VARCHAR}, #{postalCode,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR},
    #{street,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},#{fullReportId,jdbcType=INTEGER})
  </insert>

  <insert id="batchInsert" parameterType="java.util.List">
    insert into
    <include refid="table" />
    (id, address, bank_code,
    city, crefo_no, del_flag,
    house_number, postal_code, province,
    street, update_time, name,full_report_id
    )
    values
    <foreach collection ="list" item="bankInfos" index= "index" separator =",">
      (#{bankInfos.id,jdbcType=INTEGER}, #{bankInfos.address,jdbcType=VARCHAR}, #{bankInfos.bankCode,jdbcType=VARCHAR},
      #{bankInfos.city,jdbcType=VARCHAR}, #{bankInfos.crefoNo,jdbcType=VARCHAR}, #{bankInfos.delFlag,jdbcType=VARCHAR},
      #{bankInfos.houseNumber,jdbcType=VARCHAR}, #{bankInfos.postalCode,jdbcType=VARCHAR}, #{bankInfos.province,jdbcType=VARCHAR},
      #{bankInfos.street,jdbcType=VARCHAR}, #{bankInfos.updateTime,jdbcType=VARCHAR}, #{bankInfos.name,jdbcType=VARCHAR},#{bankInfos.fullReportId,jdbcType=INTEGER})
    </foreach >
  </insert>

  <delete id="deleteById" parameterType="Integer" >
    delete from
    <include refid="table" />
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <update id="update" parameterType="com.mika.credit.common.entity.report.en.BankInfos" >
    update bank_infos
    set address = #{address,jdbcType=VARCHAR},
      bank_code = #{bankCode,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      crefo_no = #{crefoNo,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      house_number = #{houseNumber,jdbcType=VARCHAR},
      postal_code = #{postalCode,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      street = #{street,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
	full_report_id = #{fullReportId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertSelective" parameterType="com.mika.credit.common.entity.report.en.BankInfos" >
    insert into bank_infos
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="bankCode != null" >
        bank_code,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="crefoNo != null" >
        crefo_no,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="houseNumber != null" >
        house_number,
      </if>
      <if test="postalCode != null" >
        postal_code,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="street != null" >
        street,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="fullReportId != null" >
        full_report_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null" >
        #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="crefoNo != null" >
        #{crefo_no,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="houseNumber != null" >
        #{houseNumber,jdbcType=VARCHAR},
      </if>
      <if test="postalCode != null" >
        #{postalCode,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        #{street,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="fullReportId != null" >
        #{fullReportId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateSelective" parameterType="com.mika.credit.common.entity.report.en.BankInfos" >
    update bank_infos
    <set >
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null" >
        bank_code = #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="crefoNo != null" >
        crefo_no = #{crefoNo,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="houseNumber != null" >
        house_number = #{houseNumber,jdbcType=VARCHAR},
      </if>
      <if test="postalCode != null" >
        postal_code = #{postalCode,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        street = #{street,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="fullReportId != null" >
        full_report_id = #{fullReportId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>