<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mika.credit.facade.front.en.dao.impl.JsonReportDaoImpl">
  <cache eviction="LRU" type="com.mika.credit.common.core.mybatis.cache.redis.sharded.MybatiesRedisCache" />
  <resultMap id="BaseResultMap" type="com.mika.credit.facade.front.en.entity.JsonReport">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="report_type" jdbcType="VARCHAR" property="reportType" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="request_time" jdbcType="TIMESTAMP" property="requestTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="request_json" jdbcType="LONGVARCHAR" property="requestJson" />
    <result column="response_json" jdbcType="LONGVARCHAR" property="responseJson" />
  </resultMap>
  <sql id="Base_Column_List">
    id, country, company_id, report_type, language, ip, create_time, request_time, update_time,request_json,response_json
  </sql>
  <select id="listBy" parameterType="com.mika.credit.facade.front.en.entity.JsonReport" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from json_report
    where company_id = #{companyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from json_report
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mika.credit.facade.front.en.entity.JsonReport">
    insert into json_report
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="reportType != null">
        report_type,
      </if>
      <if test="language != null">
        language,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="requestTime != null">
        request_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="requestJson != null">
        request_json,
      </if>
      <if test="responseJson != null">
        response_json,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="reportType != null">
        #{reportType,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="requestTime != null">
        #{requestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="requestJson != null">
        #{requestJson,jdbcType=LONGVARCHAR},
      </if>
      <if test="responseJson != null">
        #{responseJson,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.mika.credit.facade.front.en.entity.JsonReport">
    update json_report
    <set>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="reportType != null">
        report_type = #{reportType,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="requestTime != null">
        request_time = #{requestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="requestJson != null">
        request_json = #{requestJson,jdbcType=LONGVARCHAR},
      </if>
      <if test="responseJson != null">
        response_json = #{responseJson,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>