<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mika.credit.facade.front.en.dao.impl.MediaRecordsDaoImpl" >
  <cache eviction="LRU" type="com.mika.credit.common.core.mybatis.cache.redis.sharded.MybatiesRedisCache" />
  <resultMap id="BaseResultMap" type="com.mika.credit.common.entity.report.en.MediaRecords" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="crefo_no" property="crefoNo" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    <result column="detail_cn" property="detailCN" jdbcType="VARCHAR" />
    <result column="detail_en" property="detailEN" jdbcType="VARCHAR" />
    <result column="mtid" property="mtid" jdbcType="VARCHAR" />
    <result column="osid" property="osid" jdbcType="VARCHAR" />
    <result column="supplier_num" property="supplierNum" jdbcType="VARCHAR" />
    <result column="full_report_id" property="fullReportId" jdbcType="INTEGER" />
  </resultMap>

  <sql id="table"> media_records </sql>

  <sql id="Base_Column_List" >
    id, crefo_no, date, del_flag, detail_cn, detail_en, mtid, osid, supplier_num,full_report_id
  </sql>

  <sql id="condition_sql">
  <if test="id != null" >
    and id = #{id,jdbcType=INTEGER}
  </if>
    <if test="crefoNo != null" >
      and crefo_no = #{crefoNo,jdbcType=VARCHAR}
    </if>
    <if test="date != null" >
      and date = #{date,jdbcType=VARCHAR}
    </if>
    <if test="delFlag != null" >
      and del_flag = #{delFlag,jdbcType=VARCHAR}
    </if>
    <if test="detailCN != null" >
      and detail_cn = #{detailCN,jdbcType=VARCHAR}
    </if>
    <if test="detailEN != null" >
      and detail_en = #{detailEN,jdbcType=VARCHAR}
    </if>
    <if test="mtid != null" >
      and mtid = #{mtid,jdbcType=VARCHAR}
    </if>
    <if test="osid != null" >
      and osid = #{osid,jdbcType=VARCHAR}
    </if>
    <if test="supplierNum != null" >
      and supplier_num = #{supplierNum,jdbcType=VARCHAR}
    </if>
    <if test="fullReportId != null" >
      and full_report_id = #{fullReportId,jdbcType=INTEGER}
    </if>
  </sql>

  <select id="getById" parameterType="Integer" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    where id = #{id}
  </select>

  <select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
  </select>

  <select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
    <![CDATA[ order by ID desc]]>
  </select>

  <select id="listPageCount" parameterType="java.util.Map" resultType="Integer">
    select count(1) from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
  </select>

  <insert id="insert" parameterType="com.mika.credit.common.entity.report.en.MediaRecords" keyProperty="id" useGeneratedKeys="true">
    insert into
    <include refid="table" />
    (id, crefo_no, date,
    del_flag, detail_cn, detail_en,
    mtid, osid, supplier_num,full_report_id
    )
    values (#{id,jdbcType=INTEGER}, #{crefoNo,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR},
    #{delFlag,jdbcType=VARCHAR}, #{detailCN,jdbcType=VARCHAR}, #{detailEN,jdbcType=VARCHAR},
    #{mtid,jdbcType=VARCHAR}, #{osid,jdbcType=VARCHAR}, #{supplierNum,jdbcType=VARCHAR},#{fullReportId,jdbcType=INTEGER})
  </insert>

  <insert id="batchInsert" parameterType="java.util.List">
    insert into
    <include refid="table" />
    (id, crefo_no, date,
    del_flag, detail_cn, detail_en,
    mtid, osid, supplier_num,full_report_id
    )
    values
    <foreach collection ="list" item="mediaRecords" index= "index" separator =",">
      (#{mediaRecords.id,jdbcType=INTEGER}, #{mediaRecords.crefoNo,jdbcType=VARCHAR}, #{mediaRecords.date,jdbcType=VARCHAR},
      #{mediaRecords.delFlag,jdbcType=VARCHAR}, #{mediaRecords.detailCN,jdbcType=VARCHAR}, #{mediaRecords.detailEN,jdbcType=VARCHAR},
      #{mediaRecords.mtid,jdbcType=VARCHAR}, #{mediaRecords.osid,jdbcType=VARCHAR}, #{mediaRecords.supplierNum,jdbcType=VARCHAR},#{mediaRecords.fullReportId,jdbcType=INTEGER})
    </foreach >
  </insert>

  <delete id="deleteById" parameterType="Integer" >
    delete from
    <include refid="table" />
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <update id="update" parameterType="com.mika.credit.common.entity.report.en.MediaRecords" >
        update media_records
    set crefo_no = #{crefoNo,jdbcType=VARCHAR},
      date = #{date,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      detail_cn = #{detailCN,jdbcType=VARCHAR},
      detail_en = #{detailEN,jdbcType=VARCHAR},
      mtid = #{mtid,jdbcType=VARCHAR},
      osid = #{osid,jdbcType=VARCHAR},
      supplier_num = #{supplierNum,jdbcType=VARCHAR},
	full_report_id = #{fullReportId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertSelective" parameterType="com.mika.credit.common.entity.report.en.MediaRecords" >
    insert into media_records
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="crefoNo != null" >
        crefo_no,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="detailCN != null" >
        detail_cn,
      </if>
      <if test="detailEN != null" >
        detail_en,
      </if>
      <if test="mtid != null" >
        mtid,
      </if>
      <if test="osid != null" >
        osid,
      </if>
      <if test="supplierNum != null" >
        supplier_num,
      </if>
      <if test="fullReportId != null" >
        full_report_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="crefoNo != null" >
        #{crefoNo,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="detailCN != null" >
        #{detailCN,jdbcType=VARCHAR},
      </if>
      <if test="detailEN != null" >
        #{detailEN,jdbcType=VARCHAR},
      </if>
      <if test="mtid != null" >
        #{mtid,jdbcType=VARCHAR},
      </if>
      <if test="osid != null" >
        #{osid,jdbcType=VARCHAR},
      </if>
      <if test="supplierNum != null" >
        #{supplierNum,jdbcType=VARCHAR},
      </if>
      <if test="fullReportId != null" >
        #{fullReportId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateSelective" parameterType="com.mika.credit.common.entity.report.en.MediaRecords" >
    update media_records
    <set >
      <if test="crefoNo != null" >
        crefo_no = #{crefoNo,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="detailCN != null" >
        detail_cn = #{detailCN,jdbcType=VARCHAR},
      </if>
      <if test="detailEN != null" >
        detail_en = #{detailEN,jdbcType=VARCHAR},
      </if>
      <if test="mtid != null" >
        mtid = #{mtid,jdbcType=VARCHAR},
      </if>
      <if test="osid != null" >
        osid = #{osid,jdbcType=VARCHAR},
      </if>
      <if test="supplierNum != null" >
        supplier_num = #{supplierNum,jdbcType=VARCHAR},
      </if>
      <if test="fullReportId != null" >
        full_report_id = #{fullReportId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>