<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mika.credit.facade.front.en.dao.impl.PaymentHistoriesDaoImpl" >
  <cache eviction="LRU" type="com.mika.credit.common.core.mybatis.cache.redis.sharded.MybatiesRedisCache" />
  <resultMap id="BaseResultMap" type="com.mika.credit.common.entity.report.en.PaymentHistories" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="crefo_no" property="crefoNo" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    <result column="term" property="term" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="pay_history" property="payHistory" jdbcType="LONGVARCHAR" />
    <result column="pay_info" property="payInfo" jdbcType="LONGVARCHAR" />
    <result column="full_report_id" property="fullReportId" jdbcType="INTEGER" />
  </resultMap>

  <sql id="table"> payment_histories </sql>

  <sql id="Base_Column_List" >
    id, crefo_no, del_flag, term, update_time,
    pay_history, pay_info,full_report_id
  </sql>

  <sql id="condition_sql">
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="crefoNo != null" >
      and crefo_no = #{crefoNo,jdbcType=VARCHAR}
    </if>
    <if test="delFlag != null" >
      and del_flag = #{delFlag,jdbcType=VARCHAR}
    </if>
    <if test="term != null" >
      and term = #{term,jdbcType=VARCHAR}
    </if>
    <if test="updateTime != null" >
      and update_time = #{updateTime,jdbcType=VARCHAR}
    </if>
    <if test="payHistory != null" >
      and pay_history = #{payHistory,jdbcType=LONGVARCHAR}
    </if>
    <if test="payInfo != null" >
      and pay_info = #{payInfo,jdbcType=LONGVARCHAR}
    </if>
    <if test="fullReportId != null" >
      and full_report_id = #{fullReportId,jdbcType=INTEGER}
    </if>
  </sql>

  <select id="getById" parameterType="Integer" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    where id = #{id}
  </select>

  <select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
  </select>

  <select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
    <![CDATA[ order by ID desc]]>
  </select>

  <select id="listPageCount" parameterType="java.util.Map" resultType="Integer">
    select count(1) from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
  </select>

  <insert id="insert" parameterType="com.mika.credit.common.entity.report.en.PaymentHistories" keyProperty="id" useGeneratedKeys="true">
    insert into
    <include refid="table" />
    (id, crefo_no, del_flag,
    term, update_time, pay_history,
    pay_info,full_report_id)
    values (#{id,jdbcType=INTEGER}, #{crefoNo,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR},
    #{term,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, #{payHistory,jdbcType=LONGVARCHAR},
    #{payInfo,jdbcType=LONGVARCHAR},#{fullReportId,jdbcType=INTEGER})
  </insert>

  <insert id="batchInsert" parameterType="java.util.List">
    insert into
    <include refid="table" />
    (id, crefo_no, del_flag,
    term, update_time, pay_history,
    pay_info,full_report_id)
    values
    <foreach collection ="list" item="paymentHistories" index= "index" separator =",">
      (#{paymentHistories.id,jdbcType=INTEGER}, #{paymentHistories.crefoNo,jdbcType=VARCHAR}, #{paymentHistories.delFlag,jdbcType=VARCHAR},
      #{paymentHistories.term,jdbcType=VARCHAR}, #{paymentHistories.updateTime,jdbcType=VARCHAR}, #{paymentHistories.payHistory,jdbcType=LONGVARCHAR},
      #{paymentHistories.payInfo,jdbcType=LONGVARCHAR},#{paymentHistories.fullReportId,jdbcType=INTEGER})
    </foreach >
  </insert>

  <delete id="deleteById" parameterType="Integer" >
    delete from
    <include refid="table" />
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <update id="update" parameterType="com.mika.credit.common.entity.report.en.PaymentHistories" >
    update payment_histories
    set crefo_no = #{crefoNo,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      term = #{term,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      pay_history = #{payHistory,jdbcType=LONGVARCHAR},
      pay_info = #{payInfo,jdbcType=LONGVARCHAR},
	full_report_id = #{fullReportId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertSelective" parameterType="com.mika.credit.common.entity.report.en.PaymentHistories" >
    insert into payment_histories
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="crefoNo != null" >
        crefo_no,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="term != null" >
        term,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="payHistory != null" >
        pay_history,
      </if>
      <if test="payInfo != null" >
        pay_info,
      </if>
      <if test="fullReportId != null" >
        full_report_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="crefoNo != null" >
        #{crefoNo,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="term != null" >
        #{term,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="payHistory != null" >
        #{payHistory,jdbcType=LONGVARCHAR},
      </if>
      <if test="payInfo != null" >
        #{payInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="fullReportId != null" >
        #{fullReportId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateSelective" parameterType="com.mika.credit.common.entity.report.cn.Ajlc" >
    update payment_histories
    <set >
      <if test="crefoNo != null" >
        crefo_no = #{crefoNo,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="term != null" >
        term = #{term,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="payHistory != null" >
        pay_history = #{payHistory,jdbcType=LONGVARCHAR},
      </if>
      <if test="payInfo != null" >
        pay_info = #{payInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="fullReportId != null" >
        full_report_id = #{fullReportId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>