<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mika.credit.facade.front.en.dao.impl.PublicRecordsDaoImpl" >
  <cache eviction="LRU" type="com.mika.credit.common.core.mybatis.cache.redis.sharded.MybatiesRedisCache" />
  <resultMap id="BaseResultMap" type="com.mika.credit.common.entity.report.en.PublicRecords" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="VARCHAR" />
    <result column="crefo_no" property="crefoNo" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    <result column="filed_by" property="filedBy" jdbcType="VARCHAR" />
    <result column="filed_date" property="filedDate" jdbcType="VARCHAR" />
    <result column="filing_type" property="filingType" jdbcType="VARCHAR" />
    <result column="fling_number" property="flingNumber" jdbcType="VARCHAR" />
    <result column="jurisdiction" property="jurisdiction" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="public_note" property="publicNote" jdbcType="LONGVARCHAR" />
    <result column="full_report_id" property="fullReportId" jdbcType="INTEGER" />
  </resultMap>

  <sql id="table"> public_records </sql>

  <sql id="Base_Column_List" >
    id, amount, crefo_no, del_flag, filed_by, filed_date, filing_type, fling_number, 
    jurisdiction, status, update_time,
    public_note,full_report_id
  </sql>

  <sql id="condition_sql">
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="amount != null" >
      and amount = #{amount,jdbcType=VARCHAR}
    </if>
    <if test="crefoNo != null" >
      and crefo_no = #{crefoNo,jdbcType=VARCHAR}
    </if>
    <if test="delFlag != null" >
      and del_flag = #{delFlag,jdbcType=VARCHAR}
    </if>
    <if test="filedBy != null" >
      and filed_by = #{filedBy,jdbcType=VARCHAR}
    </if>
    <if test="filedDate != null" >
      and filed_date = #{filedDate,jdbcType=VARCHAR}
    </if>
    <if test="filingType != null" >
      and filing_type = #{filingType,jdbcType=VARCHAR}
    </if>
    <if test="flingNumber != null" >
      and fling_number = #{flingNumber,jdbcType=VARCHAR}
    </if>
    <if test="jurisdiction != null" >
      and jurisdiction = #{jurisdiction,jdbcType=VARCHAR}
    </if>
    <if test="status != null" >
      and status = #{status,jdbcType=VARCHAR}
    </if>
    <if test="updateTime != null" >
      and update_time = #{updateTime,jdbcType=VARCHAR}
    </if>
    <if test="publicNote != null" >
      and public_note = #{publicNote,jdbcType=LONGVARCHAR}
    </if>
    <if test="fullReportId != null" >
      and full_report_id = #{fullReportId,jdbcType=INTEGER}
    </if>
  </sql>

  <select id="getById" parameterType="Integer" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    where id = #{id}
  </select>

  <select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
  </select>

  <select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
    <![CDATA[ order by ID desc]]>
  </select>

  <select id="listPageCount" parameterType="java.util.Map" resultType="Integer">
    select count(1) from
    <include refid="table" />
    <where>
      <include refid="condition_sql" />
    </where>
  </select>

  <insert id="insert" parameterType="com.mika.credit.common.entity.report.en.PublicRecords" keyProperty="id" useGeneratedKeys="true">
    insert into
    <include refid="table" />
    (id, amount, crefo_no,
    del_flag, filed_by, filed_date,
    filing_type, fling_number, jurisdiction,
    status, update_time, public_note,full_report_id
    )
    values (#{id,jdbcType=INTEGER}, #{amount,jdbcType=VARCHAR}, #{crefoNo,jdbcType=VARCHAR},
    #{delFlag,jdbcType=VARCHAR}, #{filedBy,jdbcType=VARCHAR}, #{filedDate,jdbcType=VARCHAR},
    #{filingType,jdbcType=VARCHAR}, #{flingNumber,jdbcType=VARCHAR}, #{jurisdiction,jdbcType=VARCHAR},
    #{status,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, #{publicNote,jdbcType=LONGVARCHAR},
    #{fullReportId,jdbcType=INTEGER})
  </insert>

  <insert id="batchInsert" parameterType="java.util.List">
    insert into
    <include refid="table" />
    (id, amount, crefo_no,
    del_flag, filed_by, filed_date,
    filing_type, fling_number, jurisdiction,
    status, update_time, public_note,full_report_id
    )
    values
    <foreach collection ="list" item="publicRecords" index= "index" separator =",">
      (#{publicRecords.id,jdbcType=INTEGER}, #{publicRecords.amount,jdbcType=VARCHAR}, #{publicRecords.crefoNo,jdbcType=VARCHAR},
      #{publicRecords.delFlag,jdbcType=VARCHAR}, #{publicRecords.filedBy,jdbcType=VARCHAR}, #{publicRecords.filedDate,jdbcType=VARCHAR},
      #{publicRecords.filingType,jdbcType=VARCHAR}, #{publicRecords.flingNumber,jdbcType=VARCHAR}, #{publicRecords.jurisdiction,jdbcType=VARCHAR},
      #{publicRecords.status,jdbcType=VARCHAR}, #{publicRecords.updateTime,jdbcType=VARCHAR}, #{publicRecords.publicNote,jdbcType=LONGVARCHAR},
      #{publicRecords.fullReportId,jdbcType=INTEGER})
    </foreach >
  </insert>

  <delete id="deleteById" parameterType="Integer" >
    delete from
    <include refid="table" />
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <update id="update" parameterType="com.mika.credit.common.entity.report.en.PublicRecords" >
    update public_records
    set amount = #{amount,jdbcType=VARCHAR},
      crefo_no = #{crefoNo,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      filed_by = #{filedBy,jdbcType=VARCHAR},
      filed_date = #{filedDate,jdbcType=VARCHAR},
      filing_type = #{filingType,jdbcType=VARCHAR},
      fling_number = #{flingNumber,jdbcType=VARCHAR},
      jurisdiction = #{jurisdiction,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      public_note = #{publicNote,jdbcType=LONGVARCHAR},
	full_report_id = #{fullReportId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertSelective" parameterType="com.mika.credit.common.entity.report.en.PublicRecords" >
    insert into public_records
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="crefoNo != null" >
        crefo_no,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="filedBy != null" >
        filed_by,
      </if>
      <if test="filedDate != null" >
        filed_date,
      </if>
      <if test="filingType != null" >
        filing_type,
      </if>
      <if test="flingNumber != null" >
        fling_number,
      </if>
      <if test="jurisdiction != null" >
        jurisdiction,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="publicNote != null" >
        public_note,
      </if>
      <if test="fullReportId != null" >
        full_report_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=VARCHAR},
      </if>
      <if test="crefoNo != null" >
        #{crefoNo,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="filedBy != null" >
        #{filedBy,jdbcType=VARCHAR},
      </if>
      <if test="filedDate != null" >
        #{filedDate,jdbcType=VARCHAR},
      </if>
      <if test="filingType != null" >
        #{filingType,jdbcType=VARCHAR},
      </if>
      <if test="flingNumber != null" >
        #{flingNumber,jdbcType=VARCHAR},
      </if>
      <if test="jurisdiction != null" >
        #{jurisdiction,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="publicNote != null" >
        #{publicNote,jdbcType=LONGVARCHAR},
      </if>
      <if test="fullReportId != null" >
        #{fullReportId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateSelective" parameterType="com.mika.credit.common.entity.report.en.PublicRecords" >
    update public_records
    <set >
      <if test="amount != null" >
        amount = #{amount,jdbcType=VARCHAR},
      </if>
      <if test="crefoNo != null" >
        crefo_no = #{crefoNo,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="filedBy != null" >
        filed_by = #{filedBy,jdbcType=VARCHAR},
      </if>
      <if test="filedDate != null" >
        filed_date = #{filedDate,jdbcType=VARCHAR},
      </if>
      <if test="filingType != null" >
        filing_type = #{filingType,jdbcType=VARCHAR},
      </if>
      <if test="flingNumber != null" >
        fling_number = #{flingNumber,jdbcType=VARCHAR},
      </if>
      <if test="jurisdiction != null" >
        jurisdiction = #{jurisdiction,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="publicNote != null" >
        public_note = #{publicNote,jdbcType=LONGVARCHAR},
      </if>
      <if test="fullReportId != null" >
        full_report_id = #{fullReportId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>