<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		*{margin: 0;padding: 0;border: 0;list-style: none;color: #494949;font-family: "微软雅黑";  }
        img{vertical-align: middle}
	</style>
</head>
<body>
<!-- 整个页面 background: #fcfcfb-->

<div  style="width: 580px;height: auto;background: #FAF9F9;margin: 0 auto;padding-bottom:70px">
    <!-- top + banner -->
    <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;width: 580px;margin:0 auto;">
        <tr style="background: #171616;">
            <td style="height:28px;overflow: hidden;padding-left: 10px;background: #444444;">
                <a href="http://192.168.1.183:8080" style="display: block;">
                    <img src="$emailImagesPath/elogo.png" alt="logo" style="height: 28px;width:auto">
                </a>
            </td>
            <td style="text-align:right;font-size:12px;line-height: 40px;padding-right: 10px;background: #444444;">
                <img src="$emailImagesPath/fxq-email.png" alt="Email" style="vertical-align:middle;width: 16px;height: 16px">
                <a href="mailto:info@cnBIZsearch.com" style="text-decoration: none;color: #fff;font-size: 12px">Email：info@cnBIZsearch.com</a>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="width:580px;height:175px;background: #288FC9;overflow: hidden">
                <img src="$emailImagesPath/fxq-bannerEN.png" alt="banner" style="width: 100%;height: 100%;border: 0;vertical-align:middle;">
            </td>
        </tr>
    </table>
	<!-- content -->
	<div style="padding: 40px 60px 10px;">
		<div>
			<div style="color: #0872b0;font-size: 22px;font-weight: bold;">
				<a style="color: #0872b0;font-size: 20px">$toAddress</a>
				<div style="color: #0872b0">welcomes the use of the cnBIZsearch</div>
			</div>
			<div style="color: #494949;font-size: 16px;margin:20px 0;padding-right: 50px">The report has been sent succes<b></b>sfully. Please <a href="$url" style="text-decoration: outline;color: #3C70BF"> click the link to view the report.</a>
			</div>
		</div>
		<div style="font-size: 12px;line-height: 20px;color: #000;margin:30px 0">
			<div style="font-size: 17px;margin-bottom: 18px;color: #ab2828">Is there a problem with the order?</div>
			<div>You can send the question to the message
				<a href="mailto:cnBIZsearch@3aredit.cn" style="font-size: 12px;text-decoration:underline;color:#ab2828">global@3acredit.cn</a>
				<br>within 6 hours of receipt of the message.
			</div>
			<div>All rights res<b></b>erved 2016-2020 Gl<b></b>obal Hawk All rights reserved.</div>
			<div>It is advi<b></b>sable to read the Terms and Conditions carefu<b></b>lly before using the user.</div>
		</div>
	</div>
    <!-- 四个模块 -->
    <div style="width:94%;background:#fff;margin:0 auto;padding-bottom:40px">
        <div style="width: 50%;text-align:center;float: left;padding-top: 40px;">
            <img src="$emailImagesPath/fxq-1.png" alt="">
            <h5 style="height:38px;font-size: 14px;margin: 20px 0 10px 0;letter-spacing: 2px">Cr<b></b>edit infor<b></b>mation</h5>
            <p style="word-break:break-all;font-size: 12px;color: #888888;padding:0 20px;line-height: 20px">Global Hawk integr<b></b>ates a num<b></b>ber of field certi<b></b>fication bodies and local opera<b></b>tions compan<b></b>ies around the wo<b></b>rld to pro<b></b>vide profes<b></b>sional busin<b></b>ess certi<b></b>fication servi<b></b>ces.</p>
        </div>
        <div style="width: 50%;text-align:center;float: left;padding-top: 40px;">
            <img src="$emailImagesPath/fxq-2.png" alt="" >
            <h5 style="height:38px;font-size: 14px;margin: 20px 0 10px 0;letter-spacing: 2px">Acco<b></b>unts Rec<b></b>eivable Manage<b></b>ment</h5>
            <p style="word-break:break-all;font-size: 12px;color: #888888;padding:0 20px;line-height: 20px">Global Ha<b></b>wk inte<b></b>grates a nu<b></b>mber of field certif<b></b>ication bod<b></b>ies and loc<b></b>al opera<b></b>tions com<b></b>panies around the wor<b></b>ld to pr<b></b>ovide prof<b></b>essional busi<b></b>ness certi<b></b>fication se<b></b>rvices.</p>
        </div>
        <div style="width: 50%;text-align:center;float: left;padding-top: 40px;">
            <img src="$emailImagesPath/fxq-3.png" alt="" >
            <h5 style="height:38px;font-size: 14px;margin: 20px 0 10px 0;letter-spacing: 2px">Cre<b></b>dit certific<b></b>ation</h5>
            <p style="word-break:break-all;font-size: 12px;color: #888888;padding:0 20px;line-height: 20px">Global Hawk integ<b></b>rates a number of field certif<b></b>ication bodies and local opera<b></b>tions compa<b></b>nies around the world to provide professi<b></b>onal busin<b></b>ess certifi<b></b>cation ser<b></b>vices.</p>
        </div>
        <div style="width: 50%;text-align:center;float: left;padding-top: 40px;">
            <img src="$emailImagesPath/fxq-4.png" alt="" >
            <h5 style="height:38px;font-size: 14px;margin: 20px 0 10px 0;letter-spacing: 2px">Global Eagle</h5>
            <p style="word-break:break-all;font-size: 12px;color: #888888;padding:0 20px;line-height: 20px">Global Ha<b></b>wk integr<b></b>ates a nu<b></b>mber of field certif<b></b>ication bodies and local opera<b></b>tions compan<b></b>ies around the wo<b></b>rld to provide profess<b></b>ional bus<b></b>iness certificat<b></b>ion services.</p>
        </div>
        <div style="clear: both"></div>
    </div>
</div>
</body>
</html>